@charset "utf-8";


/* popup layout */
.popPayBtn{ float: right;margin-top: 10px;margin-bottom: 5px;}
.tb-st th .payDivTile{text-align: center;}


/* btn */
.btn_add{background:url('/sys/images/eaccounting/plus.JPG') no-repeat center center;background-size:20px auto;}
.btn_minus{background:url('/sys/images/eaccounting/minus.JPG') no-repeat center center;background-size:20px auto;}


/*  */
.textRigh{text-align: righ;}