@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /* 본고딕 */
@import "eacc_component.css";
@import "eacc_space.css";

/*
 * Project		:	헬로컴퍼니 2017
 * File			:	common.css
 * Author		:	youngjae lee
 * Date			:	Aug 2016.
 * Description	:	문서 초기화,웹폰트,글로벌 클래스 네임,레이아웃
 */
 
 /*  ----------
	web reset
	----------  */
	
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, a, img, p, span, address, table, caption, colgroup, col, thead, tbody, tr, th, td, dl, dt, dd, form, fieldset, legend, label, textarea, select, input, button{margin:0; padding:0;}
img, fieldset{border:none;}
dl, ul, ol, li{list-style:none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
select, input, img, textarea, button{vertical-align:middle;}
body, th, td, input, select, textarea, button{font-family:'Nanum Gothic', '나눔고딕', sans-serif !important; font-size:12px; font-weight:normal; color:#414141; overflow-x:hidden;}
h1, h2, h3, h4, .font_bon{font-family:'Noto Sans KR', '본고딕', sans-serif;}
a:link, a:visited{color:inherit; text-decoration:none;}
a:hover, a:active{text-decoration:none;}
address, caption, cite, code, dfn, em, var{font-style:normal; font-weight:normal;}
iframe{border:none; width:100%; height:100%;}
table{border-spacing:0; border-collapse:collapse;}
.skip, caption, legend{width:1px; height:1px; font-size:0; line-height:0; position:absolute; left:-999px; overflow:hidden; visibility:hidden;}

input:-webkit-autofill {-webkit-box-shadow:0 0 0px 1000px #e3e8ee inset; -webkit-text-fill-color:#555d65 !important;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#989898;font-size:12px;}
::-moz-placeholder { /* Firefox 19+ */ color:#989898;font-size:12px;}
:-ms-input-placeholder { /* IE 10+ */ color:#989898;font-size:12px;}
:-moz-placeholder { /* Firefox 18- */ color:#989898;font-size:12px;}

 /*  ----------
	Font Style
	-----------  */
	
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}
 
 /*  ------------------
	Global ClassName
	-------------------  */
	
/* 텍스트 제공 타입 */
.ir-pm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa{display:block; overflow:hidden; position:relative; z-index:-10; width:100%; height:100%;} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out{overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.ellipsis{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;} /* 한줄 말 줄임 : width 값은 따로 설정해주어야함 */
.ellipsis02{overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; line-height:1.6em; height:3.2em;}
.ellipsis03{overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; word-wrap:break-word; line-height:1.6em; height:4.8em;}
strong:after {content:'*';display:inline-block;margin-left:5px;color:#3494f3;font-weight:bold;font-size:14px;}

/* useful */
.dimm{position:fixed;top:0;left:0;bottom:0;right:0;z-index:95;background:#000000 !important;opacity:0.5;filter:alpha(opacity=50);}
.cl-b {clear:both;}
.show {display:block}
.hide {display:none}
.t-l{text-align:left !important;}
.t-c{text-align:center !important;}
.t-r{text-align:right !important;}
.overflow{overflow:hidden;}
.enter{white-space:pre-wrap;}
.cur-po{cursor:pointer !important;}

/* 위치 속성 공통 클래스 */
.f-l {float:left;}
.f-r {float:right;}
.rel {position:relative;}
.ab {position:absolute; z-index:1;}
.ab-l {position:absolute; top:0; left:0;}
.ab-r {position:absolute; top:0; right:0;}
.ab-n {position:inherit;}
.btn-r {position:absolute; top:0px; right:15px;}
.center {position:absolute; left:50%;}
.middle {position:absolute; top:50%;}

/* 텍스트 데코 */
.bold {font-weight:bold;}
.ps {font-weight:bold;}
.ps:before {content:'*';display:inline-block;margin-left:5px;color:#3494f3;font-weight:bold;font-size:14px;}
.txt-red {color:red;}
.txt-green {color:#1fb5ac;}
.txt-blue {color:#5689cc;}

/* loading bar */
#loading {position:fixed;_position:absolute;top:0px;left:0px;width:100%;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.loading {background-color:transparent;z-index:199;}
#loading_img{position:absolute;top:50%;left:50%;height:35px;margin-top:-75px;margin-left:-75px;z-index:200;}

.wrapLoad {}
.wrapLoad .dim {position:fixed; top:0; left:0; bottom:0; right:0; z-index:100; background:#000000 !important; opacity:0.7; filter:alpha(opacity=70); -ms-filter:alpha(opacity=70);}
.wrapLoad .loadCont {position:fixed; top:50%; left:50%; width:300px; height:100px; margin:-50px 0 0 -150px; text-align:center; z-index:105;}
.wrapLoad .loadTrs {position:relative; width:60px; height:60px; margin:0 auto;
							-moz-animation:spin 1.5s infinite linear;
							-webkit-animation:spin 1.5s infinite linear;
							animation:spin 1.5s infinite linear;}
.wrapLoad .loadTrs > span {display:block; position:absolute; width:10px; height:10px; background-color:#ffffff;
									-moz-border-radius:50%;
									-webkit-border-radius:50%;
									border-radius:50%;}
.wrapLoad .loadTrs > .ball01 {top:0; left:25px}
.wrapLoad .loadTrs > .ball02 {top:8px; left:42px}
.wrapLoad .loadTrs > .ball03 {top:25px; left:50px}
.wrapLoad .loadTrs > .ball04 {top:42px; left:42px}
.wrapLoad .loadTrs > .ball05 {top:50px; left:25px}
.wrapLoad .loadTrs > .ball06 {top:42px; left:8px; opacity:0.8}
.wrapLoad .loadTrs > .ball07 {top:25px; left:0; opacity:0.5}
.wrapLoad .loadTrs > .ball08 {top:8px; left:8px; opacity:0.3}
.wrapLoad .loadTxt {margin-top:20px; color:#ffffff; font-size:1.125em; font-weight:bold}

@keyframes spin{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}
@-webkit-keyframes spin{
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(-360deg)}
}
@-moz-keyframes spin{
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(-360deg)}
}
@-ms-keyframes spin{
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(-360deg)}
}
@-o-keyframes spin{
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(-360deg)}
}

/* webkit-scroll bar custom (safari) */
.nav::-webkit-scrollbar {width:0px}
.nav::-webkit-scrollbar-track {background:transparent;}
.nav::-webkit-scrollbar-thumb {-webkit-border-radius:0px;border-radius:0px;background:#ccc}
.nav::-webkit-scrollbar-thumb:window-inactive {background:#ccc}

.section::-webkit-scrollbar {width:0px}
.section::-webkit-scrollbar-track {background:#f2f2f2;}
.section::-webkit-scrollbar-thumb {-webkit-border-radius:0px;border-radius:0px;background:#f2f2f2}
.section::-webkit-scrollbar-thumb:window-inactive {background:#f2f2f2}

 /*  -----------------------
	 layout / common style
	------------------------  */

/* whole layout */
#wrapper{width:100%; height:100%; overflow:hidden;}
#header{min-width:980px; max-width:100%; height:52px; border-bottom:3px solid #e5e5e5; background:#fff;}
#main {position:absolute;bottom:0;right:0;left:0;overflow:hidden;}
#aside {position:fixed;z-index:1;left:0;width:200px;overflow:hidden;transition:0.3s;background:#71b1d1;}
#section {transition:margin-left .3s;overflow:hidden;background:#fff;}
#nav-list {transition:0.1s;}
#container {float:left;overflow-y:hidden;overflow-x:hidden;width:100%;padding:15px 0;height:100%;}
#container .cont-inner {position:relative;padding:0 15px;height:100%;}
#container .cont-inner.scl {overflow:hidden;overflow-y:auto !important;}
.scl {overflow:hidden;overflow-y:auto !important;}

/* Header */
.headerLogo{margin-left:25px; display:inline-block; float:left; padding:11px 0 10px 45px; color:#fff; background:url("/sys/images/2017/web01/common/mainLogo.png") no-repeat left 12px;}
.headerLogo.type01{background-image:none; padding:9px 0;}
.headerLogo.type01 img{width:230px; height:auto;}
.headerLogo span.small{font-size:12px; display:inline-block; color:#fff; margin-left:3px;}

/* GNB*/
div.gnbWrap{display:inline-block; margin-left:-94px;}
ul#gnbList{position:relative; z-index:100;}
ul#gnbList li{float:left; display:inline; position:relative;}
ul#gnbList>li{padding:0 14px; background:url("/sys/images/2017/web01/common/mainGnbDot.png") no-repeat left center;}
ul#gnbList>li:first-child{background:none;}
ul#gnbList>li>a{width:100px; height:23px; padding:20px 0 17px; text-align:center; float:left; display:block; color:#ffffff; font-size:14px; font-weight:bold;}
ul#gnbList li.selected a {color:#71b1d1;}
/* 2depth */
ul#gnbList ul{width:160px; /* Sub Menu Width */ display: none; position:absolute; top:100%; left:14px;}
ul#gnbList ul li{width:100%; display:block;}
ul#gnbList ul li a{width:100px; height:23px; padding:13px 0 5px; text-align:center; float:left; display:block; color:#ffffff; font-size:14px; font-weight:bold;}
/* 3depth, 4depth */
ul#gnbList ul ul,ul#gnbList ul ul ul{top:0; left:100%; }
/* Root Menu Hover Persistence */
ul#gnbList a:hover,ul#gnbList li:hover a,ul#gnbList li.iehover a{background:#3e84a4; color:#ffffff;}
/* 2nd Menu */
ul#gnbList li ul{box-sizing:border-box; -moz-box-sizing:border-box; border:1px solid #d1d1d1; border-top:none;}
ul#gnbList li:hover li a, ul#gnbList li.iehover li a{float:none; background:#ffffff; color:#519bbd; font-size:13px; text-align:left; padding-left:8px; width:150px;}
/* 2nd Menu Hover Persistence */
ul#gnbList li:hover li a:hover,ul#gnbList li:hover li:hover a,ul#gnbList li.iehover li a:hover,ul#gnbList li.iehover li.iehover a{background:#f3f3f3;}
/* 3rd Menu */
ul#gnbList li:hover li:hover li a,ul#gnbList li.iehover li.iehover li a{background:#ffffff;}
/* 3rd Menu Hover Persistence */
ul#gnbList li:hover li:hover li a:hover,ul#gnbList li:hover li:hover li:hover a,ul#gnbList li.iehover li.iehover li a:hover,ul#gnbList li.iehover li.iehover li.iehover a{background:#f3f3f3;}
/* Hover Function - Do Not Move */
ul#gnbList li:hover ul ul,ul#gnbList li:hover ul ul ul,ul#gnbList li.iehover ul ul,ul#gnbList li.iehover ul ul ul{display: none;}
ul#gnbList li:hover ul,ul#gnbList ul li:hover ul,ul#gnbList ul ul li:hover ul,ul#gnbList li.iehover ul,ul#gnbList ul li.iehover ul,ul#gnbList ul ul li.iehover ul{display: block;}

.gnbSide{float:right; color:#fff; font-size:12px; font-weight:bold; margin-right:25px;}
.gnbSide .userInfo{display:inline-block; height:60px; line-height:60px; padding-right:10px; background:url("/sys/images/2017/web01/common/line.png") no-repeat right center}
.gnbSide .userImage{display:inline-block; width:40px; height:40px; border-radius:40px; overflow:hidden; vertical-align:middle; margin-right:3px;}
.gnbSide .userImage img{width:100%; min-height:40px; height:auto; vertical-align:top;}

.gnbSide .userName{display:inline-block;}
.gnbSide .mainLogoutBtn{padding-left:10px;}

/*  -----------------------------
	jquery plugin style / calendar
	-------------------------------  */

.yearText:after{content:'년'}
.gldp-flatwhite{position:fixed;padding:6px 0 6px 6px;background-color:#e3e8ef;font-size:12px;
box-shadow:0px 0px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
   -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	 -o-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
.gldp-flatwhite .core{float:left;position:relative;background-color:#ffffff;text-align:center;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}
.gldp-flatwhite .monyear,
.gldp-flatwhite .monyear select{margin-top:0px;background-color:#318eb8;color:#fff}
.gldp-flatwhite .monyear span{margin:0 5px}
.gldp-flatwhite .prev-arrow,
.gldp-flatwhite .next-arrow{text-shadow:none; font-size:16px; width:20px; height:20px;}
.gldp-flatwhite .prev-arrow:hover,
.gldp-flatwhite .prev-arrow:focus,
.gldp-flatwhite .prev-arrow:active,
.gldp-flatwhite .next-arrow:hover,
.gldp-flatwhite .next-arrow:focus,
.gldp-flatwhite .next-arrow:active{color:#fff;}
.gldp-flatwhite .prev-arrow-off,
.gldp-flatwhite .next-arrow-off{color:#cfcfcf}
.gldp-flatwhite .dow{background-color:#fff;cursor:default;color:#5c6c76; font-weight:bold;}
.gldp-flatwhite .sat{color:blue}
.gldp-flatwhite .sun{color:red}
.gldp-flatwhite .outday{color:#cfcfcf !important}
.gldp-flatwhite .mon,
.gldp-flatwhite .tue,
.gldp-flatwhite .wed,
.gldp-flatwhite .thu,
.gldp-flatwhite .fri,
.gldp-flatwhite .sat,
.gldp-flatwhite .sun,
.gldp-flatwhite .selected{
border:2px solid #ffffff;
-webkit-border:2px solid #ffffff;
   -moz-border:2px solid #ffffff;
    -ms-border:2px solid #ffffff;
     -o-border:2px solid #ffffff;
}
.gldp-flatwhite .mon:hover,
.gldp-flatwhite .tue:hover,
.gldp-flatwhite .wed:hover,
.gldp-flatwhite .thu:hover,
.gldp-flatwhite .fri:hover,
.gldp-flatwhite .sat:hover,
.gldp-flatwhite .sun:hover{background-color:#eeeeee}
.gldp-flatwhite .noday{color:#f9f9f9;cursor:wait !important}
.gldp-flatwhite .selected{border:2px solid #2a7fb8;background:#2a7fb8 !important;color:#ffffff;font-weight:bold}
.gldp-flatwhite .today{border:2px solid #2a7fb8;color:#2a7fb8;font-weight:bold}


 /*  ----------------------------------
	jquery plugin style / file download
	------------------------------------  */
	
.attachFile{display:block;height:22px;margin-bottom:5px}
.jquery-filestyle {display:inline-block;padding:4px 20px;background:#fff;border:1px solid #3494f3;color:#3494f3 !important;font-size:12px;cursor:pointer}}
.jquery-filestyle label{padding:0 20px}
.jquery-filestyle *{color:inherit !important;vertical-align:top;cursor:pointer}
.fileDownLst .btnType01{margin-left:5px}
.fileDownLst > .MultiFile-label{margin-top:5px}
.fileDownLst > .MultiFile-label:first-child{margin-top:0}
.MultiFile-label{font-size:12px; padding-bottom:5px;}
.MultiFile-remove{float:left;display:inline-block;margin:1px 3px 0 0;}
.icn_fileDel{display:inline-block;height:8px;line-height:1.0;padding:0px 3px 8px 3px;background:#3494f3;}
.icn_fileDel img{width:8px;height:8px}
.MultiFile-export{display:inline-block;width:15px;padding:0 5px;border:1px solid #cccccc;text-align:right;vertical-align:middle}
.MultiFile-export input{width:100%;padding-top:2px;line-height:1em;background:none;color:#4f525a;font-size:12px;font-weight:normal;text-align:right;outline:none}
.MultiFile-title {display:inline-block; vertical-align:middle;}

.fileLst02 > li{margin-top:3px}
.fileLst02 > li:first-child{margin-top:0}
.fileLstDown{display:inline-block;padding-left:12px;background:url(/sys/images/web/icon_file_list.png) left 5px no-repeat;vertical-align:top}
.fileLstDown:hover,
.fileLstDown:focus{color:#fb6e52;text-decoration:underline}
.btnAdd{position:absolute;top:15px;right:20px}

.imgFile, .docFile {position:relative;}
.imgFile .attach-i, .docFile .attach-i {position:absolute;left:90px;top:4px;color:#2872bb;}
.fileWrap {padding:3px 0 0;}
.fileWrap.type-inline {position:relative;width:100%;height:30px;padding:0;}
.fileWrap.type-inline .attachFile {position:absolute;top:6px;margin:0;display:inline-block;}
.fileWrap.type-inline .fileList {position:absolute;left:90px;top:5px;margin:0;padding:0;display:inline-block;border:none;}
.fileList, .imgFileList, .docFileList {box-sizing:border-box;padding:5px;overflow-y:auto;border:1px solid #e0e0e0;}
.fileList {border:none;}

.btnFile{display:inline-block;position:relative;vertical-align:top}
.btnFile a{display:inline-block;height:12px;line-height:12px;padding:4px 20px;border:1px solid #41515d;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#41515d !important;font-size:12px;vertical-align:top;z-index:10}
.btnFile input{overflow:hidden;position:absolute;top:2px;left:2px;width:0;height:0;border:none;background:none}
.btnAdd{position:absolute;top:15px;right:20px}

 /*  -----------
	프린트설정
	------------  */
	
@media print {
    .price_match_no_print {
        display:none !important;
    }
}
@page a4sheet{size:21.0cm 29.7cm}
.a4{page:a4sheet; page-break-after;always}
.expnSignLst .expnApprSts{float:left;width:40%;margin-top:7px;margin-left: 5px;}
.apprTitType{padding-bottom:5px;padding-left:7px;color:#4c4c4c;font-size:16px;font-weight:bold;text-indent:-7px}
.apprTitType:before{content:'| ';color:#fb6e52}
.estmtLst > li{margin-top:20px}
.estmtLst > li:first-child{margin-top:0}
.estmtPrsn{position:absolute;z-index:999;top:0px;left:24px;}
.estmtPrsn.admin{position:absolute;z-index:999;top:10px;left:24px;}
.estmtPrsn:after{content:'';display:block;overflow:hidden;line-height:0;clear:both}
.estmtPrsn > *{float:left}

.prsnAddArea{min-height:0 !important;height:20px;line-height:19px;}
.estmtPrsn02{position:absolute;z-index:999;top:10px;left:24px;}
.estmtPrsn02:after{content:'';display:block;overflow:hidden;line-height:0;clear:both}
.estmtPrsn02 > *{float:left}
.estmtPrsn02 > .tit-inq{margin-right:10px}
                    
                    
 /*  -------------
	POPUP Style
	--------------  */
	
/* 메인 팝업 CSS변경 2017-01-10 */
.pure-pop-wrap{box-sizing:border-box !important;width:auto !important;height:573px !important;background:#fff !important;}
.pure-pop-wrap .pop-header {box-sizing:border-box;height:35px; line-height:35px; background:#1b2a39;}
.pure-pop-wrap .pop-header h3 {display:inline-block; color:#1b2a39; background:#fff; padding:0 15px;}
.pure-pop-wrap .pop-body {box-sizing:border-box; overflow-y:auto !important; position:relative; height:493px !important; padding-bottom:10px;}
.pure-pop-wrap .pop-body-inner {box-sizing:border-box;height:100%; padding:15px 20px 0;} 
.pop-option {position:fixed; left:0; bottom:0; width:100%; height:35px; line-height:35px; background:#1b2a39; text-align:right;}
.pop-option .chk-st{display:inline-block; padding:0 20px 0 5px; height:35px; line-height:35px; background:#fff; position: relative; padding-top:-5px;}
.pop-option .chk-st input[type="checkbox"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0 }
.pop-option .chk-st input[type="checkbox"] + label {display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; line-height:21px;}
.pop-option .chk-st input[type="checkbox"] + label:before {content: ' '; display: inline-block; width: 21px; /* 체크박스의 너비를 지정 */ height: 21px; /* 체크박스의 높이를 지정 */ line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */ margin: 2px 8px 0 0; text-align: center; vertical-align: middle; background: #fafafa; border: 1px solid #cacece; border-radius : 3px; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); }
.pop-option .chk-st input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }
.pop-option .chk-st input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */ content: '\2714'; /* 체크표시 유니코드 사용 */ color: #99a1a7; text-shadow: 1px 1px #fff; background: #e9ecee; border-color: #adb8c0; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); }

 /*  ---------------------
	Mobile LAYER POPUP
	-----------------------  */
	
.popArea{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100}
.popDimm{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:#000000;opacity:0;z-index:110}
.popWrap{position:fixed;top:50%;left:50%;width:280px;margin-left:-140px;z-index:120;
perspective:600px;
-webkit-perspective:600px;
   -moz-perspective:600px;
	-ms-perspective:600px;
	 -o-perspective:600px;
}
.popWrap.type02{width:230px;margin-left:-115px;}
.popFront,
.popBack{position:absolute;top:0;left:0;right:0;bottom:0;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:0;
transform-style:preserve-3d;
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	 -o-transform-style:preserve-3d;
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	 -o-backface-visibility:hidden;
}
.popFront{background-color:#ffffff;opacity:0}
.popBack{background-color:#fb6e52}
.popArea.on{display:block}
.popArea.on .popDimm{
animation:popDimm 0.4s forwards;
-webkit-animation:popDimm 0.4s forwards;
   -moz-animation:popDimm 0.4s forwards;
	-ms-animation:popDimm 0.4s forwards;
	 -o-animation:popDimm 0.4s forwards;
}
.popArea.on .popFront{
animation:popFront 1.2s ease-in-out forwards;
-webkit-animation:popFront 1.2s ease-in-out forwards;
   -moz-animation:popFront 1.2s ease-in-out forwards;
	-ms-animation:popFront 1.2s ease-in-out forwards;
	 -o-animation:popFront 1.2s ease-in-out forwards;
}
.popArea.on .popBack{
animation:popBack 1.2s ease-in-out forwards;
-webkit-animation:popBack 1.2s ease-in-out forwards;
   -moz-animation:popBack 1.2s ease-in-out forwards;
	-ms-animation:popBack 1.2s ease-in-out forwards;
	 -o-animation:popBack 1.2s ease-in-out forwards;
}
.popArea.close{opacity:0}
.popTit{position:absolute;top:0;left:0;right:0;padding:8px 15px;border-bottom:1px solid #e6e6ee;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;background-color:#ffffff;color:#fb6e52;font-size:0.750rem;font-weight:bold;z-index:10}
.popInner{overflow:hidden;position:relative;padding:48px 10px 12px}
.popInner.type02{padding-top:64px}
.popInner.type03{padding:25px;}
.popArea .btnWrap{margin-top:20px}
.popArea .btnWrap.type02{margin-top:30px;}
.popArea .btnWrap.type02 a{margin:0 2px}
.popCfm .txtCfm{text-align:center;font-size:20px;}
.popCfm .accent{color:#fb6e52 !important}
.popCfm .btnType01{display:inline-block;padding:0 50px;margin-left:52px !important;}

.popArea.type02 .popFront,
.popArea.type02 .popBack{
animation:popOpen 0.4s forwards;
-webkit-animation:popOpen 0.4s forwards;
   -moz-animation:popOpen 0.4s forwards;
	-ms-animation:popOpen 0.4s forwards;
	 -o-animation:popOpen 0.4s forwards;
transform-style:initial;
-webkit-transform-style:initial;
   -moz-transform-style:initial;
	-ms-transform-style:initial;
	 -o-transform-style:initial;
backface-visibility:initial;
-webkit-backface-visibility:initial;
   -moz-backface-visibility:initial;
	-ms-backface-visibility:initial;
	 -o-backface-visibility:initial;

}


@-webkit-keyframes popDimm{
	0%{opacity:0}
	100%{opacity:0.5}
}
@-webkit-keyframes popOpen{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes popFront{
	0%{color:#ffffff;z-index:900;opacity:0;
	-webkit-transform:rotateY(180deg) translate(0);
	   -moz-transform:rotateY(180deg) translate(0)}
	30%{opacity:0;
	-webkit-transform:rotateY(180deg) translate(0);
	   -moz-transform:rotateY(180deg) translate(0)}
	70%{opacity:0;}
	100%{opacity:1;z-index:1000;
	-webkit-transform:rotateX(0deg) rotateY(0deg);
	   -moz-transform:rotateX(0deg) rotateY(0deg)}
}
@-webkit-keyframes popBack{
	0%{z-index:1000;opacity:0;
	-webkit-transform:rotateX(0deg) rotateY(0deg) translate(-80px);
	   -moz-transform:rotateX(0deg) rotateY(0deg) translate(-80px)}
	30%{opacity:1;
	-webkit-transform:rotateY(0deg) translate(0);
	   -moz-transform:rotateY(0deg) translate(0)}
	100%{opacity:1;z-index:900;
	-webkit-transform:rotateY(-180deg);
	   -moz-transform:rotateY(-180deg)}
}

/* 팝업  관련 CSS CLASS 추가  2016-10-06 */
.print-container{padding: 10px 10px;margin-bottom: 20px;}
.print-frm{padding: 5px;}
.head-wrap{width: 100%;text-align: center;}
.head-tit{display: inline-block;height: 25px;line-height: 25px;width:150px;border-radius: 10px;padding: 10px 10px;font-weight: bold;font-size: 25px;border:1px solid;font-family: '맑은 고딕',verdana,arial,helvetica,sans-serif;}
.memo-cont{padding: 25px;font-size: 16px !important;font-family: '맑은 고딕',verdana,arial,helvetica,sans-serif;}

/* 해상도 낮을 때 상단 깨지는 부분 관련 CSS추가 2016-10-26 */
@media all and (max-width:1224px){
	
	.user-info>span{padding-left:0; background:none;}
	.logout>a{padding-left:0; background:none;}
	
}

/* 전표 테이블 스타일 CSS추가 2017-01-05 */
.borLeftNone{width:100%}
.borLeftNone>tr>td:first-child{border-left:none;}


