@charset "utf-8";
/*
 * Project		:	헬로컴퍼니_선진
 * File			:	sub_common.css
 * Author		:	minhye han
 * Date			:	Aug 2016.
 * Description	:	버튼,테이블,게시판,기본 블릿,텍스트,타이틀,form 요소 공통 스타일,메인 컬러 #3975be
 */

/* box-style */ 
.has-btn-title {width:100%;height:30px;}
.has-btn-title .tit-cont {position:absolute;top:5px;}
.fl-box {float:left}
.inq-area-top {float:left;width:100%;}
.inq-area-top.type02 {position:absolute;z-index:1;right:13px;top:0;float:none;width:auto;}
.inq-area-inner {margin:23px 0 0 15px;}
.inq-area-inner.type02 {margin:--2px 0 0 90px;}
.inq-area-inner.type03 {margin:-7px 0 0 80px;}
.inq-area-inner.type04 {margin:-7px 0 0 140px;}
.inq-area-inner.type05 {margin:3px 0 0 125px;}
.inq-area-inner.type06 {margin: 25px 0 0 20px;}
.panel-wrap {position:relative;width:100%;}
.panel-wrap01,.panel-wrap02,.panel-wrap03,.panel-wrap04,.panel-wrap05,.panel-wrap06 {position:relative;}
.inner-layout-wrap {position:relative;box-sizing:border-box;/* .inner-layout-01.top이 들어갈 padding 값 스크립트에서 설정 */}
.inner-layout-01.top-area {position:absolute;top:0;}
/* 레이아웃 변경으로 임시 삭제 .inner-layout-01.top {position:relative;padding-right:300px;인라인에 높이값 설정} */
.inner-layout-01.top .left-box {width:100%;height:100%;}
.inner-layout-01.top .right-box {position:absolute;right:0;top:0;width:290px;height:100%;}
.inner-layout-01.bottom {/* 스크립트에서 높이값 설정 */}
.inner-layout-02.top-area {position:absolute;top:0;}
.inner-layout-02.top {position:relative;width:100%;/* 인라인에 높이값 설정 */}
.inner-layout-02.bottom {/* 스크립트에서 높이값 설정 */}

/* title style */
.panel-tit {position:absolute;top:5px;display:inline-block;margin-left:5px;padding-left:5px;color:#4c4c4c;font-size:14px;font-weight:bold;line-height:1em;border-left:2px solid #124678;}
.panel-tit.type02 {position:inherit;display:block;}
.tit-cont {display:inline-block;margin-left:2px;padding-left:5px;color:#4c4c4c;font-size:14px;font-weight:bold;line-height:1em;border-left:2px solid #3975be;}
.tit-cont.type02 {display:block;}
.tit-inq {float:left;display:inline-block;padding-right:10px;line-height:28px;font-size:13px;}
.tit-inq.type02 {float:none;padding-left:10px;}
.bullet-tit {display:inline-block;padding-left:10px;margin:0 10px 0 5px;line-height:28px;font-size:13px;background:url(/sys/images/common/bull.png) left 10px no-repeat;}
.prd {line-height:27px;}

/* table style */
.tb-wrap {display:inline-block;width:100%;border-top:1px solid #d8d8d8;}
.tb-wrap.type02 {border:1px solid #d8d8d8;border-bottom:none;}
.tb-wrap.type03 {border-top:2px solid #2a7fb8;}
.tb-st {width:100%;table-layout:fixed;word-break:break-all;border-bottom:1px solid #d8d8d8;}
.tb-st th,
.tb-st td {box-sizing:border-box;height:30px;padding:4px 10px; background:#fff; border-bottom:1px dashed #d8d8d8;border-right:1px solid #d8d8d8;text-align:left;}
.tb-st th {background:#e3e8ef;color:#5c6c76;}
.tb-st tr:last-child th,
.tb-st tr:last-child td {border-bottom:none;}
.tb-st td:last-child {border-right:none;}
.tb-st.type01 thead th{border-bottom:1px solid #d8d8d8;}
.tb-st.type02 th,
.tb-st.type02 td {padding:0 10px;text-align:center;}
.tb-st.type03 th,
.tb-st.type03 td {padding:0 10px;height:40px;}
.tb-st.type04 th {padding:0 10px;text-align:center;font-weight:bold;}
.has-table {padding:0 !important;}

/* list style */
.list-st01 {margin:10px 0 0 10px;}
.list-st01 li > *:first-child {width:80px;}

/* paging */
.pagingLst{text-align:center; margin-top:20px;}
.pagingLst li{display:inline-block;}
.pagingLst li a, .pagingLst li span{height:17px; line-height:17px; display:inline-block; padding:0 8px;}
.pagingLst li .pagingNow{background:#666; color:#fff; display:inline-block; padding:0 5px;}
.pagingLst li:first-child a, .pagingLst li:last-child a{padding:0 !important;}

/* tab style */
.tab-depth01{position:relative;border-bottom:1px solid #6189ae}
.tab-depth01.type02 {margin-bottom:40px}
.tab-depth01:after {content:'';display:block;visibility:hidden;height:0;clear:both}
.tab-depth01 > li {float:left;margin-left:-1px;margin-right:3px;border-radius:3px 3px 0 0;border:1px solid #6189ae;border-bottom:none}
.tab-depth01 > li:first-child {margin-left:0}
.tab-depth01 .btn-tab {display:block;padding:7px 20px;background-color:#fff;border-radius:3px 3px 0 0;}
.tab-depth01 .on .btn-tab{background-color:#d6e6f5; color:#276baa;}

.tab-depth02{display:none;position:absolute;bottom:-30px;left:0;right:0;border-bottom:1px dashed #ebebf0}
.tab-depth02:after{content:'';display:block;visibility:hidden;height:0;clear:both}
.tab-depth01 .on .tab-depth02{display:block}
.tab-depth02 > li{float:left;margin:0 10px 2px}
.tab-depth02 .btnTab2{display:block;}
.tab-depth02 .btnTab2:after{content:' ▼'}
.tab-depth02 .on .btnTab2{color:#41515d;font-weight:bold}

.tabBtn{position:absolute;top:0px;right:0}
.tab-contents {width:100%;overflow-y:auto;}

/* 검색,조회 영역-기본 레이아웃 */
.wrap-inq {float:left;display:block;height:28px;line-height:26px;}
.wrap-inq.type-row {margin-top:5px;}
.wrap-inq > * {float:left;}
.wrap-inq > .inq-clmn {padding-left:10px;background:url(/sys/images/common/bull.png) left 10px no-repeat;}
.wrap-inq > .inq-clmn.date-type {margin-right:0;}
.wrap-inq > .inq-clmn > .inp-wrap {float:left;}
.wrap-inq > .sel-wrap {margin-right:5px;}
.wrap-inq > * {display:inline-block;float:left;margin-right:10px;}
.wrap-inq .prd {display:inline-block;margin-top:1px;}
.inp-has-btn {position:relative;padding-right:65px;}
.inp-has-btn .btn {position:absolute;right:0;top:0;}
 
/* form 요소 공통 스타일 */
input,textarea{display:block;width:100%;border:none;background:none;outline:none;resize:none}
.readonly {background-color:#ebebf0 !important;border:1px solid #e0e0e0;}

/* textarea */
.textarea-wrap {/* 스크립트로 높이값 설정이 필요한 곳에 사용한 클래스 */}
.txt-wrap {padding:4px 7px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background-color:#fff;border:1px solid #cdd2da;}
.txt-wrap textarea {line-height:1.5}
.txt-wrap.type02 {box-sizing:border-box;height:100%;}
.txt-wrap.type02 textarea {height:100%;}

/* input type text */
.inp-wrap {position:relative;display:inline-block;box-sizing:border-box;border:1px solid #c9d4dd;background:#fff;}
.inp-wrap.type02 {display:inline-block;vertical-align:top}
.inp-wrap.search {padding: 4px 30px 4px 8px;border:1px solid #c9d4dd;background: url('/sys/images/2017/web/icon/search.png') no-repeat right 5px top 5px;background-size: 15px auto;}
.inp-comm {width:100%;border:none;font-size:13px;line-height:18px;color:#717e89;}
.inp-comm.datePic {box-sizing:border-box;height:28px;padding:5px 25px 4px 6px;border:1px solid #cdd2da;
	background:#fff url('/sys/images/common/ico_cal.png') no-repeat right 5px center;background-size: 17px auto;cursor:pointer;}
.inq-clmn .rdo-wrap {margin:2px 0 0 10px;}
.inp-msg {margin:5px 0;}
.inp-msg input {color:red;}
.inp-wrap .unit {position:absolute;right:-15px;top:10px;}
.infoTextInput{margin-top:-2px; margin-right:5px; display:inline-block; width:100px; text-align:right;}
.inpTxt{height:28px; line-height:28px; padding:0 8px;}

/* input type radio */
.rdo-wrap{display:inline-block;vertical-align:sub}
.rdo-wrap.asset01{position:absolute;left:25px;top:40px;}
.rdo-wrap.bk01{position:absolute;top:55px;}
.rdo-wrap.bk02{position:absolute;top:55px;left:5px}
.rdo-wrap .rdo-st{margin-left:3px}
.rdo-wrap .rdo-st:first-child{margin-left:0}
.rdo-st{display:inline-block;position:relative;min-width:20px;min-height:20px;line-height:1.2;background:url(/images/com/web/icon_radio.png) left 2px no-repeat;vertical-align:top; vertical-align:top}
.rdo-st input[type="radio"]{display:none;position:absolute;top:2px;left:2px;width:0;height:0;line-height:0;border:none;background:none;color:transparent}
.rdo-st label{display:inline-block;padding:5px 0 2px 22px;vertical-align:top;font-size:12px;}
.rdo-st.on{background-position:left -70px}

.rdo-wrap.login .rdo-st{position:relative;display:inline-block;min-width:20px;min-height:20px;line-height:1.2;background:url(/sys/images/web/icon_radio.png) left 2px no-repeat;vertical-align:top}
.rdo-wrap.login .rdo-st input[type="radio"]{display:none;position:absolute;top:2px;left:2px;width:0;height:0;line-height:0;border:none;background:none;color:transparent}
.rdo-wrap.login .rdo-st label{display:inline-block;padding:5px 0 2px 22px;vertical-align:top}
.rdo-wrap.login .rdo-st.on{background-position:left -70px}

/* input type checkbox */
.chk-st{display:inline-block;position:relative;min-width:20px;min-height:20px;line-height:18px;background:url(/sys/images/common/icon_checkbox.png) left 2px no-repeat;vertical-align:top}
.chk-st input[type="checkbox"]{display:none;position:absolute;top:2px;left:2px;width:0;height:0;line-height:0;border:none;background:none;color:transparent}
.chk-st label{display:inline-block;padding:4px 0 2px 20px;vertical-align:top;color:#595e65;}
.chk-st.on{background-position:left -70px}

/* select */
.sel-wrap {box-sizing:border-box;height:28px;padding:3px;background-color:#fff;border:1px solid #c9d4dd;cursor:pointer;}
.sel-wrap.type02 {display:inline-block;vertical-align:top}
.sel-wrap select {display:block;width:100%;height:21px;border:none;background:none;color:#030303;outline:none;cursor:pointer;}
.sel-wrap.type-access {display:none;width:173px;margin-left:15px;margin-bottom:15px;background-color:#414a5b;border:1px solid #333;}
.type-access select {color:#949fb4;}

/* file box */
/* .filebox label {display: inline-block; padding: .5em .75em; color:#fff; font-size: inherit; line-height: normal; vertical-align:middle; background-color:#71b1d1; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } */
/* .filebox input[type="file"] { 파일 필드 숨기기 position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } */

/* .ksUpload{display:inline-block; position:relative; width:80px; cursor: pointer; border:0; height:23px; border-radius: 5px; outline: 0;}
.ksUpload:hover:after{background:#3e84a4;}
.ksUpload:after{transition:200ms all ease; border-bottom:3px solid rgba(0,0,0,.2); background:#71b1d1; text-shadow:0 2px 0 rgba(0,0,0,.2); color:#fff; font-size:13px;
						text-align:center; position:absolute; top:0; left:0; width:100%; height:100%; display:block; content:'파일 첨부'; line-height:23px; border-radius:5px;}
 */
     
.filebox{position:relative; overflow:hidden; cursor:pointer; background:url("/images/icon/web/attachBtn.png");
		width:80px; height:26px; border-radius:5px;}
.filebox input{position:absolute; margin-left:0; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; cursor:pointer !important; width:80px; height:20px; padding:3px 0;}
    
/* 데이터피커 영역 */
.prd-inp-wrap {float:left;display:inline-block;width:220px;overflow:hidden;}
.prd-inp {position:relative;float:left;display:inline-block;width:50%;height:28px;}
.prd-inp .inner{display:block;box-sizing:border-box;height:28px;margin-right:5px;}
.prd-inp:first-child .inner {margin-right:10px;}
.prd-inp:first-child:after {content:"-";display:block;z-index:1;position:absolute;right:2px;top:3px;color:#cdd2da;}
.prd-inp-wrap.type02:after{content:'';display:block;visibility:hidden;height:0;clear:both}/* 데이트피커 입력 style02 */
.prd-inp-wrap.type02 > *{float:left;margin-left:5px;vertical-align:top}

/* button */
.btn {display:inline-block;text-align:center;}
.btn.more {position:absolute;right:20px;top:14px;width:15px;height:15px;line-height:17px;border:1px solid #c0c2c4;color:#9f9da0;}
.btn.comm {padding:7px 18px;}
.btn.comm1{padding:0 18px; border-radius:5px;}
.btn.comm1.st01 {border:1px solid #d8d8d8}
.btn.comm1.st01:hover, .btn.comm1.st01.on {background:#1c87c4; border:1px solid #1c87c4; color:#fff;}
.btn.comm.st01 {background:#8999aa;color:#fff;}
.btn.comm.st02 {background:#1fb5ac;color:#fff;}
.btn.comm.st03 {border:2px solid #318eb8; color:#318eb8; padding:5px 16px;}
.btn.comm.st04 {background:#318eb8;color:#fff;}
/* 승인취소 */.treeCancel{width:77px; height:26px; background:url("/sys/images/2017/web01/treeIcon/new_cancelBtn.gif") no-repeat center;}
/* 항목선택 */.treeSelect{width:77px; height:26px; background:url("/sys/images/2017/web01/treeIcon/new_selectBtn.gif") no-repeat center;}
/* 제외처리 */.treeHide{width:77px; height:26px; background:url("/sys/images/2017/web01/treeIcon/hideBtn.gif") no-repeat center;}
/* 제외해제 */.treeClear{width:77px; height:26px; background:url("/sys/images/2017/web01/treeIcon/new_clearBtn.gif") no-repeat center;}
/* 등록 */.treeRegister{width:57px; height:26px; background:url("/sys/images/2017/web01/treeIcon/new_register.gif") no-repeat center;}
/* 저장 */.treeSave{width:57px; height:26px; background:url("/sys/images/2017/web01/treeIcon/saveBtn.gif") no-repeat center;}
/* 이관 */.treeMove{width:57px; height:26px; background:url("/sys/images/2017/web01/treeIcon/moveBtn.gif") no-repeat center;}
/* 상신 */.treeReport{width:57px; height:26px; background:url("/sys/images/2017/web01/treeIcon/reportBtn.gif") no-repeat center;}
/* 반려 */.treeReject{width:57px; height:26px; background:url("/sys/images/2017/web01/treeIcon/rejectBtn.gif") no-repeat center;}
/* 승인 */.treeApproval{width:57px; height:26px; background:url("/sys/images/2017/web01/treeIcon/approvalBtn.gif") no-repeat center;}
/* 담당자이관 */.treePerChange{width:89px; height:26px; background:url("/sys/images/2017/web01/treeIcon/personChangeBtn.gif") no-repeat center;}
.btn.fnc-st01 {display:inline-block;line-height:1.0;padding:5px 12px;border:1px solid #cccccc;background:#fff;color:#5f6164;font-size:12px;font-weight:normal;text-align:center;cursor:pointer;outline:none;}
.btn.fnc-st01:hover {background:#fcfcfc;}
.btn.fnc-st02 {display:block;line-height:1.0;padding:5px 12px;border:1px solid #ff8714;background:#ff8714;color:#ffffff;font-size:12px;font-weight:normal;cursor:pointer;outline:none;}
.btn.fnc-st02:hover {border:1px solid #b25e0e;background:#b25e0e;}
.btn.evn-st01 {display:inline-block; padding:0 20px 1px;background:#fff;border:1px solid #3494f3;color:#3494f3 !important;font-size:12px;vertical-align:middle;cursor:pointer}
.btn.evn-st01.type02 {height:25px;line-height:25px;}
.btn.evn-st02 {width:auto;height:22px;line-height:23px;padding:0 20px;background:#3494f3;color:#ffffff !important;font-size:12px;vertical-align:top;cursor:pointer;}
.btn.evn-st03 {width:auto;height:22px;line-height:23px;padding:0 20px;background:#fff;border:1px solid #498c8a;color:#498c8a !important;;font-size:12px;vertical-align:top;cursor:pointer}
.btn-remove {display:inline-block;width:18px;height:18px;line-height:0;margin-top:2px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background:#3494f3 url(/images/common/btn_remove.png) center center no-repeat;color:transparent;font-size:0;vertical-align:top;z-index:20;}
.btn-dash-sts {display:inline-block;width:100%;height:45px;line-height:47px;padding:0;margin-bottom:15px;border-radius:2px;font-size:18px;color:#fff;text-align:center;}
.btn-dash-sts.type01 {background:#8999aa;}
.btn-dash-sts.type02 {background:#1fb5ac;}
.btn-dash-sts.type03 {background:#3494f3;}
.btn-dash-sts.st02 {display:block;width:auto;height:30px;line-height:32px;padding:5px 15px;border-radius:2px;text-align:center;color:#ffffff !important;font-size:17px;cursor:pointer;background:#868b95;}
.btn-dash-sts.st03 {display:block;width:135px;height:30px;line-height:32px;padding:5px 0px;text-align:center;color:#ffffff !important;font-size:17px;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:3px;border-radius:3px;}
.btn-dash-sts.st03.type01 {background:#c0c0c5;}
.btn-dash-sts.st03.type02 {background:#65b0f0;} 
.btn-dash-sts.st04 {display:block;width:135px;height:30px;line-height:32px;padding:5px 0px;text-align:center;color:#ffffff !important;font-size:17px;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:3px;border-radius:3px;}
.btn-dash-sts.st04.type01 {background:#ff7055;}
.btn-dash-sts.st04.type02 {background:#9ac54f;}
.btn-dash-sts.st05 {width:80px;height:30px;height:40px;line-height:38px;padding:0;margin-bottom:15px;border-radius:2px;font-size:18px;color:#fff;text-align:center;}
.btn-dash-sts.st05.type01 {background:#8999aa;}
.btn-dash-sts.st05.type02 {background:#1fb5ac;}
.btn-dash-sts.st05.type03 {background:#3494f3;}
.btn-push{display:inline-block;width:33px;height:50px;line-height:0;background:url(/sys/images/web/icon_push.png) center center no-repeat;background-size:27px auto;color:transparent;font-size:0;vertical-align:top;}

.textRemove{position:absolute; width:26px; height:26px; position:absolute; right:0; top:0;}
.fileBtn{width:20px; height:auto;}
.detailViewBtn, .basicBtn{display:inline-block; border-radius:3px; background:#318eb8; padding:5px 10px; color:#fff !important; margin:0 5px;}
.detailViewBtn:hover, .basicBtn:hover{box-shadow:inset 0 5px 30px #276e8e;}

/* icon */
.btn > .icon {vertical-align:middle;}
.icon {display:inline-block !important;width:20px;height:20px;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px;cursor:pointer;}
.icon.refresh {background:url('/sys/images/2017/web/icon/icon-re.png') no-repeat center center;background-size:20px auto;}
.icon.printer {background:url('/sys/images/2017/web/icon/printer.png') no-repeat center center;background-size:20px auto;}
.icon.excel {background:url('/sys/images/2017/web/icon/excel.png') no-repeat center center;background-size:20px auto;}
.icon.add {background:url('/sys/images/2017/web/icon/add.png') no-repeat center center;background-size:20px auto;}
.icon.submit {background:url('/sys/images/2017/web/icon/save.png') no-repeat center center;background-size:20px auto;}
.icon.switch {background:url('/sys/images/2017/web/icon/switch.png') no-repeat center center;background-size:20px auto;}
.icon.delete {background:url('/sys/images/2017/web/icon/delete.png') no-repeat center center;background-size:auto 20px;}
.icon.search {background:url('/sys/images/2017/web/icon/search.png') no-repeat center center;background-size:auto 20px;}
.icon.checked {background:url('/sys/images/2017/web/icon/checked.png') no-repeat center 3px;background-size:auto 10px;}
.icon.holiday {background:url('/sys/images/2017/web/icon/holiday.png') no-repeat center center;background-size:auto 20px;}
.icon.download {width:15px;height:15px;background:url('/sys/images/2017/web/icon/download.png') no-repeat center center;background-size:auto 12px;}
.icon.preview {width:15px;height:15px;background:url('/sys/images/2017/web/icon/preview.gif') no-repeat center center;background-size:auto 14px;}

/* bullet */
.bul-arrow {position:absolute;left:20px;top:19px;display:inline-block;width:5px;height:5px;border-left:2px solid #707070;border-top:2px solid #707070;
	-ms-transform: rotate(135deg); /* IE 9 */-webkit-transform: rotate(135deg); /* Safari */transform: rotate(135deg);}
	
/* 이미지 보기 팝업 */
.btnPlmi{position:absolute;top:10px;right:10px}
.btnPlmi > a{display:inline-block;width:25px;height:25px;line-height:25px;font-size:25px;font-weight:bold;text-align:center;vertical-align:top}
.btnPlmi .btnMinus{background-color:#ebebf0}
.btnPlmi .btnMinus:after{content:'-'}
.btnPlmi .btnPlus{color:#ffffff;font-size:20px;background-color:#3494f3;}
.btnPlmi .btnPlus:after{content:'+'}
.img-view{float:left;margin-top:15px;width:100%;text-align:center}
.img-view img{width:100%;height:auto;}













