@charset "utf-8";
/*
 * Project		:	헬로컴퍼니
 * File			:	space.css
 * Author		:	minhye han
 * Date			:	March 2016.
 * Description	:	width,height,margin,padding 클래스
 */

/* width */
.wd-px-50 {width:50px !important;}
.wd-px-55 {width:55px !important;}
.wd-px-60 {width:60px !important;}
.wd-px-65 {width:65px !important;}
.wd-px-70 {width:70px !important;}
.wd-px-75 {width:75px !important;}
.wd-px-80 {width:80px !important;}
.wd-px-85 {width:85px !important;}
.wd-px-90 {width:90px !important;}
.wd-px-95 {width:95px !important;}
.wd-px-100 {width:100px !important;}
.wd-px-105 {width:105px !important;}
.wd-px-110 {width:110px !important;}
.wd-px-115 {width:115px !important;}
.wd-px-118 {width:118px !important;}
.wd-px-120 {width:120px !important;}
.wd-px-125 {width:125px !important;}
.wd-px-130 {width:130px !important;}
.wd-px-160 {width:160px;}
.wd-px-235 {width:235px}
.wd-px-320 {width:320px;}
.wd-px-400 {width:400px}
.wd-px-500 {width:500px}
.wd-px-520 {width:520px}
.wd-px-585 {width:585px}
.wd-px-635 {width:635px}

.wd-per-15 {width:15% !important;}
.wd-per-20 {width:20% !important;}
.wd-per-25 {width:25% !important;}
.wd-per-30 {width:30% !important;}
.wd-per-32 {width:32% !important;}
.wd-per-35 {width:35% !important;}
.wd-per-40 {width:40% !important;}
.wd-per-45 {width:45% !important;}
.wd-per-47 {width:47% !important;}
.wd-per-50 {width:50% !important;}
.wd-per-55 {width:55% !important;}
.wd-per-60 {width:60% !important;}
.wd-per-65 {width:65% !important;}
.wd-per-70 {width:70% !important;}
.wd-per-75 {width:75% !important;}
.wd-per-80 {width:80% !important;}
.wd-per-85 {width:85% !important;}
.wd-per-90 {width:90% !important;}
.wd-per-95 {width:95% !important;}
.wd-per-100 {width:100% !important;}

/* margin */
.mgn-l-5 {margin-left:5px;}
.mgn-l-10 {margin-left:10px;}
.mgn-l-15 {margin-left:15px;}
.mgn-l-20 {margin-left:20px;}
.mgn-l-25 {margin-left:25px;}
.mgn-l-30 {margin-left:30px;}
.mgn-l-50 {margin-left:50px;}
.mgn-l-70 {margin-left:70px;}
.mgn-l-90 {margin-left:90px;}
.mgn-l-135 {margin-left:135px;}
.mgn-l-150 {margin-left:150px;}
.mgn-l-180 {margin-left:180px;}
.mgn-l-200 {margin-left:200px;}

.mgn-r-5 {margin-right:5px;}
.mgn-r-10 {margin-right:10px;}
.mgn-r-15 {margin-right:15px;}
.mgn-r-20 {margin-right:20px;}
.mgn-r-25 {margin-right:25px;}
.mgn-r-30 {margin-right:30px;}

.mgn-t-3 {margin-top:3px;}
.mgn-t-5 {margin-top:5px;}
.mgn-t-10 {margin-top:10px;}
.mgn-t-15 {margin-top:15px;}
.mgn-t-20 {margin-top:20px;}
.mgn-t-25 {margin-top:25px;}
.mgn-t-30 {margin-top:30px;}
.mgn-t-33 {margin-top:33px;}

.mgn-b-5 {margin-bottom:5px;}
.mgn-b-10 {margin-bottom:10px;}
.mgn-b-15 {margin-bottom:15px;}
.mgn-b-20 {margin-bottom:20px;}
.mgn-b-25 {margin-bottom:25px;}
.mgn-b-30 {margin-bottom:30px;}

.mgn-t-n3 {margin-top:-3px;}
.mgn-t-n5 {margin-top:-5px;}
.mgn-t-n10 {margin-top:-10px;}
.mgn-t-n15 {margin-top:-15px;}
.mgn-t-n20 {margin-top:-20px;}
.mgn-t-n25 {margin-top:-25px;}
.mgn-t-n30 {margin-top:-30px;}
.mgn-t-n35 {margin-top:-35px;}
.mgn-t-n40 {margin-top:-40px;}
.mgn-t-n22 {margin-top:-22px;}

/* padding */
.pd-l-235 {padding-left:235px;}
.pd-l-320 {padding-left:320px;}
.pd-l-635 {padding-left:635px;}
.pd-l-735 {padding-left:735px;}
.pd-l-755 {padding-left:755px;}
.pd-l-820 {padding-left:820px;}
.pd-l-870 {padding-left:870px;}
.pd-r-10 {padding-right:10px;}

.pd-t-10 {padding-top:10px;}

