@charset "utf-8";
/*
 * Project		:	헬로컴퍼니_이어카운팅
 * File			:	page.css
 * Author		:	minhye han
 * Date			:	March 2016.
 * Description	:	서브 페이지 개별 스타일 
 */

/* 로그인 */
.bg-login {background:#fff url('/sys/images/login/login_bg1.jpg') repeat-x left bottom;}
.bg-form {position:absolute;top:50%;left:50%;box-sizing:border-box;margin-top:-260px;margin-left:-240px;width:480px;background:#fff;border:1px solid #ccd5e1;}
.bg-form {/* box-shadow */-webkit-box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.36);-moz-box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.36);box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.36);}
.logo {float:left;box-sizing:border-box;width:100%;height:180px;background:url("/sys/images/login/login_logo_eAcc.png") no-repeat center center;background-size:100px auto;}
.form-login {float:left;margin:0 55px 35px;width:370px;font-size:14px;}
.form-list01 {height:45px;line-height:40px;}
.form-list02 {margin-top:7px;height:45px;line-height:40px;}
.form-list03 {margin:10px 0 0 115px;}
.inp-tit {text-align:right;font-weight:bold;}
.form-login input {height:35px;line-height:35px;font-size:16px;color:#333;}
.form-login .inp-wrap {box-sizing:border-box;width:100%;height:45px;padding:4px 8px 4px 45px;border:1px solid #8a8a8a;}
.inp-wrap.id {background:url('/sys/images/login/login_input_icon_01.png') no-repeat 10px center;}
.inp-wrap.pwd {background:url('/sys/images/login/login_input_icon_02.png') no-repeat 10px center;}
.btn.login {width:370px;height:50px;margin-left:55px;margin-bottom:50px;line-height:50px;color:#fff;background:#194379;border-radius:3px;font-size:14px;}
.copy {position:absolute;bottom:20px;left:50%;margin-left:-105px;font-weight:bold;}
.form-login .sel-wrap {height:45px;border:1px solid #8a8a8a;}
.form-login select {height:37px;font-size:16px;}

/* 유저 프로필 팝업 */
.profile-wrap {padding:20px;}
.top-area {margin-bottom:10px;}
.user-pic {display:block;width:90px;height:90px;border-radius:90px;margin:0 auto; overflow:hidden;}
.user-pic a {display:block;}
.user-pic img {width:100%; min-height:90px; height:auto; vertical-alig:top;}

.user-i {display:block;width:90px;margin:10px auto;text-align:center;}
.user-i .name {font-size:16px;}
.user-i .group {color:#989898;}
.bottom-area {margin-bottom:20px;}
.btn-area {text-align:center;}
.profile-wrap .btn {border-radius:2px;} 

/** 헬로컴퍼니 ***************************************************************************/

/* [e-Acc] 대시보드 */
.eacc-sts-cd {margin-bottom:5px;overflow:hidden;}
.eacc-sts-cd li {float:left;display:inline-block;width:33.3%;height:60px;}
.eacc-sts-cd li .cd-inner {box-sizing:border-box;width:auto;height:60px;padding:8px 0 10px 10px;margin-right:10px;border-radius:3px;color:#fff;font-size:15px;text-align:center;}
.eacc-sts-cd li:last-child .cd-inner {margin-right:0px}
.eacc-sts-cd li.type01 .cd-inner {background:#8999aa;}
.eacc-sts-cd li.type02 .cd-inner {background:#1fb5ac;}
.eacc-sts-cd li.type03 .cd-inner {background:#3494f3;}

/* [헬로컴퍼니] 전자결재 대시보드 */
.dsbd-lst-wrap{height:224px;overflow-y:scroll;}
.dsbd-lst-wrap.type01{padding:0 25px;}
.dsbd-lst-wrap.type02{padding:0;}
.dsbd-lst-wrap.type03{padding:0;overflow-y:hidden !important;}
.dsbd-lst-wrap.type04 {height:345px;padding:0 15px;overflow:hidden;}
.dsbd-lst-wrap ul{width:100%;}
.dsbd-lst-wrap li{border-bottom:1px dashed #c8cacc;}
.dsbd-lst-wrap li:last-child{border:none;}
.dsbd-lst-wrap li a{display:block;}
.dsbd-lst.type01{position:relative;padding:15px 180px 15px 70px;}
.dsbd-lst.type01 .btn-dash-sts.st02 {position:absolute;left:0;}
.dsbd-lst.type01 .btn-dash-sts.st03 {position:absolute;right:40px;top:15px;}
.dsbd-lst.type01 .btn-dash-sts.st04 {position:absolute;right:0px;top:15px;}
.dsbd-lst.type01 .btn-push{position:absolute;right:0;top:10px;}
.dsbd-lst.type02{position:relative;padding:15px 165px 15px 15px;}
.dsbd-lst.type02 .btn-dash-sts.st03.type01 {position:absolute;right:25px;top:15px;}
.dsbd-lst.type03 {position:relative;padding:15px;}
.dsbd-lst.type04 {margin: 70px 10px 70px 10px;text-align: center;}
.dsbd-lst.type05 {position:relative;padding:15px 100px 15px 150px;}/* e-Acc 대시보드 */
.dsbd-lst.type05 .btn-dash-sts.st03 {position:absolute;left:0px;top:15px;}
.dsbd-lst.type05 .btn-dash-sts.st05 {position:absolute;right:40px;top:15px;}
.dsbd-lst.type05 .btn-push {position:absolute;right:0;top:10px;}
.apvlTit{font-size:.8rem;line-height:1.5em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.apvlTit.type02{padding-right:10px;}
.apvlDate{color:#b3928b;font-size:.8rem;}

/* [헬로컴퍼니] 프로젝트 인원 리스트 */
.prj-prsn {position:relative;min-height:22px;margin-top:10px;padding-left:30px;}
.prj-prsn:after {content:'';display:block;visibility:hidden;clear:both;height:0}
.prj-prsn > div {float:left;line-height:1.4;margin-top:4px;padding:0 8px;border-left:1px solid #cfcfcf}
.prj-prsn > div:first-child {padding-left:0;border-left:none}
.prj-prsn .prjPrsnSel {margin-top:0;border-left:none}
.prj-prsn .btn-remove {position:absolute;top:0;left:0}

.delArea {position:relative;min-height:22px;margin-bottom:5px;padding-left:30px;}
.delArea:after {content:'';display:block;visibility:hidden;clear:both;height:0}
.delArea:first-child {margin-top:10px;}
.delArea > div {float:left;line-height:1.4;margin-top:4px;padding:0 8px;border-left:1px solid #cfcfcf}
.delArea > div:first-child {padding-left:0;border-left:none}
.delArea .sel-wrap {margin-top:0;height:22px;}
.delArea .btn-remove {position:absolute;top:0;left:0}

/* [헬로컴퍼니] 프로젝트 관리 */
.prjPrsnLst > li{position:relative;min-height:22px;margin-top:10px;padding-left:30px}
.prjPrsnLst > li:after{content:'';display:block;visibility:hidden;clear:both;height:0}
.prjPrsnLst > li > div{float:left;line-height:1.2;margin-top:4px;padding:0 8px;border-left:1px solid #cfcfcf}
.prjPrsnLst > li > div:first-child{padding-left:0;border-left:none}
.prjPrsnLst .prjPrsnSel{margin-top:0;border-left:none} 
.prjPrsnLst .btnClose{position:absolute;top:0;left:0}

/* [헬로컴퍼니] 프로젝트 관리-결재라인 리스트 스타일 */
.expnSignLst{margin:3px 0;}
.expnSignLst:after {content:'';display:block;visibility:hidden;height:0;clear:both}
.expnSignLst li{width:100%;}
.expnSignLst p{background-color:#e3e8ef !important; /* border:1px solid #e0e0e0;  */margin:2px 4px; height:26px;line-height:26px; padding:0 10px;}
.expnSignLst p:first-child{padding:0;}
.expnSignLst .num {display:inline-block;background-color:#318eb8;color:#ffffff;width:25px; text-align:center; margin-right:5px;}
.expnSignLst .apprStsNm{width:60px;}
.expnSignLst.type02 p{margin-left:29px; padding-left:5px; height:auto !important}
/*.
.expnSignLst > li  {float:left;width:50%;}
.expnSignLst.type02 {margin:10px 0 10px 0;}
.expnSignLst.type02 > li {float:none;width:auto;}
.expnSignLst p.depth01 {display:inline-block;width:50%;}
.expnSignLst p.depth02 {display:inline-block;padding:3px 10px 0 10px;} */

/* [헬로컴퍼니] 댓글 */
.wrap-cmt {position:relative;margin-top:10px;padding-bottom:15px;background-color:#ffffff;}
.tit-cmt{padding:10px 0 7px;color:#999999;font-size:0.750em;font-weight:bold;text-align:center}
.area-cmt{position:relative;padding-left:15px !important;padding-right:15px;}
.cont-write{overflow-y:auto;max-height:42px;line-height:14px;margin-right:60px}
.inp-cmt{position:relative;height:15px;padding:8px 15px 7px;background-color:#ebebf0;font-size:0.688rem}
.area-cmt .type-cmt{position:absolute;bottom:0;right:15px;width:35px;height:30px;padding:0 10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.list-cmt > li{position:relative;padding:8px 10px 6px;border-top:1px dashed #eeeeee}
.list-cmt > li:first-child{border-top:none}
.cmt-this{padding-right:30px !important}
.cmt-this .btn-remove{position:absolute;top:50%;right:15px;margin-top:-5px}
.view-cmt{position:relative;min-height:32px;padding:1px 0 1px 10px}
.view-cmt.type02{min-height:inherit;padding-left:0}
.view-cmt.type03 .prsn-name{color:#ffffff}
.view-cmt.type03 .prsn-unit{color:#d8d7d7}
.profile-cmt{display:block}
.profile-cmt:after{content:'';display:block;visibility:hidden;width:0;height:0;clear:both}
.profile-cmt > *{float:left;margin-left:5px}
.profile-cmt > *:first-child{margin-left:0}
.profile-cmt > .prsn-unit,
.profile-cmt > .date-cmt{margin-top:3px}
.prsn-img{overflow:hidden;position:absolute;top:2px;left:0;width:25px;height:25px;border:1px solid #6c6c6b;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background:url(/sys/images/common/bg_prsn.png) left top no-repeat;background-size:100%}
.prsn-img img{width:100%;height:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}
.prsn-name{padding-top:2px;color:#595f65;font-size:13px;font-weight:bold}
.prsn-unit{margin-top:1px;color:#aeb1b6;font-size:11px;}
.date-cmt{margin-top:1px;color:#b3928b;font-size:11px;letter-spacing:-0.5px}
.date-cmt:before{content:'| ';font-weight:bold}
.cont-cmt{line-height:1.5em;margin-top:3px;font-size:12px;white-space:pre-line;color:#666;}

/* 게시판 보기 */
.viewBoardTit{border-top:2px solid #2a7fb8; border-bottom:1px solid #e3e8ef; padding:13px 10px; background:#f1f4f8; font-size:14px; font-weight:500;}
.viewBoardInfo{border-bottom:1px solid #e3e8ef; padding:9px 10px; overflow:hidden; background:#fff;}
.viewBoardInfo p{font-weight:bold;}
.viewBoardInfo p span{display:inline-block; padding-left:10px; font-weight:normal;}
.viewBoardCon{padding:15px 15px 30px; border-bottom:1px solid #d8d8d8;}
.viewContent{padding:30px 5px; line-height:1.6;}
.viewBoardIntro{margin-top:30px;}
.viewBoardIntro span{border-left:3px solid #2a7fb8; padding-left:7px; margin-left:7px;}
.viewBoardIntro div{border:1px solid #e3e8ef; background:#f1f4f8; margin-top:10px; padding:10px 20px;  border-left:none; border-right:none;}
/* [첨부파일 다운로드 영역] */
.attachFileWrap{overflow:hidden;}
.attachFileTit{height:20px; line-height:20px; position:relative; text-align:right;}
.attachFileTit a.down{display:inline-block; width:15px; height:20px; background:url("/images/icon/web/attachDown.gif") left center no-repeat;}
.attachFileTit a.up{display:inline-block; width:15px; height:20px; background:url("/images/icon/web/attachUp.gif") left center no-repeat;}
.attachFileTit p{display:inline-block; position:absolute; top:0; right:30px; font-weight:bold; padding-left:15px;
					background:url("/images/icon/web/clipIcon.png") left center no-repeat; background-size:7px auto;}
.attachFileTit span{display:inline-block; color:#f5931f; margin-left:5px;}
.attachFileLst{margin:10px 0 0 5px; display:inline-block; background:#fff; position:absolute; top:170px; right:15px;}
.attachFileLst li{border:1px solid #d8d8d8; padding:3px; border-top:none;}
.attachFileLst li:first-child{border-top:1px solid #d8d8d8;}
.attachFileLst li:hover{background:#f2f7f9;}
.attachDownBtn{display:block;}
.attachDownBtn:hover{text-decoration:underline;}

/** 주문 ***************************************************************************/
/* 메인 화면 */
.main-img-area {float:left;width:100%;}
.new-img-area {float:left;width:100%;margin-top:10px;background:#fff;border:1px solid #c9d4dd;border-radius:2px;}
.new-img-tit {padding:9px 10px 6px;background:#f1f1f1;border-bottom:1px solid #c9d4dd;font-size:14px;font-weight:bold;line-height:1em;}
.img-slide-box {padding:10px 50px;}
.credit-i-area {float:left;box-sizing:border-box;height:40px;width:100%;padding:12px 10px 8px;text-align:center;background:#f1f1f1;border:1px solid #c9d4dd;border-radius:2px;}
.credit-i-area > dd {display:inline-block;padding-right:5px;margin-right:5px;border-right:1px solid #e0e0e0;line-height:1em;font-size:12px;}
.credit-i-area > dd:last-child {border:none;}
.credit-i-area > dd > span {display:inline-block;}
.order-dashboard {float:left;position:relative;width:100%;margin-top:10px;}
.order-dashboard .icon.add {position:absolute;right:0px;top:0px;}
.order-dash-inner {margin-top:8px;width:100%;}
#owl-aside .item .img-i > span {display:block;}

/* [주문] 행사 등록 */
.attach-box {float:left;width:100%;height:50%;}

/* [주문] 클레임 상세 */
#claimView .status-area {margin-bottom:5px;}
#claimView .MultiFile-label {float:left;margin:0 !important;}
#claimView .claim-access {border-bottom:1px dotted #ccc;padding:5px;}
#claimView .claim-access .claim-write .txt-wrap {float:left; width:90%; margin-right:5px;}
#claimView .claim-access .claim-write input {cursor:pointer; display:inline-block; text-align:center; width:8%; height:64px; line-height:64px; background:#8999aa; color:#fff;}
#claimView .claim-access .fileWrap {margin:10px 0;}
#claimView .claim-access .imgFileList {width:100%;height:145px;overflow:hidden;padding:0;margin:0;border:none;}
#claimView .comment-txt {margin:5px 0 0 5px;}
#claimView .comment-modify {display:none;width:99%;}
#claimView .btn-response {text-align:right;margin-bottom:5px;}
#claimView .thumbnail {width:120px;height:100px;text-align:center;line-height:70px;} 
#claimView .thumbnail-wrap {display:inline-block;margin-right:10px;}  
#claimView .comment_claim_response {padding:10px;border-bottom:1px dotted #ccc;overflow:auto;}
#preview {position:absolute;display:none;}
#detailImgFileList .MultiFile-label {width:initial !important;margin:10px 5px 0 0 !important;}

/** 구매 ***************************************************************************/






/* order main 
.tit-dsh {position:relative;padding:15px 0 15px 35px;line-height:14px;border-bottom:1px solid #cdd2da;color:#2e3d3d;font-size:14px;font-weight:bold;}
.box-dsh {position:absolute;top:64px;bottom:20px;left:20px;right:5px;}
.scrl-wrap {width:100%;height:100%;}
.scrl {overflow-x:hidden;overflow-y:auto;padding-right:1000px;}
.ellipsis.type01 {height:35px;line-height:35px;}*/


/*
 * Project		:	이어카운팅
 * File			:	page.css
 * Author		:	minhye han
 * Date			:	March 2016.
 * Modify		:	youngjae lee
 * Modify Date	:	Nom. 2016.
 * Description	:	이어카운팅 대시보드
 */

/** 이어카운팅 ***************************************************************************/
/* 메인화면 */
/* .dashboard-main{width:100%; height:100%; overflow:visible !important; overflow-x:auto !important;background-color:#e9eef4;}
.dashboard-wrap{width:100%;min-width:1260px;min-height:100%;background:url(/sys/images/main/main-bg.jpg) repeat-x top center; position:relative;} */

.main-top-tit{width:80%; margin:0 auto; height:280px; position:relative;}
.main-top-tit h3{color:#fff; font-size:40px; text-align:center; font-weight:300; position:absolute; top:50%; left:50%; margin-top:-55px; margin-left:-303.5px;
					text-shadow:1px 1px 3px #3f3d3d; -webkit-text-shadow:1px 1px 3px #3f3d3d; -moz-text-shadow:1px 1px 3px #3f3d3d;}
.main-top-tit h3>p:nth-child(2){font-size:18px; margin-top:5px;}


.cont-area{width:80%; position:absolute; top:280px; left:50%; margin-left:-41%; background:#fff; padding:1%; border:1px solid #d4dae2; border-radius:3px;}
.box-inline-wrap{width:100%; overflow:hidden;}
.box-inline{width:100%; overflow:hidden;}
.box-inline.top{margin-bottom:1%; height:265px;}
.box-inline.top>div:nth-child(2){margin:0 1%;}
.box-inline.bottom{height:265px;}
.box-inline.bottom>div:nth-child(2){margin:0 1%;}
.box-inline.whole{height:540px;}
.box.type33{float:left;display:inline-block;width:32.65%;}
.box.type50{float:left;display:inline-block;width:49%;}
.box.type100{float:left;display:inline-block;width:99.7%;}

.board-wrap{width:100%; border:1px solid #dfdfdf; border-top:2px solid #002f6b; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
				box-shadow:1px 1px 1px #f2f2f2; -webkit-box-shadow:1px 1px 1px #f2f2f2; -moz-box-shadow:1px 1px 1px #f2f2f2;}
.board{border-radius:3px; overflow:hidden; position:relative;}
.board-header{position:relative;width:100%; background:#f7f7f7; height:42px;line-height:42px; border-bottom:1px solid #dfdfdf;}
.board-header h4{color:#666667; padding-left:55px; font-size:13px; font-weight:500;}
.board-header h4.titType01{background:url(/sys/images/main/titicon01.png) no-repeat 15px center; background-size:30px auto;}
.board-header h4.titType02{background:url(/sys/images/main/titicon02.png) no-repeat 15px center; background-size:30px auto;}
.board-header h4.titType03{background:url(/sys/images/main/titicon03.png) no-repeat 15px center; background-size:30px auto;}
.board-header h4.titType04{background:url(/sys/images/main/titicon04.png) no-repeat 15px center; background-size:30px auto;}
.board-header h4.titType05{background:url(/sys/images/main/titicon05.png) no-repeat 15px center; background-size:30px auto;}

.board-container{width:100%; background:#fff;}
.board-container.type01{height:218px;;} /* 내가받은결재/내가올린결재/비용예산조회 */
.board-container.type02{height:193px;} /* 공지사항/결재현황 높이 */
.board-container.type03{height:493px;} /* 비용예산조회 높이 */

.board-bx{overflow:hidden;}

/* 내가받은결재/내가올린결재 */
.paymentArea{padding:2% 3%;}
.payment{width:100%;}
.payment tr{height:39.2px; border-bottom:1px dashed #dfdfdf;}
.payment tr:first-child{border-top:1px dashed #dfdfdf;}
.payment td{text-align:center;}
.payment .cardtype{text-align:center; display:inline-block; /* padding:3px 0;  */height:26px; line-height:26px; width:100%; /* width:65px; */ border-radius:3px; color:#fff;}
.payment .cardtype.type01{background:#f5bb00;}
.payment .cardtype.type02{background:#64b5f6;}
.payment .cardtype.type03{background:#79baa4;}
.payment .pamentTitArea{text-align:left; padding:0 10px;}
.payment .pamentTitArea a{display:inline-block; width:100%; height:26px; line-height:26px; overflow:hidden;}
.payment .pamentTit{display:inline-block; float:left; width:55%;}
.payment .paymentDate{display:inline-block; float:right; text-align:right; width:45%;}
.payment .paymentState{text-align:center; display:inline-block; height:26px; line-height:26px; padding:0 5px; width:68px; border-radius:3px; color:#fff;}
.payment .paymentState.type01{background:#90a4ae;}
.payment .paymentState.type02{background:#e57373;}
.payment .push img{width:32px; height:auto;}
.payment .noneData{text-align:center; padding:91px 0;}

/* 미작성내역 */
.reportListArea{overflow:hidden; background:url(/sys/images/main/line.png) repeat-y center; margin:3% 0;}
.reportList{width:44%; float:left; text-align:center; margin:0 3%; color:#67707f;}
.reportList.st01{background:url(/sys/images/main/card.png) no-repeat center 16px; background-size:47px auto;}
.reportList.st02{background:url(/sys/images/main/receipt.png) no-repeat center 16px; background-size:45px auto;}
.reportList .totalList{border:1px solid #dfdfdf; border-radius:3px 3px 0 0; padding:68px 0 18px 0;}
.reportList .totalList p{font-size:38px; font-weight:900;}
.reportList .totalList span{font-size:18px; font-weight:normal;}
.reportList .totalList h5{font-size:13px; font-weight:500; margin-top:6px;}
.reportList .moreBtn{border:1px solid #dfdfdf; border-top:none; background:#f9f9f9; border-radius:0 0 3px 3px;}
.reportList .moreBtn a{display:block; padding:10px 5px; font-weight:bold; font-size:12px; color:#5b5b5b;}
.reportList .moreBtn:hover, .reportList .moreBtn:hover a{background:#77b3d4; color:#fff;}

/* 비용예상조회 */
.budgetTit p{margin-top:8px; padding-left:20px; font-size:13px;}
.budgetSch{margin:2% 3%; height:195px; overflow:hidden;}

.scrolltbody{display:block; width:100%; border-collapse: collapse;}
.scrolltbody th, .scrolltbody td{box-sizing:border-box;height:30px;padding:4px 10px;background:#fff;border-bottom:1px dashed #d8d8d8;text-align:left;}
.scrolltbody thead{border:1px solid #d8d8d8; border-bottom:none;}
.scrolltbody th{background:#e1e7eb; color:#5c6c76; border-bottom:none;}
.scrolltbody td{border-right:1px solid #d8d8d8;}

.scrolltbody tbody {display:block; height:160px; overflow:auto;}
.scrolltbody th:nth-of-type(1), .scrolltbody td:nth-of-type(1) {width:236px;}
.scrolltbody th:nth-of-type(2){width:236px;}
.scrolltbody td:nth-of-type(2){border-right:none; width:-webkit-calc(236px - 17px); width:-moz-calc(236px - 17px);width:calc(236px - 17px);}

/* .scrolltbody tbody::-webkit-scrollbar {width:6px; background:#f0f0f0;}
.scrolltbody tbody::-webkit-scrollbar-track {-webkit-border-radius:10px;border-radius:10px}
.scrolltbody tbody::-webkit-scrollbar-thumb {-webkit-border-radius:10px;border-radius:10px;background:#9abacb}
.scrolltbody tbody::-webkit-scrollbar-thumb:window-inactive {background:#9abacb} */

/* 법인카드 사용현황 */
.graphArea{text-align:center; height:193px; float:left; width:29%; padding-left:3%}
.graphInfo{float:left; width:63%; padding-left:5%;}
.graphInfo ul{width:100%; margin:60px 0 0 0;}
.graphInfo li{padding:5px 0; width:100%;}
.graphInfo span{color:#4b748d;}
.graphInfo li p{display:inline-block; background:url(/sys/images/2017/web01/common/arrow.png) no-repeat 0 center; padding-left:10px; color:#4b748d;}
.graphInfo .graphInfoTit{display:inline-block; font-weight:bold; padding-left:15px; width:60px;}
.graphInfo .graphInfoTit.type01{background:url(/sys/images/main/dot1.png) no-repeat 0 center; background-size:8px auto;}
.graphInfo .graphInfoTit.type02{background:url(/sys/images/main/dot2.png) no-repeat 0 center; background-size:8px auto;}
.graphInfo .graphInfoTit.type03{background:url(/sys/images/main/dot3.png) no-repeat 0 center; background-size:8px auto;}
.graphInfo .graphInfoTit.type04{background:url(/sys/images/main/dot4.png) no-repeat 0 center; background-size:8px auto;}

/* 계정별 사용현황 */
.accountArea{padding:2% 4%;}
.account{margin:2% 0;}
.account dl{overflow:hidden; font-size:14px; color:#637b7f;}
.account dl dt.accountTit{float:left; padding-left:18px;}
.account dl dt.accountTit.type01{background:url(/sys/images/main/dot2.png) no-repeat 5px center; background-size:8px auto;}
.account dl dt.accountTit.type02{background:url(/sys/images/main/dot3.png) no-repeat 5px center; background-size:8px auto;}
.account dl dt.accountTit.type03{background:url(/sys/images/main/dot4.png) no-repeat 5px center; background-size:8px auto;}
.account dl dd{float:right; font-weight:bold; padding-right:8px;}
.iGraphArea{margin-top:5px;}
.iGraph{white-space:nowrap; line-height:normal;}
.iGraph .gBar{display:inline-block; width:100%; height:12px; border:1px solid #ccc; background:#e9e9e9; font-size:11px; border-radius:3px;}
.iGraph .gAction{display:inline-block; height:12px; margin-top:-2px; margin-left:-2px; border-radius:3px;}
.iGraph .gAction.type01{background:#79baa4; border:1px solid #64a48e;}
.iGraph .gAction.type02{background:#73bbba; border:1px solid #4e9c9b;}
.iGraph .gAction.type03{background:#f6bd44; border:1px solid #daa32f;}
													
/* 공지사항 */
.noticeList{margin:2% 3%; overflow:hidden;}
.noticeList li{overflow:hidden; background:url(/sys/images/main/dot1.png) no-repeat 6px center; background-size:5px auto; height:32px; line-height:32px; padding:0 8px 0 13px; border-bottom:1px dashed #dfdfdf;}
.noticeList li:first-child{border-top:1px dashed #dfdfdf;}
.noticeList li a{display:inline-block; overflow:hidden; width:100%;}
.noticeList li span.writer{font-weight:500; padding:0 5px; color:#4b7088; float:left;}
.noticeList li span.noticeTit{display:inline-block; width:50%; float:left;}
.noticeList li span.noticeDate{float:right; width:30%;}
.noticeList li.noneData{background:none; text-align:center; padding:91px 0;}

/* 더보기버튼 */
p.moreBtn a{padding:5px 10px; border-radius:3px; background:#6c94ad; position:absolute; top:9px; right:11px; color:#fff;}
p.moreBtn a:hover{background:#52788f; box-shadow:inset 1px 1px 1px #45586b; -webkit-box-shadow:inset 1px 1px 1px #45586b; -moz-box-shadow:inset 1px 1px 1px #45586b;}



