@charset "utf-8";

/*
 * Project		:	설비
 * File			:	layout.css
 * Author		:	YoungJae Lee
 * Date			:	May. 2018
 * Description	:	전체적인 레이아웃 (위젯 영역 제외)
 */
 
 /* 공통스타일
-----------------------------*/
.fontRed {color:#ef5350;}

/* 드롭다운 리스트 - basic */
.dropdownWrap {position: relative; display: block; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none;}
.dropdownWrap .dropdownBtn {position: relative; display: block; z-index: 1; cursor: pointer; overflow:hidden;}
.dropdownWrap.is-open .dropdownCon {display: block;}
.dropdownWrap .dropdownCon {display: none; position: absolute; overflow: hidden; width: 100%; background: #fff; border-radius: 2px; top: 100%; right: 0; z-index: 100;
							box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1); border: 1px solid rgba(120, 130, 140, 0.2);}
.dropdownWrap .dropdownCon li {display: block; text-align: left; line-height:40px; padding:0 15px;}
.dropdownWrap .dropdownCon li:hover {background: #e9edf2; transition:0.3s;}
.dropdownWrap .dropdownCon li a {display: block; cursor: pointer; color:#414141;}


/* 버튼 툴팁 */
.btnBalloon{background:#464c52; color:#fff; padding:6px 8px; position:absolute; display:none; z-index:999;}

/* whole layout 
----------------------------*/
#wrapper {width:100%; height:100%; overflow-x:auto; overflow-y:hidden; background:#fff;}
#wrapper .wrapperIn {width:100%; min-width:1285px; min-height:100%; position:relative; padding:0 !important;}
#header {width:100%; background:#00405d; display:block; height:54px; line-height:54px;}
#main {width:100%; height:100%; clear:both;}
#main .mainIn {width:100%; height:100%;}
#container {width:100%; height:auto;}
#container .cont-inner {position:relative;height:100%;}
#contents {padding:20px 15px; height:100%;}
.scl {overflow-y:auto !important;}

/* main menu
----------------------------*/
#header .ci_logo {float:left; line-height:49px; width:140px; text-align:center; background:url("/images/com/web_v2/line.png") no-repeat right center;}
#header .ci_logo img {width:95px; height:auto;}



.gnb-list{float:left;}

ul#gnb{position:relative; z-index:100;}
ul#gnb li {float:left; display:inline; position:relative;}

/* Root Menu */
ul#gnb > li > a{padding:0 25px; text-align:center; float:left; display:inline-block; color:#fff; font-size:13px; font-weight:bold; transition:background 0.5s;}
ul#gnb > li.selected > a {background:#00334a;} /* gnb 메인메뉴 선택되었을때 CSS */
/* Root Menu Hover Persistence */
ul#gnb > li > a:hover,
ul#gnb > li:hover > a,
ul#gnb > li.iehover > a{background:#00334a; color:#ffffff;}

/* caret(arrow icon) */
ul#gnb .caret {color:#fff; right:-12px; width: 0; height: 0; overflow:hidden;/* for IE6 */ vertical-align:middle; margin-bottom:2px; 
						border-top: 4px solid;/* caret size is 4px now */ border-right: 4px solid transparent; border-left: 4px solid transparent; display: inline-block; position:relative;}  
        
/* 2nd Menu */
ul#gnb > li > ul{width: 170px; /* Sub Menu Width */ padding:15px 15px 15px 10px; display: none; position:absolute; top:100%; left: 0;
						background:#fff; -webkit-box-shadow: 0px 1px 2px 0px rgba(153,153,153,1); -moz-box-shadow: 0px 1px 2px 0px rgba(153,153,153,1); box-shadow: 0px 1px 2px 0px rgba(153,153,153,1);}
ul#gnb > li > ul > li {display: block; width: 100%; margin:7px 0;}
ul#gnb > li > ul > li > a {background:#ffffff; font-size:13px; color:#1c1f22; text-align:left; width:100%; display:block; line-height:1; padding-left:8px;}
ul#gnb > li:hover > ul > li > a,
ul#gnb > li.iehover > ul > li > a { display:block;}
/* 2nd Menu Hover Persistence */
ul#gnb > li:hover > ul > li > a:hover,
ul#gnb > li:hover > ul > li:hover > a,
ul#gnb > li.iehover > ul > li > a:hover,
ul#gnb > li.iehover > ul > li.iehover > a{color:#00405d; outline:none; border-left:3px solid #00405d; font-weight:bold;}

/* Hover Function - Do Not Move */
ul#gnb li:hover ul ul,ul#gnb li:hover ul ul ul,ul#gnb li.iehover ul ul,ul#gnb li.iehover ul ul ul{display: none; transition:5.0s;}
ul#gnb li:hover ul,ul#gnb ul li:hover ul,ul#gnb ul ul li:hover ul,ul#gnb li.iehover ul,ul#gnb ul li.iehover ul,ul#gnb ul ul li.iehover ul{display: block;}


/* 현황 요약 토글버튼 */
.summaryWrapBtnWrap {background:url("/images/com/web_v2/line.png") no-repeat right center;}
.summaryWrapBtn {display:block; width:66px; height:54px; background-position:center center; background-repeat:no-repeat; text-align:center;}
.summaryWrapBtn.showBtn {background-image:url("/images/com/web_v2/summary_slide_up_icon.png");}
.summaryWrapBtn.hideBtn {background-image:url("/images/com/web_v2/summary_slide_down_icon.png");}


/* 레이아웃 설정 드롭다운 메뉴 */
.layoutSet {background:url("/images/com/web_v2/line.png") no-repeat right center;}
.layoutSet .dropdownBtn {width:60px !important; text-align:center;}
.layoutSet .dropdownBtn img {width:16px; height:auto;}
.layoutSet.is-open .dropdownBtn {background:#22607c; transition:0.3s;}
.layoutSet .dropdownCon {width:580px; text-align:center;}

.portletToggleWrap {padding:0 10px 10px; overflow:hidden; line-height:36px;}
.portletToggleWrap .portletSwitchWrap {overflow:hidden; float:left; width:49%; position:relative; text-align:left; background:#f0f0f0; margin-top:10px;}
.portletToggleWrap .portletSwitchWrap:nth-child(even) {float:right;}
.portletSwitch {position: relative; width: 50px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float:left; margin-top:7px; padding-left:10px;}
.portletSwitch-checkbox {display: none;}
.portletSwitch-label {display: block; overflow: hidden; cursor: pointer; border-radius: 20px;}
.portletSwitch-inner {display: block; width: 200%; margin-left: -100%; transition: margin 0.3s ease-in 0s;}
.portletSwitch-inner:before, .portletSwitch-inner:after {display: block; float: left; width: 50%; height: 22px; font-weight:normal; padding: 0; line-height: 22px;  font-size: 11px; color: white; box-sizing: border-box;}
.portletSwitch-inner:before {content: "ON"; padding-left: 7px; background-color: #ee7d45; color: #FFFFFF;}
.portletSwitch-inner:after {content: "OFF"; padding-right: 7px; background-color: #cfcfcf; color: #999999; text-align: right;}
.portletSwitch-switch {display: block; width: 14px; margin: 4px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right:28px; border-radius: 20px; transition: all 0.3s ease-in 0s; }
.portletSwitch-checkbox:checked + .portletSwitch-label .portletSwitch-inner {margin-left: 0;}
.portletSwitch-checkbox:checked + .portletSwitch-label .portletSwitch-switch {right: 0px; }
	
.portletSwitch-copy {float:left; height:36px; line-height:36px; padding-left:8px;}

.layoutResetBtn {line-height:38px; display:block; border-top:1px solid rgba(120, 130, 140, 0.2); text-align:center; background:#e9edf2; font-weight:bold;}
.layoutResetBtn:hover {background:#c0d3e0;; transition:0.3s;}


/* 정비원 현황 */
.adcWrap {overflow:hidden; padding:0 20px; background:url("/images/com/web_v2/line.png") no-repeat right center;}
.adcSwitchBtn{position:relative; width:66px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float:left; margin-top:13px;}
.adcSwitchBtn-checkbox{display:none;}
.adcSwitchBtn-label{display:block; overflow:hidden; cursor:pointer; border-radius:20px;}
.adcSwitchBtn-inner{display:block; width:200%; margin-left:-100%; transition: margin 0.3s ease-in 0s;}
.adcSwitchBtn-inner:before,
.adcSwitchBtn-inner:after{display:block; float:left; width:50%; height:28px; padding:0; line-height:28px; font-size:13px; color:#ffffff; box-sizing:border-box; -moz-box-sizing:border-box;}
.adcSwitchBtn-inner:before{content:"ON"; padding-left:10px; background-color: #39aad9; color: #ffffff;}
.adcSwitchBtn-inner:after{content: "OFF"; padding-right:10px; background-color:#999999; color:#ffffff; text-align:right;}
.adcSwitchBtn-switch{display:block; width:16px; margin:6px; background:#ffffff; position:absolute; top:0; bottom:0; right:38px; border-radius:20px; transition: all 0.3s ease-in 0s;}
.adcSwitchBtn-checkbox:checked + .adcSwitchBtn-label .adcSwitchBtn-inner{margin-left:0;}
.adcSwitchBtn-checkbox:checked + .adcSwitchBtn-label .adcSwitchBtn-switch{right:0px;}
.adcStatBtn {color:#fff; font-size:12px; margin-left:8px;}

	
/* 사용자 프로필 드롭다운 메뉴 */
.userInfo {}
.userInfo .dropdownBtn {padding:0 40px 0 15px; background:url("/images/com/web_v2/slide_down_icon.png") no-repeat center right 15px; background-size:8px auto; color:#fff;}
.userInfo .dropdownBtn > div {float:left;}
.userInfo .dropdownBtn .user_img {width:40px; height:40px; overflow:hidden; line-height:0; padding:7px 0;}
.userInfo .dropdownBtn .user_img img {width:100%; height:100%; border-radius:50%;}
.userInfo .dropdownBtn .user_name {padding:9px 0; line-height:18px; margin-left:10px;}
.userInfo .dropdownBtn .user_name span {display:block; color:#fff;}
.userInfo .dropdownBtn .user_name .dep {font-size:10px;}
.userInfo .dropdownBtn .user_name .name {font-size:12px; font-weight:bold;}
.userInfo.is-open .dropdownBtn {background:#22607c url("/images/com/web_v2/slide_down_icon.png") no-repeat center right 15px; background-size:8px auto; transition:0.3s;}
.userInfo a.logout_btn {background:url("/images/com/web_v2/exit_icon.png") no-repeat center right; background-size:auto 20px;}



/* main
-----------------------------*/

/* 현재페이지 및 결재현황 요약 정보 */
.summaryWrap {position:relative; width:100%; background:#fff; display:block; -webkit-box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.30);
						-moz-box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.30); box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.30);}
.summaryWrapIn {border-bottom:1px solid #00405d;}
.summaryWrapIn:after {content:""; display:block; clear:both;}

/* .summaryWrap .currentPage {float:left; font-size:24px; padding-top:38px;}
.summaryWrap .currentPage span {font-size:17px; color:#99abb4;} */

.summaryWrap .statusInfo {width:100%; overflow:hidden;}
.summaryWrap .statusInfo > div {float:left; height:95px;}

.summaryWrap .statusPeriod {padding:0 40px 0 26px; background:#fff; text-align:left; font-size:13px; font-weight:bold;}
.summaryWrap .statusPeriod_year span {border-top:3px solid #376ba3; padding-top:3px;}

.summaryWrap .statusLst {text-align:center;}
.summaryWrap .statusLst .statusLstTit {background:#3990b8; height:100%; width:30px; color:#fff;}
.summaryWrap .statusLst .statusLstTit .v-center {width:20px; font-size:13px; margin:0 auto;}

/* 현황 리스트 */
.statusDtlWrap {overflow:hidden; height:100%;}
.statusDtlWrap .statusDtl {cursor:pointer; float:left; width:100px;  padding:0 10px; border-left:1px solid #e5ebed; min-height:73px;}
.statusDtlWrap .statusDtl:first-child {border-left:none;}
.statusDtlWrap .statusDtl .statusTit {color:#81929a; font-size:11px;}
.statusDtlWrap .statusDtl .statusCont {color:#455a64; font-size:22px; font-weight:bold;}
.statusDtlWrap .statusDtl .stutusWarning {background:#f4f8f9; border:1px solid #e5ebed; padding:2px 0; border-radius:3px;}
.statusDtlWrap .statusDtl .fontRed {font-weight:bold;} 

/* 수직정렬 */
.v-center {position:relative; top:50%; transform: translateY(-50%);}


/* 데이터 없을시 */
.empty-state {background: url("/images/com/web_v2/empty_state.png") no-repeat center top 65px;width: 100%;height: 100%;background-size: 130px auto;}
.empty-state-copy {padding-top: 155px; text-align: center;}



/* sub
-----------------------------*/

/* 정비실적 등록 */

.repairMember * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.repairMember *:before,
.repairMember *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.repairMemBtnArea {margin:10px 15px 10px 10px;}

.repairMemberList {padding:0 10px 10px;}
.repairMemberList li {position:relative; overflow:hidden; transition:.3s;}
/* .repairMemberList li:nth-child(odd) {background:#f4f7fa;} */

.repairMemberTit {overflow:hidden; width:100%;}
.repairMemberTit .repairMemberTitIn {overflow:hidden; width:calc(100% - 63px); border-left:1px solid #bccdd8; border-bottom:1px solid #bccdd8; background:#fff; padding:8px 10px; border-left:5px solid #3990b8; min-height:62px;}
.repairMemberList li:first-child .repairMemberTit .repairMemberTitIn {border-top:1px solid #bccdd8;}
.repairMemberTit .userInfo {overflow:hidden; float:left;}
.repairMemberTit .userInfo .user_img {float:left; width:40px; height:40px; overflow:hidden; border-radius:50%; border:1px solid #b7bbc1; margin-top:3px;}
.repairMemberTit .userInfo .user_img img {width:100%; height:100%; border-radius:50%;}
.repairMemberTit .userInfo .user_name {float:left;}
.repairMemberTit .userInfo .user_name .name {margin-top:2px; font-size:13px !important; font-weight:bold; color:#414141 !important;}
.repairMemberTit .userInfo .user_name .dep {overflow:hidden; color:#64748c !important;}
.repairMemberTit .userInfo .user_name .dep input {font-size:12px; color:#667284; width:auto; float:left;}
.repairMemberTit .userInfo .user_name .dep span {display:inline-block;}

.repairMemberTit .repairMemberBtn {float:right; padding-top:11px;}
.repairMemberTit .repairMemberBtn2,
.repairMemberTit .repairMemberBtn3 {float:right;padding-top:11px;padding-right:3px;}

.repairAccOpenBtn,
.repairAccCloseBtn {position: absolute; top:0; right:0; display: block; text-align:center; height: 62px; width: 63px;}

.repairAccOpenBtn {background:#ebf4f8; border:1px solid #bccdd8; border-top:none;}
.repairMemberList li:first-child .repairAccOpenBtn {border-top:1px solid #bccdd8;}
.repairAccOpenBtn a {background:url("/images/com/web_v2/accordionDown.png") no-repeat center center; background-size:20px auto;}
.repairAccOpenBtn:hover a {transition:.3s; background:#277396 url("/images/com/web_v2/accordionDownHover.png") no-repeat center center; background-size:20px auto;}
.repairAccCloseBtn {background:#277396; border:1px solid #277396;}
.repairAccCloseBtn a {background:url("/images/com/web_v2/accordionUp.png") no-repeat center center; background-size:20px auto;}

.repairAccOpenBtn a,
.repairAccCloseBtn a {color: #fff; font-size: 30px; display: block; height:100%;}


.repairMemberList .repairTime {overflow:hidden;}
.repairMemberList .repairTimeAddLst {position:relative; background:#f6fafc; padding:10px; border:1px solid #bccdd8; border-top:none;
    -webkit-box-shadow:inset 0px 1px 2px 0px rgba(109, 144, 160, 0.28);
    -moz-box-shadow:inset 0px 1px 2px 0px rgba(109, 144, 160, 0.28);
    box-shadow:inset 0px 1px 2px 0px rgba(109, 144, 160, 0.28);}
.repairMemberList .inTit {width:105px; margin-top:5px; padding:0 15px 0 10px; margin-left:5px; font-weight: bold; background:url(/images/com/web/bull.png) left center no-repeat;}

.repairMemberList .repairTimeRowDel.deleteBtn {position: absolute; top: 50%; right: 15px; margin-top: -10px; padding: 0; width:24px; height:22px;}

/* 버튼 스타일 */
.repairMemberList .manager {display:inline-block !important; background:#5bc0de; color: #fff; border-radius: 3px; display:inline-block; padding: 1px 7px 1px 7px; margin-left: 2px;}
.repairMemberList .deleteBtn {background: #e61a3f url(/images/com/web_v2/trash_white.png) no-repeat; background-size: 13px auto; background-position: left 6px top 4px;
											color: #fff; border-radius: 3px; display: inline-block; padding: 1px 7px 1px 22px;}
.repairMemberList .deleteBtn:hover {background-color:#c81435; transition:.3s;}
.repairMemberList .fixBtn {display:inline-block !important;background: #38ca58;color: #fff;border-radius: 3px;display:inline-block;padding: 1px 7px 1px 7px;margin-left: 2px;}

/* #repairMember .readonly {background:#e9f0f3 !important;} */

.repairMemberList.type02 {padding:0 5px 5px;}
.repairMemberList.type02 .repairMemberTitIn {background:#f6fafc;}
.repairMemberList.type02 .repairTimeAddLst {background:#fff;}

/* 아코디언 기능 없이 정비원 리스트만 사용시 */
.repairMemberList.onlyLst li {margin-top:-1px;}
.repairMemberList.onlyLst .repairMemberTitIn {background:#f6fafc; border-top:1px solid #bccdd8; border-right:1px solid #bccdd8; width:100%;}

