@charset "utf-8";
 
 /*
 * Project		:	설비
 * File			:	lobipanel.css
 * Author		:	YoungJae Lee
 * Date			:	May. 2018
 * Description	:	메인대시보드 위젯 기능
 */
 

#lobipanelWrap {background:#f4f6f9; height:100%; overflow-y:auto;}
#lobipanel {padding-top:45px; overflow: hidden;}
#lobipanel * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#lobipanel *:before,
#lobipanel *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.mainSlider {width:92%; margin:0 auto;}
.lobi-row {margin-right: -15px; margin-left: -15px; padding:0 20px;}
.lobi-col {width: 50%; position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; float: left;}
.lobi-col.type02 {width:100%; margin-top:5px;}

.lobipanel {margin-bottom: 20px; position: relative; background-color:#fff; border: 1px solid transparent; border-radius: 4px;
			-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2); box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);}
.panelFixed {height:5px; background:#f4f6f9; visibility:hidden;}
.lobipanel > .panel-heading {cursor: default; border-bottom: 1px solid #e5ebed; position:relative; height:36px; line-height:36px; padding-left:10px;}
.lobipanel > .panel-heading > .panel-title {float: left; color: inherit; max-width: calc(100% - 30px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:13px;}
.lobipanel > .panel-heading > .panel-title h1,
.lobipanel > .panel-heading > .panel-title h2,
.lobipanel > .panel-heading > .panel-title h3,
.lobipanel > .panel-heading > .panel-title h4,
.lobipanel > .panel-heading > .panel-title h5,
.lobipanel > .panel-heading > .panel-title h6 {margin: 0;}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {color: inherit;}
.lobipanel > .panel-heading > .panel-title input {color: inherit;line-height: 30px;border-radius: 2px;padding: 0 5px;width: 100%;background-color: rgba(0, 0, 0, 0.2);border: 1px solid transparent;outline: 0;}
.lobipanel > .panel-heading > .panel-title input:focus {background-color: rgba(0, 0, 0, 0.15);}
.widgetMoreBtn {padding-right:10px;}
.widgetMoreBtn img {width:11px; height:auto;}
.lobipanel > .panel-heading .dropdown {display: inline-block;float: right;position: relative; padding-right:5px;}
.lobipanel > .panel-heading .dropdown .dropdown-menu {left: auto;right: 0;min-width: 0;margin-top: 0;border-radius: 0;}
.lobipanel > .panel-heading .dropdown .dropdown-menu > li > a .control-title {display: inline-block;margin-left: 15px;}
.lobipanel > .panel-heading .dropdown .dropdown-menu .style-change-item {position: relative;}
.lobipanel > .panel-heading .dropdown .dropdown-menu .style-change-item .style-list {position: absolute;background: #f5f5f5;box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);padding: 4px;display: none;width: 92px;top: 100%;right: 0;z-index: 2;}
.lobipanel > .panel-heading .dropdown .dropdown-menu .style-change-item .style-list .style-item {cursor: pointer;display: inline-block;width: 24px;height: 24px;margin: 2px;border: 2px solid #f5f5f5;}
.lobipanel > .panel-heading .dropdown .dropdown-menu .style-change-item .style-list .style-item:hover {border-color: #FFF;}
.lobipanel > .panel-heading .dropdown .dropdown-menu .style-change-item .style-list .style-item:active {box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);}
.lobipanel > .panel-heading .dropdown .dropdown-menu .style-change-item .style-list.opened {display: block;}
.lobipanel > .panel-heading .dropdown .dropdown-toggle {color: inherit; border: none;outline: 0;background-color: transparent;text-align: center;padding: 0;width: 30px;font-size: 14px;-webkit-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;}
.lobipanel > .panel-heading .dropdown .dropdown-toggle .panel-control-icon {top: 0;line-height: 30px;}
.lobipanel > .panel-heading .dropdown .dropdown-toggle:hover,
.lobipanel > .panel-heading .dropdown .dropdown-toggle:hover:focus {text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);background-color: rgba(0, 0, 0, 0.15);}
.lobipanel > .panel-heading .dropdown.open .dropdown-toggle {text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);background-color: rgba(0, 0, 0, 0.15);}
.lobipanel > .panel-heading:before, .lobipanel > .panel-heading:after {content: " ";display: table;}
.lobipanel > .panel-heading:after {clear: both;}
.lobipanel .panel-heading .panel-title {max-width: calc(100% - 180px);}
.lobipanel .panel-heading .dropdown .dropdown-menu {position: static;display: inline-block;border: none;padding: 0;margin: 0;min-width: 0;width: auto;-webkit-box-shadow: none;box-shadow: none;background: transparent;}
.lobipanel .panel-heading .dropdown .dropdown-menu > li {display: inline-block;}
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a {cursor: pointer; color: inherit; padding: 0;outline: 0;text-align: center;width: 30px;font-size: 14px;-webkit-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;}
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a .panel-control-icon {top: 0;}
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a .control-title {display: none;}
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a:hover,
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a:focus:hover {text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); background-color: rgba(0, 0, 0, 0.15);}
.lobipanel .panel-heading .dropdown .dropdown-menu > li > a:focus {text-shadow: none; background-color: transparent;}
.lobipanel .panel-heading .dropdown .dropdown-toggle {display: none;}
.lobipanel > .lobipanel-body {position: relative; height:275px; overflow:hidden;}
.lobipanel > .lobipanel-body.type02 {height:608px;}
.lobipanel > .lobipanel-body.graph {padding:10px 15px 10px 0;}
.lobipanel > .lobipanel-body.graph02 {padding: 10px 0;}

.lobipanel .panel-loader {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; opacity: 0.8;}
.lobipanel.panel-collapsed > .panel-heading {border-bottom: none;}
.lobipanel.panel-collapsed > .panel-heading .dropdown .dropdown-menu > li > a[data-func="expand"],
.lobipanel.panel-collapsed > .panel-heading .dropdown .dropdown-menu > li > a[data-func="reload"] {display: none;}

.lobi-col.type02 a[data-func="expand"],
.lobi-col a[data-func="minimize"],
.lobi-col a[data-func="close"] {display:none;}

/* .panel-expanded img{width:20% !important;} */
.lobipanel.panel-expanded,
.lobipanel.panel-unpin,
.lobipanel.panel-minimized.panel-unpin {margin-bottom: 0;}

/* unpin시 레이아웃 */
.lobipanel.panel-unpin {overflow: hidden;position: absolute;z-index: 10000;-webkit-box-shadow: 2px 2px 15px 5px rgba(10, 10, 10, 0.5);box-shadow: 2px 2px 15px 5px rgba(10, 10, 10, 0.5);}
.lobipanel.panel-unpin > .panel-heading {cursor: move;}
.lobipanel.panel-unpin.panel-minimized {float: left;position: static;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;min-width: 170px;margin-right: 5px;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading {padding: 0; cursor: pointer; border-bottom: none;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title {max-width: calc(100% - 60px);}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title h1,
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title h2,
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title h3,
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title h4,
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title h5,
.lobipanel.panel-unpin.panel-minimized > .panel-heading .panel-title h6 {overflow: hidden; text-overflow: ellipsis;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu { position: static;display: inline-block;border: none;padding: 0;margin: 0;min-width: 0;width: auto;-webkit-box-shadow: none;box-shadow: none;background: transparent;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li {display: inline-block;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a { cursor: pointer;color: inherit;padding: 0;outline: 0;text-align: center;width: 30px;font-size: 14px;-webkit-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a .panel-control-icon {top: 0; line-height: 30px;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a .control-title {display: none;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a:hover,
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a:focus:hover {text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); background-color: rgba(0, 0, 0, 0.15);}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a:focus {text-shadow: none; background-color: transparent;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-toggle {display: none;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a {display: none;}
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a[data-func="close"],
.lobipanel.panel-unpin.panel-minimized > .panel-heading .dropdown .dropdown-menu > li > a[data-func="expand"] {display: inline-block;}
.lobipanel.panel-unpin.panel-minimized > .lobilobipanel-body,
.lobipanel.panel-unpin.panel-minimized > .panel-footer {display: none !important;}

/* expanded 기본 레이아웃 */
.lobipanel.panel-expanded > .panel-heading {cursor: default;}
/* .lobipanel.panel-expanded img {width:30% !important; height:auto !important;} */
.lobipanel.panel-expanded > .panel-heading > a.widgetMoreBtn,
.lobipanel.panel-expanded > .panel-heading .dropdown .dropdown-menu > li > a[data-func="unpin"],
.lobipanel.panel-expanded > .panel-heading .dropdown .dropdown-menu > li > a[data-func="minimize"],
.lobipanel.panel-expanded > .panel-heading .dropdown .dropdown-menu > li > a[data-func="close"]  {display: none;}
.lobipanel.panel-expanded.panel-unpin > .panel-heading .panel-control[data-func="minimize"] {display: block;}
.lobipanel.panel-expanded .panel-heading .sel-wrap {width:120px !important;}

.lobipanel.panel-expanded > .lobipanel-body.graph,
.lobipanel.panel-expanded > .lobipanel-body.graph02 {padding:0 !important;}
.lobipanel.panel-expanded .expanded-contents {padding:10px 20px;}
.lobipanel.panel-expanded .expanded-graph {height:350px;}

.lobipanel.panel-expanded > .lobipanel-body > table.scrolltbody {height:85% !important;}
.lobipanel.panel-expanded > .lobipanel-body > table.scrolltbody tbody {height:100% !important;}
.lobipanel.panel-expanded > .lobipanel-body > table th,
.lobipanel.panel-expanded > .lobipanel-body > table td {width:500px !important;}

.lobipanel.panel-expanded .dash-schedule-top {height:20%; background-image: url("/images/com/web_v2/schedule_bg_big.png"); background-position:top center; background-size:100% 100%;}
.lobipanel.panel-expanded .dash-schedule-top > div {padding:33px 0 0 50px !important;}

.lobipanel-minimized-toolbar { position: fixed;height: 42px;padding: 3px 0 3px 3px;bottom: 0;left: 0;right: 0;z-index: 20000;background: rgba(34, 115, 182, 0.51);}
.lobipanel-placeholder {background-color: #e7ebf1; border: 2px dashed #999999; margin-bottom: 15px;}
/* .lobipanel-parent-sortable {min-height: 20px;} */


/* ----------------------
	
		포틀렛 style 
	
------------------------ */

.portletChart {position: relative; padding:10px; height:100%;}

/* 말줄임표 */
.lobi-ellipsis {display:block; width:100%; font-size:12px;}
.lobi-ellipsis .lobi-list-title {display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:top;}

/* 리스트 공통 사용(table tag 제외) --- 정비원 업무현황 / 돌발정비 현황-type02 */
.lobipanel-list {width:100%; height:100%;}
.lobipanel-list > li {position:relative; overflow:hidden; border-bottom:1px solid #d6dce6; padding:10px 18px 10px 11px; border-left:4px solid #fff; cursor:pointer; transition:.3s;}
.lobipanel-list > li:hover {background-color:#f4f7fa; border-left:4px solid #44a5cd;}
.lobipanel-list > li:nth-child(even) {background:#f4f7fa; border-left:4px solid #f4f7fa;}
.lobipanel-list > li:nth-child(even):hover {border-left:4px solid #44a5cd;}

.lobipanel-list.type02 > li {padding:0 18px 0 13px; height:50px; line-height:50px;}
.lobipanel-list.type02 > li:nth-child(even) {background:#fff; border-left:4px solid #fff;}
.lobipanel-list.type02 > li:nth-child(even):hover {background:#f4f7fa; border-left:4px solid #44a5cd;}
.lobipanel-list.type02 .unExReqTit {}
.lobipanel-list.type02 .unExReqTit span {display:inline-block; width:10px; height:10px; background:#ffc155; margin-right:5px; border-radius:50%;}
.lobipanel-list.type02 .unExReqCon span {font-size: 18px; color: #3990b8; font-weight: bold;}

/* 테이블 공통 사용(기본 스타일-component.css) --- 재고부족 자재 */
.tb-wrap.main {border-top:none; display:block;}
.tb-wrap.main .tb-st {border:none;}
.tb-wrap.main .tb-st th,
.tb-wrap.main .tb-st td {height:32px; border-right:none; text-align:center;}
.tb-wrap.main .tb-st th{border-bottom:1px solid #d6dce6; background:#fff;}
.tb-wrap.main .tb-st tr:nth-child(odd) td {background:#f4f7fa;}
.tb-wrap.main .tb-st tr:last-child td {border-bottom:1px solid #d6dce6;}

.tb-wrap.main .tb-st tbody tr td:first-child {border-left:4px solid #fff;}
.tb-wrap.main .tb-st tbody tr:nth-child(odd) td:first-child {border-left:4px solid #f4f7fa;}
.tb-wrap.main .tb-st tbody tr:hover td:first-child {border-left:4px solid #44a5cd;}
.tb-wrap.main .tb-st tbody tr:hover td {background:#f4f7fa; transition:.3s;}

.tb-wrap.main .boxscroll {height:calc(100% - 32px);}

/* 돌발정비 현황 */
.troubleTabset {padding:10px;}
.troubleTab {}
.troubleTab button {display:inline-block; margin-right:2px; background-color:#f4f7fa; color:#414141; width:80px; padding:5px 10px; border-radius:3px 3px 0 0; text-align: center; cursor: pointer; transition: 0.3s; font-size: 12px; outline:none;
								border:1px solid #d6dce6; border-bottom:none;}
.troubleTab button:hover {background-color: #d6dce6; color:#414141;}
.troubleTab button.active {background-color: #3990b8; color:#fff;}
.troubleTabcontent {float:left; width:100%; display:none; border-top:1px solid #d6dce6; height:calc(100% - 28px);}

/* 정비원 현황 */
.workerTabset {padding:10px 10px 0;}
.workerTab {}
.workerTab button {display:inline-block; margin-right:2px; background-color:#f4f7fa; color:#414141; width:80px; padding:5px 10px; border-radius:3px 3px 0 0; text-align: center; cursor: pointer; transition: 0.3s; font-size: 12px; outline:none;
								border:1px solid #d6dce6; border-bottom:none;}
.workerTab button:hover {background-color: #d6dce6; color:#414141;}
.workerTab button.active {background-color: #3990b8; color:#fff;}
.workerTabcontentWrap {border-top:1px solid #d6dce6; width:100%; height:calc(100% - 38px);}
.workerTabcontent {display:none;}

/* MTBF MTTR */
.mtWrap {padding:25px 25px 36px;}
.mtWrapTop {text-align:center; padding-bottom:20px;}
.mtWrapTop > div {width:49.5%;}
.mtWrapTop > div:first-child {border-right:1px solid #e5ebed;}
.mtWrapTop .mtTit {color:#9aa3b1; font-size:13px;}
.mtWrapTop .mtCon {font-size:13px;}
.mtWrapTop .mtCon span{font-size:26px; font-weight:bold;}
.mtWrapBtm {text-align:center; border-top:1px solid #e5ebed; padding-top:20px;}
.mtWrapBtm .availabilityTit {font-size:13px;}
.mtWrapBtm .availabilityPer {font-size:38px; font-weight:bold; color:#376ba3;}
.mtWrapBtm .availabilityCompare span {padding-left:10px; margin-left:8px;}
.mtWrapBtm .availabilityCompare.up span {color:#4aa23c; background:url("/images/com/web_v2/main_mt_up.png") no-repeat; background-position:left center;}
.mtWrapBtm .availabilityCompare.down span {color:#e31111; background:url("/images/com/web_v2/main_mt_down.png") no-repeat; background-position:left center;}
.mtWrap .availabilityBar {background-color:#eeeff0; width:100%; height: 8px; border-radius:5px; margin-top:15px;}
.mtWrap .availabilityBar-inner {background-color:#376ba3; width:0%; height:100%; position:relative; transition:width 1000ms linear; border-radius:5px;}

/* 정비원 업무현황 */
.userInfo .user_img {float:left; width:40px; height:40px; overflow:hidden;}
.userInfo .user_img img {width:100%; height:100%; border-radius:50%;}
.userInfo .user_name {float:left; line-height:20px; margin-left:10px;}
.userInfo .user_name span {display:block;}
.userInfo .user_name .name {font-size:12px; font-weight:bold;}
.userInfo .user_name .dep {font-size:11px; color:#9aa3b1;}
.workStatus ul {}
.workStatus ul li {line-height:39px;}
.workStatus ul li span {display:inline-block;}
.workStatus .workStatusTit {font-weight:bold; width:30px;}
.workStatus .workStatusCon {margin-left:10px; padding-left:20px;}
.workStatus .workStatusCon.type01 {width:40px; background:url("/images/com/web_v2/workStatusIcon_00.png") no-repeat; background-size:16px auto; background-position: top 13px left;}
.workStatus .workStatusCon.type02 {width:40px; background:url("/images/com/web_v2/workStatusIcon_01.png") no-repeat; background-size:16px auto; background-position: top 13px left;}

/* 내요청현황 */
.myReqLstWrap {position:relative; width:100%; height:100%;}
.myReqLstWrap-in {padding:10px;}
.myReqLstWrap-in .myReqLst:first-child {margin-top:0;}
.myReqLst {border-bottom:1px solid #d6dce6; margin-top:10px; -webkit-box-shadow: 1px 1px 1px rgba(189, 197, 211, .2); box-shadow: 1px 1px 1px rgba(189, 197, 211, .2);}
.myReqLstTit {overflow:hidden; border-top:3px solid; border-right:1px solid #d6dce6; height:70px; background:#fff;}
.myReqLstTit.waiting {border-top-color:#ffcc56;}
.myReqLstTit.accept {border-top-color:#4ecfae ;}
.myReqLstTit.assign {border-top-color:#b98bbb ;}
.myReqLstTit.complete {border-top-color:#00aed6;}
.myReqLstTit.reject {border-top-color:#dd918b;}
.myReqLstTit.reqCancel {border-top-color:#a5adb3;}
.myReqLstTit > div {padding:6px 10px;}
.myReqLstTit > div:first-child {padding:0;}
.myReqLstTit .materialName {font-size:14px; font-weight:bold; line-height:1.4;}
.myReqLstTit .materialPst {font-size:12px;  line-height:1.4;}
.myReqLstTit .port-status {width:70px; height:70px;}
.myReqLstTit .port-status span {display:block; text-align:center; padding-top:40px; font-size:13px; color:#fff;}
.myReqLstTit .port-status.waiting {background:url("/images/com/web_v2/port_stats_01.png") no-repeat}
.myReqLstTit .port-status.waiting span {background:url("/images/com/web_v2/port_stats_icon_01.png") no-repeat top 15px center; background-size:18px auto;}
.myReqLstTit .port-status.accept {background:url("/images/com/web_v2/port_stats_02.png") no-repeat}
.myReqLstTit .port-status.accept span {background:url("/images/com/web_v2/port_stats_icon_02.png") no-repeat top 20px center; background-size:18px auto;}
.myReqLstTit .port-status.assign {background:url("/images/com/web_v2/port_stats_03.png") no-repeat}
.myReqLstTit .port-status.assign span {background:url("/images/com/web_v2/port_stats_icon_03.png") no-repeat top 15px center; background-size:18px auto;}
.myReqLstTit .port-status.complete {background:url("/images/com/web_v2/port_stats_04.png") no-repeat}
.myReqLstTit .port-status.complete span {background:url("/images/com/web_v2/port_stats_icon_04.png") no-repeat top 17px center; background-size:16px auto;}
.myReqLstTit .port-status.reject {background:url("/images/com/web_v2/port_stats_05.png") no-repeat}
.myReqLstTit .port-status.reject span {background:url("/images/com/web_v2/port_stats_icon_05.png") no-repeat top 18px center; background-size:18px auto;}
.myReqLstTit .port-status.reqCancel {background:url("/images/com/web_v2/port_stats_06.png") no-repeat}
.myReqLstTit .port-status.reqCancel span {background:url("/images/com/web_v2/port_stats_icon_06.png") no-repeat top 18px center; background-size:18px auto;}
.myReqLstCon {position: relative; border:1px solid #d6dce6; border-bottom:none; padding:15px 15px 20px 10px; background:#fff;} 
.myReqLstCon .timeline {border-left:2px solid #d6dce6; position: relative; margin:0 0 0 20px; padding-left:30px;}
.myReqLstCon .timeline .timelineBody {padding-bottom:20px;}
.myReqLstCon .timeline .timelineBody .timelineImg {display:inline-block; background:#fff; width:38px; height:38px; border-radius:50%; position:absolute; top:0; left:-20px; border:1px solid #d6dce6;}
.myReqLstCon .timeline .timelineBody .timelineImg img {width:100% !important; height:38px !important; border-radius:50%;}
.myReqLstCon .timeline .timelineBody .timelineInfo {line-height:1.5;}
.myReqLstCon .timeline .timelineBody .timelineUser {font-size:13px; color:#44a5cd; font-weight:bold;}
.myReqLstCon .timeline .timelineBody .timelineUser span {font-size:12px; color:#414141; font-weight:normal;}
.myReqLstCon .timeline .timelineBody .timelineTime {color:#9aa3b1; font-size:11px;}
.myReqLstCon .timeline .timelineBody .timelineMsg {background:#f3f3f9; padding:10px 15px; position:relative; margin-top:5px; border-radius:0 60px 60px 60px; -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2); box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);}
.myReqLstCon .timeline .timelineBody .timelineMsg.answer {background:#43546e; color:#fff;}
.myReqLstCon .timeline:last-child {border-left-color:#fff;}
.myReqLstCon .timeline:last-child .timelineBody{padding-bottom:0;}


/* ----------------------
	
		expand 포틀렛 
	
------------------------ */

/* -- 
    기본 레이아웃 공통 사용
                             -- */ 
.expandPortletWrap {width:100%; height:100%; background:#f4f6f9;}

/* 검색 및 달력이동 영역 */
.expandSchWrap {background:#fff; overflow:hidden; padding:14px 20px; border-bottom:1px solid #e5ebed;}
.monthMoveWrap {padding-top:3px; left:50%; margin-left:-70px; text-align:center;}
.monthMoveWrap > div {float:left;}
.monthMoveWrap .monthMoveBtn {background:#f4f6f9; border:1px solid #e5ebed; width: 20px; height: 20px; line-height: 20px;cursor:pointer;}
.monthMoveWrap .monthMoveBtn:hover {background:#ebeff3; transition:.3s;}
.monthMoveWrap .monthMoveInfo {font-size:14px; margin:0 10px;}
.monthMoveWrap.type01 .monthMoveBtn {background:#fff; border-color:#d3d9e3;}
.monthMoveWrap.type01 .monthMoveBtn:hover {background:#f3f5f9; transition:.3s;}

/* status 카드 영역 */
.exapndCountDtl {height:150px;}
.exapndCountDtl .statusDtlWrap {text-align:center;}
.exapndCountDtl .statusDtlWrap .statusDtl {cursor:defaulut; float:none; padding:13px 10px 0; border-left:none; min-height:96px; width:150px;
																display:inline-block; vertical-align:top; background:#fff; margin:0 5px; -webkit-box-shadow:inset -1px -1px 1px 0px rgba(0, 0, 0, .2); box-shadow:inset -1px -1px 1px 0px rgba(0, 0, 0, .2); }

.exapndCountDtl .statusDtlWrap .statusDtl:nth-child(1) .statusCont {color:#40cbbc;}
.exapndCountDtl .statusDtlWrap .statusDtl:nth-child(2) .statusCont {color:#0097c1;}
.exapndCountDtl .statusDtlWrap .statusDtl:nth-child(3) .statusCont {color:#86ba23;}
.exapndCountDtl .statusDtlWrap .statusDtl:nth-child(4) .statusCont {color:#ffad52;}
.exapndCountDtl .statusDtlWrap .statusDtl:nth-child(5) .statusCont {color:#b91e3a;}
.exapndCountDtl .statusDtlWrap .statusDtl:nth-child(6) .statusCont {color:#616f7c;}

.exapndCountDtl .statusDtlWrap .statusDtl .statusCont {text-align:center; padding:5px 0;}
.exapndCountDtl .statusDtlWrap .statusDtl .statusCont span {margin-left:3px; color:#414141; font-size:12px; font-weight:normal}
.exapndCountDtl .statusDtlWrap .statusDtl .stutusWarning {text-align:center; border-radius:0; background:#f6f9fa;}

/* 차트영역 */
.expandChartDtl * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.expandChartDtl {width:70%; margin:0 auto; padding-bottom:20px;}
.expandChartDtlIn {overflow:hidden;}
.expandChart {background:#fff; position: relative; padding:10px 15px 45px;
						-webkit-box-shadow:inset -1px -1px 1px 0px rgba(0, 0, 0, .2); box-shadow:inset -1px -1px 1px 0px rgba(0, 0, 0, .2);}
.expandChartTit {margin-left:10px; padding-left:13px; padding-bottom:15px; font-size:13px; font-weight:bold; background:url(/images/com/web/bull.png) left top 6px no-repeat;}



/* -- 
    정비원 업무현황
                      -- */
.expand-workStatList * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.expand-workStatList {overflow:hidden; width:100%; height:100%;}
.expand-workStatList > div.f-l {border-right:1px solid #d6dce6;}
.expand-workStatList .factoryTit {font-size:14px; font-weight:bold; color:#24647e; height:40px; line-height:40px; background:#fff; padding:6px 15px;
													border-bottom:1px solid #d6dce6;}

.expand-workStatList .lobipanel-list > li {background:#fff; padding:10px 15px 10px 11px;}
.expand-workStatList .lobipanel-list > li:hover {background-color:#f4f7fa; border-left:4px solid #44a5cd;}
.expand-workStatList .lobipanel-list > li:nth-child(even) {background:#fff; border-left:4px solid #fff;}
.expand-workStatList .lobipanel-list > li:nth-child(even):hover {border-left:4px solid #44a5cd; background-color:#f4f7fa;}
.expand-workStatList .lobipanel-list > li.click {background-color:#f4f7fa !important; border-left:4px solid #44a5cd !important;}

.expand-workStatList .expandedTabSet{}
.expand-workStatList .expandedTabSet > ul.expandedTabs {background:#fff;}
.expand-workStatList .expandedTabSet > ul.expandedTabs > li.expandedTabLink {border-top:3px solid #fff; border-radius:0;}
.expand-workStatList .expandedTabSet > ul.expandedTabs > li.expandedTabLink.active {border-top:3px solid #00405d; background:#fff; border-right:1px solid #d6dce6; border-left:1px solid #d6dce6;}
.expand-workStatList .expandedTabSet > .panels {padding:0;}
.expand-workStatList .expandedTabSet .panel {background:#f4f6f9;}
.expand-workStatList .expandedTabSet .panel-in {margin-top:0;}

.expand-workStatList .workMonthMoveWrap {background:#fff; border-bottom:1px solid #ddd; height:37px;}
.expand-workStatList .monthMoveWrap {padding-top:8px;}

.expand-workStatList .exapndCountDtl .statusDtlWrap .statusDtl {min-height:105px; }

/* -- 
    내 요청 현황
                 -- */
.expand-myReqList * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.expand-myReqList {overflow:hidden;}
.expand-myReqList > div.f-l {border-right:1px solid #d6dce6;}
.expand-myReqList .boxscroll.left {background:#fff; height:100%;}

.expand-myReqList .myReqLst {cursor:pointer;}
.expand-myReqList .myReqLst .myReqLstTit {transition:.3s;}
.expand-myReqList .myReqLst.click .myReqLstTit,
.expand-myReqList .myReqLst:hover .myReqLstTit {color:#fff !important;}
.expand-myReqList .myReqLst.click .myReqLstTit.waiting,
.expand-myReqList .myReqLst:hover .myReqLstTit.waiting {background: #ffc255;}
.expand-myReqList .myReqLst.click .myReqLstTit.accept,
.expand-myReqList .myReqLst:hover .myReqLstTit.accept {background: #3dbea2;}
.expand-myReqList .myReqLst.click .myReqLstTit.assign,
.expand-myReqList .myReqLst:hover .myReqLstTit.assign {background: #aa80b6;}
.expand-myReqList .myReqLst.click .myReqLstTit.complete,
.expand-myReqList .myReqLst:hover .myReqLstTit.complete {background: #00a8d1;}
.expand-myReqList .myReqLst.click .myReqLstTit.reject,
.expand-myReqList .myReqLst:hover .myReqLstTit.reject {background: #d36f73;}
.expand-myReqList .myReqLst.click .myReqLstTit.reqCancel,
.expand-myReqList .myReqLst:hover .myReqLstTit.reqCancel {background: #939ca4;}

.expandedTabSet{}
.expandedTabSet > ul.expandedTabs {overflow:hidden; height:40px; background:#f4f6f9; border-bottom:1px solid #d6dce6;}
.expandedTabSet > ul.expandedTabs > li.expandedTabLink {float:left; cursor:pointer; font-size:12px; font-weight:bold; color:#555; border-top:3px solid #f4f6f9; border-bottom:1px solid #f4f6f9; padding:9px 15px 10px;}
.expandedTabSet > ul.expandedTabs > li.expandedTabLink.active {border-top:3px solid #00405d; border-bottom:1px solid #fff; background:#fff; border-right:1px solid #d6dce6; border-left:1px solid #d6dce6;}
.expandedTabSet > ul.expandedTabs > li:first-child.expandedTabLink.active {border-left:none;}
.expandedTabSet > .panels {background:#fff; padding:0 10px 3px;}
.expandedTabSet .panel{background:#ffffff; margin:0 0 .5em; width:100%;}
.expandedTabSet .panel-in {margin-top:10px;}
.expandedTabSet .panels.boxscroll {height:calc(100% - 44px);}

/* 대시보드 one portlet */
.expandPortletWrap.bgWhite {background:#ffffff;}
.expandPortletWrap.bgWhite .expandChart,
.expandPortletWrap.bgWhite .exapndCountDtl .statusDtlWrap .statusDtl {background:#fdfdfe; border-top:1px solid #e5ebed; border-left:1px solid #e5ebed; min-height:88px;}
.expandPortletWrap.bgWhite .exapndCountDtl .statusDtlWrap .statusDtl .statusCont {padding:4px 0 3px;}
.expandPortletWrap.bgWhite .exapndCountDtl .statusDtlWrap .statusDtl .stutusWarning {background:none; border:none;}












.dropup, .dropdown {position: relative;}
.dropdown-toggle:focus {outline: 0;}
.dropdown-menu {position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 160px;padding: 5px 0;margin: 2px 0 0;font-size: 14px;text-align: left;list-style: none;background-color: #fff;
							-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0, 0, 0, .15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
.dropdown-menu.pull-right {right: 0; left: auto;}
.dropdown-menu .divider {height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;}
.dropdown-menu > li > a {display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.42857143;color: #333;white-space: nowrap;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {color: #262626; text-decoration: none; background-color: #f5f5f5;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {color: #fff; text-decoration: none; background-color: #337ab7; outline: 0;}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {color: #777;}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {text-decoration: none; cursor: not-allowed; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.open > .dropdown-menu {display: block;}
.open > a {outline: 0;}
.dropdown-menu-right {right: 0; left: auto;}
.dropdown-menu-left {right: auto; left: 0;}
.dropdown-header {display: block; padding: 3px 20px; font-size: 12px; line-height: 1.42857143; color: #777; white-space: nowrap;}
.dropdown-backdrop {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 990;}
.pull-right > .dropdown-menu {right: 0; left: auto;}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {content: ""; border-top: 0; border-bottom: 4px dashed; border-bottom: 4px solid \9;}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {top: auto; bottom: 100%; margin-bottom: 2px;}

.btn-group,
.btn-group-vertical {position: relative; display: inline-block; vertical-align: middle;}
.btn-group > .btn,
.btn-group-vertical > .btn {position: relative; float: left;}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {z-index: 2;}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {margin-left: -1px;}
.btn-toolbar {margin-left: -5px;}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {float: left;}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {margin-left: 5px;}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {border-radius: 0;}
.btn-group > .btn:first-child {margin-left: 0;}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {border-top-left-radius: 0; border-bottom-left-radius: 0;}
.btn-group > .btn-group {float: left;}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {border-radius: 0;}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {border-top-left-radius: 0; border-bottom-left-radius: 0;}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {outline: 0;}
.btn-group > .btn + .dropdown-toggle {padding-right: 8px; padding-left: 8px;}
.btn-group > .btn-lg + .dropdown-toggle {padding-right: 12px; padding-left: 12px;}
.btn-group.open .dropdown-toggle {-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);}
.btn-group.open .dropdown-toggle.btn-link {-webkit-box-shadow: none; box-shadow: none;}
.btn .caret {margin-left: 0;}
.btn-lg .caret {border-width: 5px 5px 0; border-bottom-width: 0;}
.dropup .btn-lg .caret {border-width: 0 5px 5px;}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {display: block; float: none; width: 100%; max-width: 100%;}
.btn-group-vertical > .btn-group > .btn {float: none;}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {margin-top: -1px; margin-left: 0;}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {border-radius: 0;}
.btn-group-vertical > .btn:first-child:not(:last-child) {border-top-right-radius: 4px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.btn-group-vertical > .btn:last-child:not(:first-child) {border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 4px;}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {border-radius: 0;}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {border-top-left-radius: 0; border-top-right-radius: 0;}
.btn-group-justified {display: table; width: 100%; table-layout: fixed; border-collapse: separate;}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {display: table-cell; float: none; width: 1%;}
.btn-group-justified > .btn-group .btn {width: 100%;}
.btn-group-justified > .btn-group .dropdown-menu {left: auto;}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {position: absolute; clip: rect(0, 0, 0, 0); pointer-events: none;}


.panel-footer {padding: 10px 15px; background-color: #f5f5f5; border-top: 1px solid #e5ebed; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
.panel > .list-group,
.panel > .panel-collapse > .list-group {margin-bottom: 0;}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {border-width: 1px 0; border-radius: 0;}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {border-top: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {border-bottom: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {border-top-left-radius: 0; border-top-right-radius: 0;}
.panel-heading + .list-group .list-group-item:first-child {border-top-width: 0;}
.list-group + .panel-footer {border-top-width: 0;}

.panel-group {margin-bottom: 20px;}
.panel-group .panel {margin-bottom: 0; border-radius: 4px;}
.panel-group .panel + .panel {margin-top: 5px;}
.panel-group .panel-heading {border-bottom: 0;}
.panel-group .panel-heading + .panel-collapse > .lobipanel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {border-top: 1px solid #e5ebed;}
.panel-group .panel-footer {border-top: 0;}
.panel-group .panel-footer + .panel-collapse .lobipanel-body {border-bottom: 1px solid #e5ebed;}








