@charset "utf-8";

/*
 * Project		:	대시보드
 * File			:	response.css
 * Author		:	YoungJae Lee
 * Date			:	May. 2018
 * Description	:	반응형 - 해상도 대응
 */


@media all and (min-width: 1651px) {
	
}

 
@media all and (min-width: 1401px) and (max-width: 1650px) {
/* 	.lobi-col {width:33.333333334%;} */
    .statusDtlWrap .statusDtl {width:95px; padding:0 6px;}
}


@media all and (max-width: 1400px) {
	ul.gnbMenu .top-heading {margin:0 20px;}
 	#header .user_name {display:none;}
	#header .userInfo a.logout_btn {background:none;}
	
	.summaryWrap .statusPeriod {padding:0 30px 0 20px;}
 	.statusDtlWrap .statusDtl {width:92px; padding:0 6px;}
	
/* 	.lobi-col {width:50%;} */
}

@media all and (max-height: 700px) {
	.treeChart {height:28vh;}
}