@charset "utf-8";

/* 트리 그리드 글씨 css */
.gridStatus1 {color:gray !important;font-weight:bold !important}
.gridStatus2 {font-weight:bold !important}
.gridStatus3 {color:#004AFF !important;font-weight:bold !important}
.gridStatus4 {color:#d91a00 !important;font-weight:bold !important}
.gridStatus5 {color:#FFF !important;font-weight:bold !important;}
.gridLink {color:blue !important; cursor:pointer !important;}
.gridLink:hover {color:blue !important; cursor:pointer !important; text-decoration:underline !important;}
.gridRemove .fnc-st01 {display:none}
.lastHidden .GOFootMid .GODataRow:last-child {display:none}
.innerWrap {float:left;width:100%;}

.GOCellSpace 
{border:none !important;}

.GridMain1 .GridMain2 .GOHeaderText 
{padding:5px !important;font-size:13px !important;font-weight:bold;}

.GridMain1 .GridMain2 .GOHtml, 
.GridMain1 .GridMain2 .GOText, 
.GridMain1 .GridMain2 .GOLines, 
.GridMain1 .GridMain2 .GOPass, 
.GridMain1 .GridMain2 .GOInt, 
.GridMain1 .GridMain2 .GOFloat, 
.GridMain1 .GridMain2 .GODate, 
.GridMain1 .GridMain2 .GOLink, 
.GridMain1 .GridMain2 .GOImg, 
.GridMain1 .GridMain2 .GORadio, 
.GridMain1 .GridMain2 .GORadioText, 
.GridMain1 .GridMain2 .GOList,
.GridMain1 .GridMain2 .GOEnum, 
.GridMain1 .GridMain2 .GODropCols, 
.GridMain1 .GridMain2 .GOAbs, 
.GridMain1 .GridMain2 .GOPagerEdit, 
.GridMain1 .GridMain2 .GOUser, 
.GridMain1 .GridMain2 .GOChart 
{border-top:1px solid #ffffff;border-bottom:1px solid #cccccc;font-size:13px !important;vertical-align:middle;}

.GOClassFocusedCell 
{background-color:#f7a392 !important;}

.GOCellHeader,.GOCellHeaderPanel,.GOCellHeaderEmpty
{background:none !improtant; background-color:#707c90 !important; height:20px !important; line-height:20px !important; color:#fff !important;}

.GridMain1 .GridMain2 .GOAlignCenter 
{border-top:1px solid #ffffff;border-bottom:1px solid #cccccc; vertical-align:middle;}

.GridMain1 .GridMain2 .GOHeaderRow 
{background:#e1e7eb !important; /* Old browsers */}

#result .GridMain1 .GridMain2 .GODateLeft,
#result .GridMain1 .GridMain2 .GODatesLeft,
#result .GridMain1 .GridMain2 .GODefaultsLeft,
#result .GridMain1 .GridMain2 .GODefaultsSpaceLeft,
#result .GridMain1 .GridMain2 .GOEnumLeft,
#result .GridMain1 .GridMain2 .GODateRight,
#result .GridMain1 .GridMain2 .GODatesRight,
#result .GridMain1 .GridMain2 .GODefaultsRight,
#result .GridMain1 .GridMain2 .GODefaultsSpaceRight,
#result .GridMain1 .GridMain2 .GOEnumRight,
#result .GridMain1 .GridMain2 .GOCollapseRight,
#result .GridMain1 .GridMain2 .GOExpandRight,
#result .GridMain1 .GridMain2 .GOCollapseLeft,
#result .GridMain1 .GridMain2 .GOExpandLeft,
#result .GridMain1 .GridMain2 .GOCollapseHeaderRight,
#result .GridMain1 .GridMain2 .GOExpandHeaderRight,
#result .GridMain1 .GridMain2 .GOCollapseHeaderLeft,
#result .GridMain1 .GridMain2 .GOExpandHeaderLeft 
{background-image:none !important;}

.GOToolbarRow 
{margin-bottom:3px !important;padding-bottom:0;}















