@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css); /* 한나체 */
@import "component.css";
@import "space.css";

/*
 * Project		:	이어카운팅
 * File			:	common.css
 * Author		:	YoungJae Lee
 * Date			:	Feb. 2018
 * Description	:	문서 초기화,웹폰트,글로벌 클래스 네임,기본레이아웃,기본스타일(헤더,팝업,달력,첨부파일,프린트)
 */

/******** web reset ************************************************************************************************/
html, body {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none; vertical-align: middle;}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button {font-family:'Noto Sans KR', '본고딕', sans-serif;font-size:12px;overflow-x:hidden;color:#414141;} /* color값은 디자인가이드에 맞게사용 */
a {color:inherit;text-decoration:none;cursor:pointer;}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
iframe{border:none;width:100%;height:100%}
table {border-spacing:0;border-collapse:collapse;}
/* body {background:#fff;} */
caption {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

/******** font style **********************************************************************************************/
/* 본고딕 */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('/font/notokr/notokr-light.eot');
	src: url('/font/notokr/notokr-light.eot?#iefix') format('embedded-opentype'),
		 url('/font/notokr/notokr-light.woff2') format('woff2'),
		 url('/font/notokr/notokr-light.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('/font/notokr/notokr-regular.eot');
	src: url('/font/notokr/notokr-regular.eot?#iefix') format('embedded-opentype'),
		 url('/font/notokr/notokr-regular.woff2') format('woff2'),
		 url('/font/notokr/notokr-regular.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('/font/notokr/notokr-medium.eot');
	src: url('/font/notokr/notokr-medium.eot?#iefix') format('embedded-opentype'),
		 url('/font/notokr/notokr-medium.woff2') format('woff2'),
		 url('/font/notokr/notokr-medium.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('/font/notokr/notokr-bold.eot');
	src: url('/font/notokr/notokr-bold.eot?#iefix') format('embedded-opentype'),
		 url('/font/notokr/notokr-bold.woff2') format('woff2'),
		 url('/font/notokr/notokr-bold.woff') format('woff');
}

/* 나눔고딕 */
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

/******** Global Classname *******************************************************************************************/
/* chrome input fill color */
input:-webkit-autofill {-webkit-box-shadow:0 0 0px 1000px #fff inset; -webkit-text-fill-color:#555d65 !important;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#989898;font-size:12px;}
::-moz-placeholder { /* Firefox 19+ */ color:#989898;font-size:12px;}
:-ms-input-placeholder { /* IE 10+ */ color:#989898;font-size:12px;}
:-moz-placeholder { /* Firefox 18- */ color:#989898;font-size:12px;}

/* 텍스트 제공 타입 */
.ir-pm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa{display:block; overflow:hidden; position:relative; z-index:-10; width:100%; height:100%;} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out{overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.cancel{text-decoration:line-through; color:#cccccc;}
.bold {font-weight:bold;}
.txt-red {color:red;}
.txt-green {color:#1fb5ac;}
.txt-blue {color:#5689cc;}

/* useful */
.skip{width:1px; height:1px; font-size:0; line-height:0; position:absolute; left:-999px; overflow:hidden; visibility:hidden;}
.dimm{position:fixed; top:0; left:0; bottom:0; right:0; z-index:95; background:#000000 !important;opacity:0.5; filter:alpha(opacity=50);}
.cl-b{clear:both}
.show{display:block}
.hide{display:none}
.clear-g{display:block; overflow:visible; width:auto; clear:both; *zoom:1;}
.clear-g:after{display:block; visibility:hidden; height:0; font-size:0; clear:both; content:'';}
.t-l{text-align:left !important;}
.t-r{text-align:right !important;}
.t-c{text-align:center !important;}
.overflow{overflow:hidden;}
.dis-inline {display:inline-block;}

/* 위치 속성 공통 클래스 */
.f-l{float:left}
.f-r{float:right}
.rel{position:relative;}
.ab{position:absolute; z-index:1;}
.ab-l{position:absolute; top:0; left:0;}
.ab-r{position:absolute; top:0; right:0;}
.center{position:absolute; left:50%;}
.middle{position:absolute; top:50%;}
.btn-r {position:absolute;top:0px;right:1px;}
.ab-n {position:inherit;}

/* loading bar */
#loading {position:fixed;_position:absolute;top:0px;left:0px;width: 00%;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.loading {background-color:transparent;z-index:199;}
#loading_img{position:absolute;top:50%;left:50%;height:35px;margin-top:-75px;margin-left:-75px;z-index:200;}

/******** layout / common style ************************************************************************************************/

/* webkit-scroll bar custom (safari) */
.nav::-webkit-scrollbar {width:0px}
.nav::-webkit-scrollbar-track {background:transparent;}
.nav::-webkit-scrollbar-thumb {-webkit-border-radius:0px;border-radius:0px;background:#ccc}
.nav::-webkit-scrollbar-thumb:window-inactive {background:#ccc}

.section::-webkit-scrollbar {width:0px}
.section::-webkit-scrollbar-track {background:#f2f2f2;}
.section::-webkit-scrollbar-thumb {-webkit-border-radius:0px;border-radius:0px;background:#f2f2f2}
.section::-webkit-scrollbar-thumb:window-inactive {background:#f2f2f2}

/* whole layout */
#wrapper{width:100%; height:100%; overflow:hidden;}
#header{min-width:980px; max-width:100%; height:45px; background:#37aad9;}
#main {position:absolute;top:45px;bottom:0;right:0;left:0;overflow:hidden;}
#aside {position:fixed;z-index:1;left:0;width:200px;overflow:hidden;transition:0.3s;background:#71b1d1;}
#section {transition:margin-left .3s;overflow:hidden;background:#fff;}
#nav-list {transition:0.1s;}
#container {overflow-y:hidden;overflow-x:auto;width:100%; background:#fff;
				/* -webkit-box-shadow: inset 0px 3px 3px 0px rgba(113,116,119,1);
				-moz-box-shadow: inset 0px 3px 3px 0px rgba(113,116,119,1);
				box-shadow: inset 0px 3px 3px 0px rgba(113,116,119,1); */}
#container .cont-inner {position:relative;height:100%;min-width:1300px;}
#container .cont-inner.scl {overflow:hidden;overflow-y:auto !important;}
#contents {padding:15px; height:100%;}
.scl {overflow-y:auto !important;}

/* GNB */
#header .left-toggle{position:fixed; top:14px; left:18px; width:20px; height:17px; background:url(/images/com/web/left_close.png) no-repeat; display:block; cursor:pointer;}
#header .left-open{background:url(/images/com/web/left_open.png) no-repeat;}
#header .ci{float:left; width:160px; margin-top:3px; text-align:center; background:url(/images/com/new_eAcc/line_2.png) no-repeat right top 8px; cursor:pointer;}
#header .ci img {margin-left:-5px;}

.gnb-list{float:left;margin-left:10px;}

ul#gnb{position:relative; z-index:100;}
ul#gnb li {float:left; display:inline; position:relative;}

/* Root Menu */
ul#gnb > li > a{padding:0 20px; height:45px; line-height:45px; text-align:center; float:left; display:block; color:#fff; font-size:14px;}
ul#gnb > li.selected > a {color:#0b5979;} /* gnb 메인메뉴 선택되었을때 CSS */
/* Root Menu Hover Persistence */
ul#gnb > li > a:hover,
ul#gnb > li:hover > a,
ul#gnb > li.iehover > a{background:#3e84a4; color:#ffffff;}

/* 2nd Menu */
ul#gnb > li > ul{width: 142px; /* Sub Menu Width */ display: none; position:absolute; top:100%; left: 0;
						box-sizing:border-box; -moz-box-sizing:border-box; border:1px solid #d1d1d1; border-top:none;}
ul#gnb > li:hover > ul > li > a,
ul#gnb > li.iehover > ul > li > a {background:#ffffff; color:#3e84a4; font-size:13px; text-align:left; padding:8px 0 8px 8px; width:132px; display:block;}
/* 2nd Menu Hover Persistence */
ul#gnb > li:hover > ul > li > a:hover,
ul#gnb > li:hover > ul > li:hover > a,
ul#gnb > li.iehover > ul > li > a:hover,
ul#gnb > li.iehover > ul > li.iehover > a{background:#f3f3f3;}

/* Hover Function - Do Not Move */
ul#gnb li:hover ul ul,ul#gnb li:hover ul ul ul,ul#gnb li.iehover ul ul,ul#gnb li.iehover ul ul ul{display: none;}
ul#gnb li:hover ul,ul#gnb ul li:hover ul,ul#gnb ul ul li:hover ul,ul#gnb li.iehover ul,ul#gnb ul li.iehover ul,ul#gnb ul ul li.iehover ul{display: block;}

.gnb-side{float:right;}
.gnb-side ul li{float:left; padding:0 10px; height:45px; line-height:45px; background:url(/images/com/new_eAcc/line_2.png) 0 center no-repeat; cursor:default;}
.gnb-side ul li:first-child{background-image:none;}

.user-info{background:none !important;}
.user-info>a{color:#ffffff; font-size:12px; display:inline-block; padding-left:38px; background:url(/images/com/web/user_info.png) left center no-repeat;}

.workSwitchBtn{position:relative; width:70px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; float:left; margin-top:7px;}
.workSwitchBtn-checkbox{display:none;}
.workSwitchBtn-label{display:block; overflow:hidden; cursor:pointer; border-radius:20px;}
.workSwitchBtn-inner{display:block; width:200%; margin-left:-100%; transition: margin 0.3s ease-in 0s;}
.workSwitchBtn-inner:before, .workSwitchBtn-inner:after{display:block; float:left; width:50%; height:30px; padding:0; line-height:30px; font-size:13px; color:#ffffff; box-sizing:border-box; -moz-box-sizing:border-box;}
.workSwitchBtn-inner:before{content:"ON"; padding-left:10px; background-color: #edcf10; color: #ffffff;}
.workSwitchBtn-inner:after{content: "OFF"; padding-right:10px; background-color:#999999; color:#ffffff; text-align:right;}
.workSwitchBtn-switch{display:block; width:18px; margin:6px; background:#ffffff; position:absolute; top:0; bottom:0; right:40px; border-radius:20px; transition: all 0.3s ease-in 0s;}
.workSwitchBtn-checkbox:checked + .workSwitchBtn-label .workSwitchBtn-inner{margin-left:0;}
.workSwitchBtn-checkbox:checked + .workSwitchBtn-label .workSwitchBtn-switch{right:0px;}

.work-info>a{color:#ffffff; font-size:12px; margin-left:10px;}
.work-info>a:hover{text-decoration:underline;}

.logout>a{color:#ffffff; font-size:12px; display:inline-block; padding-left:38px; background:url(/images/com/web/logout_btn.png) left center no-repeat;}
.logout>a:hover{text-decoration:underline;}

/*  LNB,SNB : navigation
 * 디자인 리뉴얼시 사이드 네비게이션 스타일은 클래스 nav부터 html 구조는 그대로 사용 가능,스타일은 디자인에 맞게 하단에서 수정 
 */
#nav{overflow-y:auto;overflow-x:hidden;margin-right:-17px;background:#71b1d1;height:100%; z-index:1;}/* 네비게이션 영역 / margin과 padding값은 스크롤바를 영역 밖으로 안보이도록 하기 위함(스크롤바 17px,chrome,IE) */
.jquery-accordion-menu ul li{width:100%; display:block; float:left; position:relative;cursor:pointer;}
/* .jquery-accordion-menu ul li.on a {border-left-color:#3e84a4} */
.jquery-accordion-menu ul li a{width:100%; padding:14px 22px; float: left; color: #f0f0f0; font-size:15px; background:#414956; white-space:nowrap; position:relative; overflow:hidden;
							-o-transition: color .2s linear,background .2s linear; -moz-transition: color .2s linear,background .2s linear; -webkit-transition: color .2s linear,background .2s linear; transition: color .2s linear,background .2s linear}
.jquery-accordion-menu>ul>li.active>a, .jquery-accordion-menu>ul>li:hover>a{color:#fff;	background:#3b424d}			
.jquery-accordion-menu .submenu-indicator{display:inline-block; position:absolute; top:center; right:80px; line-height: 19px; font-size:20px ; -o-transition: transform .3s linear;
										-moz-transition: transform .3s linear; -webkit-transition: transform .3s linear; -ms-transition: transform .3s linear}
.jquery-accordion-menu #nav-list .submenu .submenu-indicator{position:absolute; top:center; right:95px;}
.jquery-accordion-menu ul ul.submenu .submenu-indicator{line-height:16px}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{-ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg)}
.jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu{width:100%; display:none;}
.jquery-accordion-menu ul ul.submenu li{clear:both; width: 100%}
.jquery-accordion-menu ul ul.submenu li a{width:100%; float:left; font-size:13px; background:#3c454f; border-top:none; position:relative; border-left:solid 6px transparent;
										-o-transition: border .2s linear; -moz-transition: border .2s linear; -webkit-transition: border .2s linear;	transition: border .2s linear}
.jquery-accordion-menu ul ul.submenu li:hover>a {border-left-color:#414956}
.jquery-accordion-menu ul ul.submenu>li.pg-move.active>a{border-left-color:#71b1d1; color:#71b1d1;}

.jquery-accordion-menu ul ul.submenu>li>a{padding-left:30px;}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{padding-left:45px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{padding-left:60px}
.jquery-accordion-menu ul ul.submenu.open{display:block;}
/* .jquery-accordion-menu ul ul.submenu.open li a {border-left-color:#3e84a4} */

/* 클릭시 메뉴 반짝 거리는 효과 */
.ink{display:block; position:absolute; background:rgba(255,255,255,.3);	border-radius:100%;
	-webkit-transform:scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0)}
.animate-ink{	-webkit-animation: ripple .5s linear; -moz-animation: ripple .5s linear; -ms-animation: ripple .5s linear; -o-animation: ripple .5s linear; animation: ripple .5s linear}
@-webkit-keyframes ripple{100%{opacity:0; -webkit-transform: scale(2.5)}}
@-moz-keyframes ripple{100%{opacity:0; -moz-transform: scale(2.5)}}
@-o-keyframes ripple{100%{opacity:0; -o-transform:scale(2.5)}}
@keyframes ripple{100%{opacity:0; transform:scale(2.5)}}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a{
	background:#519bbd
}
.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a{
	background:#3e84a4
}

.blue.jquery-accordion-menu ul ul.submenu li:hover>a{
	border-left-color:#3e84a4
}

/******** jquery plugin style / calendar ************************************************************************************************/
.yearText:after{content:'년'}
.gldp-flatwhite{position:fixed;padding:6px 0 6px 6px;background-color:#e3e8ef;font-size:12px; margin:0 0 0 6px;
box-shadow:0px 0px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
   -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-ms-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	 -o-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
.gldp-flatwhite .prev-arrow {font-size:16px;}
.gldp-flatwhite .core{float:left;position:relative;background-color:#ffffff;text-align:center;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}
.gldp-flatwhite .monyear,
.gldp-flatwhite .monyear select{margin-top:0px;background-color:#318eb8;color:#fff}
.gldp-flatwhite .monyear span{margin:0 5px}
.gldp-flatwhite .prev-arrow,
.gldp-flatwhite .next-arrow{text-shadow:none; font-size:18px; width:20px; height:20px;}
.gldp-flatwhite .prev-arrow,
.gldp-flatwhite .next-arrow{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;}
.gldp-flatwhite .prev-arrow{background:url("/images/com/web/cal-prev.gif") no-repeat; background-size:8px auto; background-position:top 10px right}
.gldp-flatwhite .next-arrow{background:url("/images/com/web/cal-next.gif") no-repeat; background-size:8px auto; background-position:top 10px right }
.gldp-flatwhite .prev-arrow:hover,
.gldp-flatwhite .prev-arrow:focus,
.gldp-flatwhite .prev-arrow:active,
.gldp-flatwhite .next-arrow:hover,
.gldp-flatwhite .next-arrow:focus,
.gldp-flatwhite .next-arrow:active{color:#fff;}
.gldp-flatwhite .prev-arrow-off,
.gldp-flatwhite .next-arrow-off{color:#cfcfcf}
.gldp-flatwhite .dow{background-color:#fff;cursor:default;color:#5c6c76; font-weight:bold;}
.gldp-flatwhite .sat{color:blue}
.gldp-flatwhite .sun{color:red}
.gldp-flatwhite .outday{color:#cfcfcf !important}
.gldp-flatwhite .mon,
.gldp-flatwhite .tue,
.gldp-flatwhite .wed,
.gldp-flatwhite .thu,
.gldp-flatwhite .fri,
.gldp-flatwhite .sat,
.gldp-flatwhite .sun,
.gldp-flatwhite .selected{
border:2px solid #ffffff;
-webkit-border:2px solid #ffffff;
   -moz-border:2px solid #ffffff;
    -ms-border:2px solid #ffffff;
     -o-border:2px solid #ffffff;
}
.gldp-flatwhite .mon:hover,
.gldp-flatwhite .tue:hover,
.gldp-flatwhite .wed:hover,
.gldp-flatwhite .thu:hover,
.gldp-flatwhite .fri:hover,
.gldp-flatwhite .sat:hover,
.gldp-flatwhite .sun:hover{background-color:#eeeeee}
.gldp-flatwhite .noday{color:#f9f9f9;cursor:wait !important}
.gldp-flatwhite .selected{border:2px solid #2a7fb8;background:#2a7fb8 !important;color:#ffffff;font-weight:bold}
.gldp-flatwhite .today{border:2px solid #2a7fb8;color:#2a7fb8;font-weight:bold}



/******** jquery plugin style / file download ************************************************************************************************/
.attachFile{display:block;height:22px;margin-bottom:5px}
.jquery-filestyle {display:inline-block;padding:4px 20px;background:#fff;border:1px solid #3494f3;color:#3494f3 !important;font-size:12px;cursor:pointer}}
.jquery-filestyle label{padding:0 20px}
.jquery-filestyle *{color:inherit !important;vertical-align:top;cursor:pointer}
.fileDownLst .btnType01{margin-left:5px}
.fileDownLst > .MultiFile-label{margin-top:5px}
.fileDownLst > .MultiFile-label:first-child{margin-top:0}
.MultiFile-label{font-size:12px; padding-bottom:5px;}
.MultiFile-remove{float:left;display:inline-block;margin:1px 3px 0 0;}
.icn_fileDel{display:inline-block;background:#dd2424;padding:5px;}
.icn_fileDel img{}
.MultiFile-export{display:inline-block;border-radius:50%;width:18px;height:18px;margin:0 2px 0 0;color:#fff;background:#ff7a57;text-align:center;vertical-align:middle}
.MultiFile-export input{width:100%;padding-top:2px;line-height:1em;background:none;color:#4f525a;font-size:12px;font-weight:normal;text-align:right;outline:none}
.MultiFile-title {display:inline-block; vertical-align:middle;}

.fileLst02 > li{margin-top:3px}
.fileLst02 > li:first-child{margin-top:0}
.fileLstDown{display:inline-block;padding-left:12px;background:url(/images/com/web/icon_file_list.png) left 5px no-repeat;vertical-align:top}
.fileLstDown:hover,
.fileLstDown:focus{color:#fb6e52;text-decoration:underline}
.btnAdd{position:absolute;top:15px;right:20px}

.previewFileLst .MultiFile-export {}
.previewFileLst.MultiFile-title {margin-top:0;}
.previewFileLst > div {padding:5px; max-height:130px; overflow-x:hidden; overflow-y:auto !important; background:#fdfdfd; border:1px solid #d8d8d8;}

.previewFile {}
.tit-cont.preview {font-size:12px;}
.previewFile ul {margin-top:5px; overflow-x:hidden; margin-bottom:20px; background:#fdfdfd; border:1px solid #d8d8d8;}
.previewFile li {width:auto; border-top:1px dashed #adadad; padding:10px 10px;}
.previewFile li:first-child {border-top:none;}
.previewFile li p {font-size:12px; margin-top:8px;}
.previewFile li p:before {content:'＊'; color:#ff618e;}
.previewFile li img {width:50%; height:auto; cursor:pointer;}

.imgFile, .docFile {position:relative;}
.imgFile .attach-i, .docFile .attach-i {position:absolute;left:90px;top:4px;color:#2872bb;}
.fileWrap {padding:3px 0 0;}
.fileWrap.type-inline {position:relative;width:100%;height:30px;padding:0;}
.fileWrap.type-inline .attachFile {position:absolute;top:6px;margin:0;display:inline-block;}
.fileWrap.type-inline .fileList {position:absolute;left:90px;top:5px;margin:0;padding:0;display:inline-block;border:none;}
.fileList, .imgFileList, .docFileList {box-sizing:border-box;padding:5px;overflow-y:auto;border:1px solid #e0e0e0;}
.fileList {border:none; margin-top:0;}

.btnFile{display:inline-block;position:relative;vertical-align:top}
.btnFile a{display:inline-block;height:12px;line-height:12px;padding:4px 20px;border:1px solid #41515d;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#41515d !important;font-size:12px;vertical-align:top;z-index:10}
.btnFile input{overflow:hidden;position:absolute;top:2px;left:2px;width:0;height:0;border:none;background:none}
.btnAdd{position:absolute;top:15px;right:20px}

/******** 프린트 설정 ************************************************************************************************/
@media print {
	 .price_match_no_print {
        display:none !important;
    }
    #header{
    	display:none;
    }

	/* background image print */
	* {-webkit-print-color-adjust:exact; color-adjust: exact !important;} /* Chrome, Safari, Firefox */
}

/******** WINDOW POPUP ************************************************************************************************/
.pop-header {position:fixed !important;background:#3c454f !important;border:none !important;letter-spacing:1px;}
.pop-header h3 {margin:10px 15px;color:#fff;font-weight:bold;font-size:16px;}
/* .pop-body {position:absolute;top:45px;left:0;overflow-y:auto;} */
.pop-bottom {position:fixed;bottom:0;left:0;box-sizing:border-box;padding-top:9px;width:100%;height:48px;border-top:1px solid #e0e0e0;text-align:center;}

/******** LAYER POPUP ************************************************************************************************/
.popArea{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100}
.popDimm{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:#000000;opacity:0;z-index:110}
.popWrap{position:fixed;top:50%;left:50%;width:280px;margin-left:-140px;z-index:120;
perspective:600px;
-webkit-perspective:600px;
   -moz-perspective:600px;
	-ms-perspective:600px;
	 -o-perspective:600px;
}
.popWrap.type02{width:230px;margin-left:-115px;}
.popFront,
.popBack{position:absolute;top:0;left:0;right:0;bottom:0;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:0;
transform-style:preserve-3d;
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	 -o-transform-style:preserve-3d;
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	 -o-backface-visibility:hidden;
}
.popFront{background-color:#ffffff;opacity:0}
.popBack{background-color:#fb6e52}
.popArea.on{display:block}
.popArea.on .popDimm{
animation:popDimm 0.4s forwards;
-webkit-animation:popDimm 0.4s forwards;
   -moz-animation:popDimm 0.4s forwards;
	-ms-animation:popDimm 0.4s forwards;
	 -o-animation:popDimm 0.4s forwards;
}
.popArea.on .popFront{
animation:popFront 1.2s ease-in-out forwards;
-webkit-animation:popFront 1.2s ease-in-out forwards;
   -moz-animation:popFront 1.2s ease-in-out forwards;
	-ms-animation:popFront 1.2s ease-in-out forwards;
	 -o-animation:popFront 1.2s ease-in-out forwards;
}
.popArea.on .popBack{
animation:popBack 1.2s ease-in-out forwards;
-webkit-animation:popBack 1.2s ease-in-out forwards;
   -moz-animation:popBack 1.2s ease-in-out forwards;
	-ms-animation:popBack 1.2s ease-in-out forwards;
	 -o-animation:popBack 1.2s ease-in-out forwards;
}
.popArea.close{opacity:0}
.popTit{position:absolute;top:0;left:0;right:0;padding:8px 15px;border-bottom:1px solid #e6e6ee;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;background-color:#ffffff;color:#fb6e52;font-size:0.750rem;font-weight:bold;z-index:10}
.popInner{overflow:hidden;position:relative;padding:48px 10px 12px}
.popInner.type02{padding-top:64px}
.popInner.type03{padding:25px;}
.popArea .btnWrap{margin-top:20px}
.popArea .btnWrap.type02{margin-top:30px;}
.popArea .btnWrap.type02 a{margin:0 2px}
.popCfm .txtCfm{text-align:center;font-size:20px;}
.popCfm .accent{color:#fb6e52 !important}
.popCfm .btnType01{display:inline-block;padding:0 50px;margin-left:52px !important;}

.popArea.type02 .popFront,
.popArea.type02 .popBack{
animation:popOpen 0.4s forwards;
-webkit-animation:popOpen 0.4s forwards;
   -moz-animation:popOpen 0.4s forwards;
	-ms-animation:popOpen 0.4s forwards;
	 -o-animation:popOpen 0.4s forwards;
transform-style:initial;
-webkit-transform-style:initial;
   -moz-transform-style:initial;
	-ms-transform-style:initial;
	 -o-transform-style:initial;
backface-visibility:initial;
-webkit-backface-visibility:initial;
   -moz-backface-visibility:initial;
	-ms-backface-visibility:initial;
	 -o-backface-visibility:initial;

}


@-webkit-keyframes popDimm{
	0%{opacity:0}
	100%{opacity:0.5}
}
@-webkit-keyframes popOpen{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes popFront{
	0%{color:#ffffff;z-index:900;opacity:0;
	-webkit-transform:rotateY(180deg) translate(0);
	   -moz-transform:rotateY(180deg) translate(0)}
	30%{opacity:0;
	-webkit-transform:rotateY(180deg) translate(0);
	   -moz-transform:rotateY(180deg) translate(0)}
	70%{opacity:0;}
	100%{opacity:1;z-index:1000;
	-webkit-transform:rotateX(0deg) rotateY(0deg);
	   -moz-transform:rotateX(0deg) rotateY(0deg)}
}
@-webkit-keyframes popBack{
	0%{z-index:1000;opacity:0;
	-webkit-transform:rotateX(0deg) rotateY(0deg) translate(-80px);
	   -moz-transform:rotateX(0deg) rotateY(0deg) translate(-80px)}
	30%{opacity:1;
	-webkit-transform:rotateY(0deg) translate(0);
	   -moz-transform:rotateY(0deg) translate(0)}
	100%{opacity:1;z-index:900;
	-webkit-transform:rotateY(-180deg);
	   -moz-transform:rotateY(-180deg)}
}

/* 팝업  관련 CSS CLASS 추가  2016-10-06 */
.print-container{padding: 10px 10px;margin-bottom: 20px;}
.print-frm{padding: 5px;}
.head-wrap{width: 100%;text-align: center;}
.head-tit{display: inline-block;height: 25px;line-height: 25px;width:150px;border-radius: 10px;padding: 10px 10px;font-weight: bold;font-size: 25px;border:1px solid;font-family: '맑은 고딕',verdana,arial,helvetica,sans-serif;}
.memo-cont{padding: 25px;font-size: 16px !important;font-family: '맑은 고딕',verdana,arial,helvetica,sans-serif;}

/* 해상도 낮을 때 상단 깨지는 부분 관련 CSS추가 2016-10-26 */
@media all and (max-width:1150px){
	
	.user-info {display:none;}

	.logout>a{width:30px; height:45px; display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;
	padding-left:0; background:url(/images/com/web/logout_btn.png) left center no-repeat;}
	
	.gnb-side ul li {background: none;}
	
}
