/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

.hidden { display: none !important; }

/* btn style */
.modalBtn{ display:inline-block; padding:10px 20px; color: #fff !important;  border-radius:5px; }
.modalBtn.blue{background-color: #337ab7; border-color: #2e6da4;}
.modalBtn.blue:hover { color: #fff; background-color: #286090; border-color: #204d74; }
.modalBtn.grey{background-color: #707676; border-color: #5a5f5f;}
.modalBtn.grey:hover { color: #fff; background-color: #5a5f5f; border-color: #4b5050; }
.modal-close {  float: right;  font-size: 21px;  font-weight: bold;  line-height: 1;  color: #000;  text-shadow: 0 1px 0 #fff;
						  filter: alpha(opacity=20);  opacity: .2;  -webkit-appearance: none;  padding: 0;  cursor: pointer;  background: transparent;
						  border: 0;  overflow:hidden; height:48px; }
.modal-close:hover,
.modal-close:focus {  color: #000;  text-decoration: none;  cursor: pointer;  filter: alpha(opacity=50);  opacity: .5; }

/* modal style */
.modal-open {  overflow: hidden; }
.modal { position: fixed;  top: 0;  right: 0;  bottom: 0;  left: 0;
			/* z-index: 990 !important; */  display: none;  overflow: hidden;
			-webkit-overflow-scrolling: touch;  outline: 0; }
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}
.modal-dialog {
  position: relative;
  margin: 2% auto;
  /* width 값은 space.css의 class로 html에서 바로 제어 */
}
/* .modal-dialog.root{ height:91%;} */
.modal-content {
	height:100%;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	        background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
/*   z-index: 980 !important; */
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 0 15px;
  border-bottom: 1px solid #e5e5e5;
  height:50px; line-height:50px;
}

/* .modal.fade {  opacity: 0;
				  -webkit-transition: opacity .15s linear;
				       -o-transition: opacity .15s linear;
				          transition: opacity .15s linear; }
.modal.fade.in { opacity: 1; } */

.modal.fade.in{opacity:1;-webkit-backface-visibility: hidden;}

.modal-body {
	position: relative;
	overflow-y:auto;
	position:absolute;
	width:100%;
	height: calc(100% - 51px);
	height: -o-calc(100% - 51px); /* opera */
	height: -webkit-calc(100% - 51px); /* google, safari */
	height: -moz-calc(100% - 51px); /* firefox */
}
.modal-bodyIn{ padding:15px; }
.modal-footer {
	padding: 0 15px; background:#f0f4f6;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 38px;
	padding-top:8px;
}
.modal-bodyIn > .modal-section{
	overflow:hidden;
	position:absolute;
	height: calc(100% - 30px);
	height: -o-calc(100% - 30px); /* opera */
	height: -webkit-calc(100% - 30px); /* google, safari */
	height: -moz-calc(100% - 30px); /* firefox */
	width: calc(100% - 30px);
	width: -o-calc(100% - 30px); /* opera */
	width: -webkit-calc(100% - 30px); /* google, safari */
	width: -moz-calc(100% - 30px); /* firefox */
}

.modal-footer .modalBtn { padding: 8px 10px; display: inline }
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
   
 .modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}

/*# sourceMappingURL=bootstrap.css.map */