@charset "utf-8";
/*
 * Project		:	헬로컴퍼니
 * File			:	page.css
 * Author		:	youngjae Lee
 * Date			:	September 2017.
 * Description	:	서브 페이지 개별 스타일 
 */

/* 로그인 */
.i-txt {position:absolute;right:10px;top:10px;}
.i-txt span {font-weight:bold;}
.bg-login {background:#fff url('/images/login/web/login_bg.png') repeat-x left bottom;}
.bg-form {position:absolute;top:50%;left:50%;box-sizing:border-box;margin-top:-230px;margin-left:-240px;width:480px;background:#fff;border:1px solid #717276;}
.bg-form {/* box-shadow */-webkit-box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.36);-moz-box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.36);box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.36);}
.logo {float:left;box-sizing:border-box;width:100%;height:130px;background:url("/images/login/web/login_logo.png") no-repeat center center;background-size:209px auto;}
.logo.eAcc {float:left;box-sizing:border-box;width:100%;height:130px;background:url("/images/login/web/login_logo_eAcc.png") no-repeat center center;background-size:270px auto;}
.form-login {float:left;margin:0 55px 35px;width:370px;font-size:14px;}
.form-list01 {height:45px;line-height:40px;}
.form-list02 {margin-top:7px;height:45px;line-height:40px;}
.form-list03 {margin:10px 0 0 115px;}
.inp-tit {text-align:right;font-weight:bold;}
.form-login input {height:35px;line-height:1em;font-size:16px;color:#333;}
.form-login .inp-wrap {box-sizing:border-box;width:100%;height:45px;padding:4px 8px 4px 45px;border:1px solid #8a8a8a;}
.inp-wrap.id {background:url('/images/login/web/login_input_icon_01.png') no-repeat 10px center;}
.inp-wrap.pwd {background:url('/images/login/web/login_input_icon_02.png') no-repeat 10px center;}
.btn.login {width:370px;height:50px;margin-left:55px;margin-bottom:50px;line-height:50px;color:#fff;background:#32465d;border-radius:3px;font-size:14px;}
.copy {position:absolute;bottom:20px;left:50%;margin-left:-85px;font-weight:bold;}
.form-login .sel-wrap {height:45px;border:1px solid #8a8a8a;}
.form-login select {height:37px;font-size:16px;}

/* 유저 프로필 팝업 */
.profile-wrap {padding:20px;}
.top-area {margin-bottom:10px;}
.user-pic {display:block;width:90px;height:90px;border-radius:70px;margin:0 auto;overflow:hidden;}
.user-pic a {display:block;}
.user-pic img {width:100%;height:auto;}
.user-i {display:block;width:90px;margin:10px auto;text-align:center;}
.user-i .name {font-size:16px;}
.user-i .group {color:#989898;}
.bottom-area {margin-bottom:20px;}
.btn-area {text-align:center;}
.profile-wrap .btn {border-radius:2px;} 

/* --------------------

	--- 헬로컴퍼니 ---
	
  -------------------- */
									
/* [헬로컴퍼니] 메인화면 */
.dashboard-wrap{width:100%;min-height:100%;background-color:#eceef2;}
.msn-area{width:100%;height:490px;border-bottom:1px dashed #babec2;}
.cont-area{padding:20px;overflow:hidden}
.box-inline-wrap{width:100%;}
.box-inline.type50{float:left;display:inline-block;width:50%;}
.prsnImg02{overflow:hidden;left:0;width:110px;height:110px;border:1px solid #6c6c6b;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background:url(/images/com/web/bg_prsn.png) left top no-repeat;background-size:100%}
.prsnImg02 img{width:100%;height:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}
.prsnImg03{overflow:hidden;left:0;width:110px;height:110px;}
.prsnImg03 img{width:100%;height:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}
.prsnImgArea{text-align: -webkit-center;margin-top: 5%;}
.infoArea{margin: 10px 60px 10px 60px;padding: 5px;}
.inputInfo{text-align:left;padding-left:5px;}
th.typeNm{text-align:left;padding:3px;}
.nameBx{padding-left: 10px;}
.newTxt{padding-left: 10px 3px 10px 3px; border: 1px solid #ccc;}
.camera{padding:100px;}
.camera.addPrsnImgBtn{background:url('/images/com/web/btn_profile_photo.png') no-repeat center;background-size: 35px;}
.board-wrap{/* float:left;width:100%; */margin-bottom:20px;border:1px solid #d5d5dc;border-radius:5px;overflow:hidden;
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.15);}
.board-wrap.type02{border-radius:10px;border:none;}
.box-inline:nth-child(odd) .board-wrap.type02{margin-right:20px;}
.board-header{position:relative;width:100%;height:45px;background-color:skyblue;border-bottom:1px dashed #fff;}
.board-header.type02{height:55px;border-bottom:1px solid #skyblue;background-color:skyblue;}
.board-header .board-tit{position:absolute;top:0;left:0;display:inline-block;line-height:45px;padding-left:25px;font-size:.85rem;font-weight:bold;}
.board-header.type02 .board-tit{padding-left:15px;line-height:55px;font-size:14px;}
.board-header .board-tit span{font-weight:normal}
.board-header .board-tit .ref-num{color:#1fb5ac;text-decoration:underline;margin-right:5px;}
.board-header .board-top-btn{position:absolute;right:25px;top:12px;border-radius:2px;}
.board-header.type02 .board-top-btn{position:absolute;right:25px;top:15px;}
.board-container{float:left;width:100%;background-color:#e0e0e0;}
.board-bx.col03{float:left;width:33.3%}
.board-bx.col02{float:left;width:50%}
.board-bx-inner{border-right:1px dashed #c8cacc;}
.board-bx:last-child .board-bx-inner{border:none;}
.board-bx-inner.type01{padding:25px;}
.board-bx-inner.type02{padding:0px;}
.cont-remain{width:100%;height:165px;}
.cont-remain > div{float:left;width:50%;height:165px;}
.cont-remain .remainTypeBx{margin-right:15px;height:165px;line-height:165px;font-size:2.7rem;text-align:center;border:1px solid #d6d8e1;-moz-border-radius:5px;-webkit-border-radius:3px;border-radius:3px;}
.cont-remain .btnType07, .cont-remain .btnType08{margin-bottom:15px;}
.board-cont-tit{padding:15px 25px;background-color:#f3f3f3;border-bottom:1px dashed #c8cacc;}
.board-cont-tit .tit-txt{line-height:1em;padding-left:5px;border-left:2px solid #5689cc;font-weight:bold;font-size:.8rem;}

/* [헬로컴퍼니] 전자결재 대시보드 */
.dsbd-lst-wrap{height:224px;overflow-y:scroll;}
.dsbd-lst-wrap.type01{padding:0 25px;}
.dsbd-lst-wrap.type02{padding:0;}
.dsbd-lst-wrap.type03{padding:0;overflow-y:hidden !important;}
.dsbd-lst-wrap ul{width:100%;}
.dsbd-lst-wrap li{border-bottom:1px dashed #c8cacc;}
.dsbd-lst-wrap li:last-child{border:none;}
.dsbd-lst-wrap li a{display:block;}
.dsbd-lst.type01{position:relative;padding:15px 180px 15px 70px;}
.dsbd-lst.type01 .btn-dash-sts.st02 {position:absolute;left:0;}
.dsbd-lst.type01 .btn-dash-sts.st03 {position:absolute;right:40px;top:15px;}
.dsbd-lst.type01 .btn-dash-sts.st04 {position:absolute;right:0px;top:15px;}
.dsbd-lst.type01 .btn-push{position:absolute;right:0;top:10px;}
.dsbd-lst.type02{position:relative;padding:15px 165px 15px 15px;}
.dsbd-lst.type02 .btn-dash-sts.st03.type01 {position:absolute;right:25px;top:15px;}
.dsbd-lst.type03{position:relative;padding:15px;}
.dsbd-lst.type04{margin: 70px 10px 70px 10px;text-align: center;}
.apvlTit{font-size:.8rem;line-height:1.5em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.apvlTit.type02{padding-right:10px;}
.apvlDate{color:#b3928b;font-size:.8rem;}

/* [헬로컴퍼니] 프로젝트 인원 리스트 */
.prj-prsn {position:relative;min-height:22px;margin-top:10px;padding-left:30px;}
.prj-prsn:after {content:'';display:block;visibility:hidden;clear:both;height:0}
.prj-prsn > div {float:left;line-height:1.4;margin-top:4px;padding:0 8px;border-left:1px solid #cfcfcf}
.prj-prsn > div:first-child {padding-left:0;border-left:none}
.prj-prsn .prjPrsnSel {margin-top:0;border-left:none}
.prj-prsn .btn-remove {position:absolute;top:0;left:0}
.delArea {position:relative;min-height:22px;margin-bottom:5px;padding-left:30px;}
.delArea:after {content:'';display:block;visibility:hidden;clear:both;height:0}
.delArea:first-child {margin-top:10px;}
.delArea > div {float:left;line-height:1.4;margin-top:4px;padding:0 8px;border-left:1px solid #cfcfcf}
.delArea > div:first-child {padding-left:0;border-left:none}
.delArea .sel-wrap {margin-top:0;height:22px;}
.delArea .btn-remove {position:absolute;top:0;left:0}

/* [헬로컴퍼니] 프로젝트 관리 */
.prjPrsnLst > li{position:relative;min-height:22px;margin-top:10px;padding-left:30px}
.prjPrsnLst > li:after{content:'';display:block;visibility:hidden;clear:both;height:0}
.prjPrsnLst > li > div{float:left;line-height:1.2;margin-top:4px;padding:0 8px;border-left:1px solid #cfcfcf}
.prjPrsnLst > li > div:first-child{padding-left:0;border-left:none}
.prjPrsnLst .prjPrsnSel{margin-top:0;border-left:none} 
.prjPrsnLst .btnClose{position:absolute;top:0;left:0}

/* [헬로컴퍼니] 프로젝트 관리-결재라인 리스트 스타일 */
.expnSignLst:after {content:'';display:block;visibility:hidden;height:0;clear:both}
.expnSignLst > li  {float:left;width:50%;margin-top:5px}
.expnSignLst p {margin-right:5px;background-color:#ebebf0 !important;border:1px solid #e0e0e0;}
.expnSignLst .num {display:inline-block;margin-right:5px;padding:3px 10px 0 10px;line-height:1.5em;background-color:#41515d;color:#ffffff;}
.expnSignLst.type02 {margin:10px 0 0 10px;}
.expnSignLst.type02 > li {float:none;width:auto;}
.expnSignLst p.depth01 {display:inline-block;width:50%;}
.expnSignLst p.depth02 {display:inline-block;padding:3px 10px 0 10px;}

/* [헬로컴퍼니] 댓글 */
.wrap-cmt {position:relative;margin-top:10px;padding-bottom:15px;background-color:#ffffff;}
.tit-cmt{padding:10px 0 7px;color:#999999;font-size:0.750em;font-weight:bold;text-align:center}
.area-cmt{position:relative;padding-left:15px !important;padding-right:15px;}
.cont-write{overflow-y:auto;max-height:42px;line-height:14px;margin-right:60px}
.inp-cmt{position:relative;height:15px;padding:8px 15px 7px;background-color:#ebebf0;font-size:0.688rem}
.area-cmt .type-cmt{position:absolute;bottom:0;right:15px;width:35px;height:30px;padding:0 10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.list-cmt > li{position:relative;padding:8px 10px 6px;border-top:1px dashed #eeeeee}
.list-cmt > li:first-child{border-top:none}
.cmt-this{padding-right:30px !important}
.cmt-this .btn-remove{position:absolute;top:50%;right:15px;margin-top:-5px}
.view-cmt{position:relative;min-height:32px;padding:1px 0 1px 10px}
.view-cmt.type02{min-height:inherit;padding-left:0}
.view-cmt.type03 .prsn-name{color:#ffffff}
.view-cmt.type03 .prsn-unit{color:#d8d7d7}
.profile-cmt{display:block}
.profile-cmt:after{content:'';display:block;visibility:hidden;width:0;height:0;clear:both}
.profile-cmt > *{float:left;margin-left:5px}
.profile-cmt > *:first-child{margin-left:0}
.profile-cmt > .prsn-unit,
.profile-cmt > .date-cmt{margin-top:3px}
.prsn-img{overflow:hidden;position:absolute;top:2px;left:0;width:25px;height:25px;border:1px solid #6c6c6b;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background:url(/images/com/web/bg_prsn.png) left top no-repeat;background-size:100%}
.prsn-img img{width:100%;height:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}
.prsn-name{padding-top:2px;color:#595f65;font-size:13px;font-weight:bold}
.prsn-unit{margin-top:1px;color:#aeb1b6;font-size:11px;}
.date-cmt{margin-top:1px;color:#b3928b;font-size:11px;letter-spacing:-0.5px}
.date-cmt:before{content:'| ';font-weight:bold}
.cont-cmt{line-height:1.5em;margin-top:3px;font-size:12px;white-space:pre-line;color:#666;}

/* --------------------

	---      주문      ---
	
  -------------------- */
  
/* [주문] 메인 화면 */
.main-img-area {float:left;width:100%;}
.new-img-area {float:left;width:100%;margin-top:10px;background:#fff;border:1px solid #c9d4dd;border-radius:2px;}
.new-img-tit {padding:9px 10px 6px;background:#f1f1f1;border-bottom:1px solid #c9d4dd;font-size:14px;font-weight:bold;line-height:1em;}
.img-slide-box {padding:10px 50px;}
.credit-i-area {float:left;box-sizing:border-box;height:40px;width:100%;padding:12px 10px 8px;text-align:center;background:#f1f1f1;border:1px solid #c9d4dd;border-radius:2px;}
.credit-i-area > dd {display:inline-block;padding-right:5px;margin-right:5px;border-right:1px solid #e0e0e0;line-height:1em;font-size:12px;}
.credit-i-area > dd:last-child {border:none;}
.credit-i-area > dd > span {display:inline-block;}
.order-dashboard {float:left;position:relative;width:100%;margin-top:10px;}
.order-dashboard .icon.add {position:absolute;right:0px;top:0px;}
.order-dash-inner {margin-top:8px;width:100%;}
#owl-aside .item .img-i > span {display:block;}

/* [주문] 행사 등록 */
.attach-box {float:left;width:100%;height:50%;}

/* [주문] 클레임 상세 */
#claimView .status-area {margin-bottom:5px;}
#claimView .MultiFile-label {float:left;margin:0 !important;}
#claimView .claim-access {border-bottom:1px dotted #ccc;padding:5px;}
#claimView .claim-access .claim-write .txt-wrap {float:left; width:90%; margin-right:5px;}
#claimView .claim-access .claim-write input {cursor:pointer; display:inline-block; text-align:center; width:8%; height:64px; line-height:64px; background:#8999aa; color:#fff;}
#claimView .claim-access .fileWrap {margin:10px 0;}
#claimView .claim-access .imgFileList {width:100%;height:145px;overflow:hidden;padding:0;margin:0;border:none;}
#claimView .comment-txt {margin:5px 0 0 5px;}
#claimView .comment-modify {display:none;width:99%;}
#claimView .btn-response {text-align:right;margin-bottom:5px;}
#claimView .thumbnail {width:120px;height:100px;text-align:center;line-height:70px;} 
#claimView .thumbnail-wrap {display:inline-block;margin-right:10px;}  
#claimView .comment_claim_response {padding:10px;border-bottom:1px dotted #ccc;overflow:auto;}
#preview {position:absolute;display:none;}
#detailImgFileList .MultiFile-label {width:initial !important;margin:10px 5px 0 0 !important;}

/* --------------------

	---      구매      ---
	
  -------------------- */

/* order main 
.tit-dsh {position:relative;padding:15px 0 15px 35px;line-height:14px;border-bottom:1px solid #cdd2da;color:#2e3d3d;font-size:14px;font-weight:bold;}
.box-dsh {position:absolute;top:64px;bottom:20px;left:20px;right:5px;}
.scrl-wrap {width:100%;height:100%;}
.scrl {overflow-x:hidden;overflow-y:auto;padding-right:1000px;}
.ellipsis.type01 {height:35px;line-height:35px;}*/


/* --------------------

	---    게시판    ---
	
  -------------------- */
  
.viewBoardTit{border-top:2px solid #2a7fb8; border-bottom:1px solid #e3e8ef; padding:13px 10px; background:#f1f4f8; font-size:14px; font-weight:500;}
.viewBoardInfo{border-bottom:1px solid #e3e8ef; padding:9px 10px; overflow:hidden; background:#fff;}
.viewBoardInfo p{font-weight:bold;}
.viewBoardInfo p span{display:inline-block; padding-left:10px; font-weight:normal;}
.viewBoardCon{padding:15px 15px 30px; border-bottom:1px solid #d8d8d8;}
.viewContent{padding:30px 5px; line-height:1.6;}
.viewBoardIntro{margin-top:30px;}
.viewBoardIntro span{border-left:3px solid #2a7fb8; padding-left:7px; margin-left:7px;}
.viewBoardIntro div{border:1px solid #e3e8ef; background:#f1f4f8; margin-top:10px; padding:10px 20px;  border-left:none; border-right:none;}

/* [첨부파일 다운로드 영역] */
.attachFileWrap{overflow:hidden;}
.attachFileTit{height:20px; line-height:20px; position:relative; text-align:right;}
.attachFileTit a.down{display:inline-block; width:15px; height:20px; background:url("/images/icon/web/attachDown.gif") left center no-repeat;}
.attachFileTit a.up{display:inline-block; width:15px; height:20px; background:url("/images/icon/web/attachUp.gif") left center no-repeat;}
.attachFileTit p{display:inline-block; position:absolute; top:0; right:30px; font-weight:bold; padding-left:15px;
					background:url("/images/icon/web/clipIcon.png") left center no-repeat; background-size:7px auto;}
.attachFileTit span{display:inline-block; color:#f5931f; margin-left:5px;}
.attachFileLst{margin:10px 0 0 5px; display:inline-block; background:#fff; position:absolute; top:170px; right:15px;}
.attachFileLst li{border:1px solid #d8d8d8; padding:3px; border-top:none;}
.attachFileLst li:first-child{border-top:1px solid #d8d8d8;}
.attachFileLst li:hover{background:#f2f7f9;}
.attachDownBtn{display:block;}
.attachDownBtn:hover{text-decoration:underline;}

/* -----------------------------------

	---    eAcc NEW Dashboard    ---
	
  ----------------------------------- */

/* === 레이아웃 === */
.eacc-dsbd-wrap {width:1420px; margin:0 auto;}
.eacc-dsbd-wrap-in {padding-top:30px;}
.eacc-dsbd-top {overflow:hidden; position:relative;}
.eacc-dsbd-btm {overflow:hidden; position:relative;}
.eacc-dsbd-wrap .top-right-area, .eacc-dsbd-wrap .btm-right-area {float:left;}
.eacc-dsbd-wrap .top-right-area .eacc-box-wrap, .eacc-dsbd-wrap .btm-right-area .eacc-box-wrap {width:100%;}
.eacc-dsbd-wrap .wd33 {width:33%;}
.eacc-dsbd-wrap .wd32 {width:32%;}

/* === 공통클래스 (박스레이아웃, 타이틀, 버튼 스타일 등) === */
.eacc-box-wrap {float:left; margin-left:10px; margin-top:10px; background:#fff; border:2px solid #d6dce6;
						-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.eacc-dsbd-top .eacc-box-wrap {margin-top:0;}
.eacc-dsbd-top > .eacc-box-wrap:first-child, .eacc-dsbd-btm > .eacc-box-wrap:first-child {margin-left:0;}

.eacc-btn {display:inline-block;}
.eacc-btn.st01 {border:1px solid #afb4bd; padding:3px 7px; font-size:11px;}
.eacc-btn.st02 {padding:4px 8px; background:#44a5cd; color:#fff;}

.eacc-board-btn {display:inline-block; color:#fff; height:22px; line-height:22px; border-radius:3px; text-align:center;}
.eacc-board-btn.state01 {background:#37aad9;width:62px;}
.eacc-board-btn.state02 {background:#a4a5ad; width:54px;}
.eacc-board-btn.state03 {background:#f6b618; width:54px;}

/* === 메인비주얼 === */
.eacc-visual {overflow:hidden; height:314px;}
.eacc-visual .visual-img {float:left; width:55%;}
.eacc-visual .visual-img img {width:100%; height:344px;}
.eacc-visual .visual-info {float:left; width:35%; padding:20px;}
.eacc-visual .visual-info strong {display:block; font-size:20px; color:#555; line-height:1.2;}
.eacc-visual .visual-info strong:after {content:'';}
.eacc-visual .visual-info .borderSt {display:block; margin-top:12px; width:30px; height:3px; background:#31b0e5;}
.eacc-visual .visual-info .mainUserInfo {display:block; margin-top:12px;}
.eacc-visual .visual-info .mainUserInfo > span {display:block;}
.eacc-visual .visual-info .mainUserInfo > span.mainUserImg {width:85px; height:85px; text-align:center; vertical-align:middle; overflow:hidden; border:5px solid #e0e3e8;}
.eacc-visual .visual-info .mainUserInfo > span.mainUserImg img {width:100%; height:auto;}
.eacc-visual .visual-info .mainUserInfo > span.name {font-size:18px; font-weight:500; color:#555; margin-top:10px;}
.eacc-visual .visual-info .mainUserInfo > span.dep {font-size:12px; padding-left:5px; color:#9b9fa3;}
.eacc-visual .visual-info a {border-radius:3px; margin-top:8px;}

/* === 내카드정보 === */
.eacc-card {overflow:hidden; position:relative; height:314px;}

.eacc-card-tit {padding:20px 25px 0 25px;}
.eacc-card-tit h3 {font-size:20px; color:#555;}
.eacc-card-tit .cardDropdown {position:relative; display:block;}
.eacc-card-tit .cardDropdown:after {content:''; clear:both;}
.eacc-card-tit .cardDropdown >span {font-size:14px; margin-top:10px}
.eacc-card-tit .cardDropbtn {float:right;}
.cardDropdown-content {display:none; position:absolute; right:0; top:23px; background-color:#f9f9f9; min-width:160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.cardDropdown-content a {color:#494b4d; padding:12px 16px; text-decoration:none; display:block;}
.cardDropdown:hover .cardDropdown-content {display:block;}
.cardDropdown:hover .cardDropbtn {background-color:#44a5cd; color:#fff; border-color:#44a5cd}
.cardDropdown-content a:hover {background-color:#f1f1f1}

.card-slider-wrap {margin-top:8px; position:relative; width:100%; height:calc(100% - 68px);}
.card-view {width:100%; height:100%; position:relative;}
.card-slider {height:100%;}
.card-slider li {width:100%; height:100%; position:absolute}

/* card style */
.card-slider-wrap .card {overflow:hidden; position: relative; background:#fff; padding:10px 25px;}
.card-slider-wrap .card-tarjeta {float:left; width:262px; height:170px; /* 카드백그라운드 크기 */ margin:0 auto; position:relative; border-radius:5px;}
.card-slider-wrap .card-tarjeta.st01 {background:#9cc2d5 url("/images/com/new_eAcc/card-bg01.png");}
.card-slider-wrap .card-tarjeta.st02 {background:#9cc2d5 url("/images/com/new_eAcc/card-bg02.png");}
.card-slider-wrap .card-bank {padding:7px 15px; color:#fff;}
.card-slider-wrap .card-numers {position:relative; float:left; width:100%; margin-top:46px; height:32px;}
.card-slider-wrap .numbers-tarje {position:relative; float:left; margin-left:25px; color: #fff; font-size:16px; font-weight:600; text-shadow: 2px 2px 2px rgba(0,0,0,0.3);}
.card-slider-wrap .card-nom-tarjet {position:relative; float:left; width:160px; height:50px;}
.card-slider-wrap .card-nom-tarjet > span {font-size:10px; text-align:left; float:left; width:100%; margin-left:15px; color:#fff;}
.card-slider-wrap .card-nom-tarjet >  h4 {font-size:13px; font-weight:600; text-align:left; margin-left:14px; color:#fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.3);}
.card-slider-wrap .card-fech-exp-tarjet {position:relative; float:left; text-align:right; width:90px; height:50px;}
.card-slider-wrap .card-fech-exp-tarjet > span {font-size:10px; text-align:left;  width:100%; color:#fff;}
.card-slider-wrap .card-fech-exp-tarjet >  h4 {font-size: 13px; font-weight:600; margin-left:14px; color:#fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.3);}

.card-slider-wrap .card-limit {float:left; margin:5px 20px;}
.card-slider-wrap .card-limit div {margin-top:10px;}
.card-slider-wrap .card-limit p {overflow:hidden; font-size:14px; font-weight:400; color:#555;}
.card-slider-wrap .card-limit p:nth-child(1):after {content:'*'; color:#31b0e5}
.card-slider-wrap .card-limit p:nth-child(2) {font-size:20px; font-weight:bold;}
.card-slider-wrap .card-limit span {font-size:14px; font-weight:normal;}

.card-slider-wrap .card-controls {position: absolute; bottom:30px; width:100%; text-align:center;}
.card-slider-wrap .card-cont-list {}
.card-slider-wrap .card-cont-list li {display: inline-block; margin-left:7px;}
.card-slider-wrap .card-cont-list li:first-child {margin-left:0;}
.card-slider-wrap .card-cont-list li span {display:block; width:10px; height:10px; border-radius:50%; background-color:#93a7bf; cursor:pointer;}
.card-slider-wrap .card-cont-list li.active span {background-color:#478edc;}

/* === 미작성내역 === */
.eacc-nowrite-wrap {height:212px;}
.eacc-nowrite-wrap li {position:relative;}
.eacc-nowrite-wrap li > a {display:block;overflow:hidden; padding:0 30px 0 65px; height:52px; line-height:52px; background-repeat:no-repeat; background-position:left 25px center;
									border-top:1px solid #dee1e2;}
.eacc-nowrite-wrap li.nowrite-list01 > a{background-image:url("/images/com/new_eAcc/nowrite01.png"); border-top:none;}
.eacc-nowrite-wrap li.nowrite-list02 > a{background-image:url("/images/com/new_eAcc/nowrite02.png");}
.eacc-nowrite-wrap li.nowrite-list03 > a{background-image:url("/images/com/new_eAcc/nowrite03.png");}
.eacc-nowrite-wrap li.nowrite-list04 > a{background-image:url("/images/com/new_eAcc/nowrite04.png")}
.eacc-nowrite-wrap li > a:hover {background-color:#f6f8fc; border-left:4px solid #44a5cd; padding-left:61px; background-position:left 21px center;}
.eacc-nowrite-wrap li > a > span {vertical-align:middle;}
.eacc-nowrite-wrap li > a > span:first-child {float:left; font-size:12px; color:#494b4d;}
.eacc-nowrite-wrap li > a > span:last-child {float:right; font-size:20px; color:#2896c3; font-weight:bold;}
.eacc-nowrite-wrap li > a > span:last-child > span {font-size:14px; font-weight:normal;}

.alertDate {position:relative; position:absolute; top:8px; margin-left:5px;}
.alertDate.type02 {top:5px;}
.alertDate:after {content:''; clear:both;}
.alertDateBtn {display:inline-block;}
.alertDateBtn.type02 img {width:38px; height:auto;}
.alertDateBtn img{width:24px; height:auto;}
.alertDate-content {display:none; position:absolute; left:3px; top:30px; border:2px solid #37aad9; min-width:160px;
							box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); z-index: 1; background:#fff url("/images/com/new_eAcc/goArrow.gif") no-repeat center right 13px;}
.alertDate-content span {color:#555; padding-left:10px; height:34px; line-height:34px; text-decoration:none; display:block; font-size:13px;}
.alertDate:hover .alertDate-content {display:block;}
/* .alertDate-content span:hover {border-top:4px solid #44a5cd; height:26px; line-height:22px;} */

/* === 퀵메뉴 === */
.eacc-quick-wrap {height:88px; overflow:hidden;}
.eacc-quick-wrap li {float:left; text-align:center; border-left:1px solid #d6dce6;}
.eacc-quick-wrap li:first-child {border-left:none;}
.eacc-quick-wrap li a {display:inline-block; width:149px; padding:10px 0; color:#555;}
.eacc-quick-wrap li a:hover {background:#f6f8fc; border-top:4px solid #44a5cd; padding:6px 0 22px 0;}
.eacc-quick-wrap li a span {display:block; font-size:13px;}

/* === 게시판 === */
.eacc-board {height:471px; overflow:hidden; position:relative;}
.eacc-board-tit {height:52px; line-height:52px; border-bottom:1px solid #d6dce6;}
.eacc-board-tit h3 {padding-left:18px; font-size:14px; color:#555555;}
.board-more-btn {position:absolute; top:7px; right:20px; dispaly:inline-block; font-size:26px; color:#555;}

.eacc-board-con {}
.eacc-board-con table {table-layout:fixed; width:100%;}
.eacc-board-con table tr {height:38px;}
.eacc-board-con table tr:nth-child(even) {background:#f4f7fa;}
.eacc-board-con table tr td {text-align:center; color:#555 !important}
.eacc-board-con table tr td:last-child {padding-top:5px;}

.eacc-board .budgetSch{margin:13px;}
.scrolltbody{display:block; width:100%; border-collapse: collapse; border-bottom:1px solid #d6dce6;}
.scrolltbody th, .scrolltbody td{box-sizing:border-box;background:#fff;border-bottom:1px dashed #d6dce6;}
.scrolltbody tr {height:30px !important;}
.scrolltbody thead{border:1px solid #d8d8d8; border-bottom:none;}
.scrolltbody th{background:#9bacbc; color:#fff; border-bottom:none; font-size:13px; font-weight:400;}
.scrolltbody td{border-right:1px solid #d6dce6;}
.scrolltbody td:nth-child(1) {padding-left:10px;}
.scrolltbody td:nth-child(2) {padding-right:10px;}
.scrolltbody tr:last-child th, .scrolltbody tr:last-child td {border-bottom:none;}

.scrolltbody tbody {display:block; height:365px; overflow:auto;}
.scrolltbody th:nth-of-type(1), .scrolltbody td:nth-of-type(1) {width:236px;}
.scrolltbody th:nth-of-type(2){width:236px;}
.scrolltbody td:nth-of-type(2){border-right:none; width:-webkit-calc(236px - 17px); width:-moz-calc(236px - 17px);width:calc(236px - 17px);}

.eacc-board.notice {height:325px;}
.eacc-notice-wrap {}
.eacc-notice-wrap li {position:relative; border-top:1px solid #d6dce6;}
.eacc-notice-wrap li:first-child {border-top:none;}
.eacc-notice-wrap li > a {display:block;overflow:hidden; height:38px; line-height:38px; font-size:13px; padding:0 20px; box-sizing:border-box;}
.eacc-notice-wrap li > a:hover {background-color:#f6f8fc; border-left:4px solid #44a5cd; box-sizing:border-box; padding-left:16px;}
.eacc-notice-wrap li .blueTxt {color:#44a5cd; font-size:12px; margin-right:5px;}
.eacc-notice-wrap li .date {color:#959595; font-size:12px;}

/* 게시판 타이틀 말줄임 */
.board-ellipsis {display:block; width:100%; font-size:12px;}
.board-ellipsis:hover {color:#44a5cd;}
.board-ellipsis > span:first-child {display:inline-block;width:73%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.eacc-notice-wrap .board-ellipsis > span:first-child {width:68%;}
.eacc-notice-wrap .board-ellipsis:hover {color:#555;}

/* === 일정 === */
.eacc-box-wrap.schedule {background:#5a626a !important; border:none;}
.eacc-schedule {height:131px; color:#fff !important; overflow:hidden;}
.eacc-schedule-left {float:left; width:30%; padding-top:5px; font-size:12px; line-height:1.2;}
.eacc-schedule-left p {padding:0 20px; font-size:13px; line-height:1.3;}
.eacc-schedule-left .bigFont {font-size:44px;}
.eacc-schedule-right {float:left; width:70%; height:100%;}
.eacc-schedule-list {height:90%; padding:5% 20px; border-left:1px solid #8b9199;}
.eacc-schedule-list li{padding-left:25px; padding-top:10px; font-size:13px;
								background:url("/images/com/new_eAcc/schedule-check.png") no-repeat top 10px left;}
.eacc-schedule-list li:fist-child {padding-top:none;}
								
.eacc-footer {text-align:center; margin-top:1%; padding-top:1%; }

/* === 공지사항 레이어팝업 === */
.noticePop {display:none; Z-INDEX: 201; POSITION: fixed; left:80px; top:80px; box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3); width:400px; height:500px;}
.noticePopWrap {overflow:hidden; background:#fff; width:100%; height:100%;}
.noti-slider-wrap {width:100%; height:100%; position:relative}
.noti-view {width:100%; height:100%; position:relative;}

.noti-slider {height:94%; position:relative;}
.noti-slider li {width:100%; height:100%; position:absolute;}
.noticePopTit {border-bottom:1px solid #d8d8d8; color:#555; height:36px; line-height:36px; padding:0 15px; font-weight:bold; font-size:14px;}
.noticePopCon {border-bottom:1px solid #d8d8d8; color:#555; height:calc(100% - 56px); padding:10px 15px; overflow-y:auto;}

.noti-slider-wrap .noti-controls {position: absolute; bottom:5px; width:100%; text-align:center;}
.noti-slider-wrap .noti-cont-list {}
.noti-slider-wrap .noti-cont-list li {display: inline-block; margin-left:7px;}
.noti-slider-wrap .noti-cont-list li:first-child {margin-left:0;}
.noti-slider-wrap .noti-cont-list li span {display:block; width:10px; height:10px; border-radius:50%; background-color:#93a7bf; cursor:pointer;}
.noti-slider-wrap .noti-cont-list li.active span {background-color:#478edc;}

.notiFooter {background:#5a626a; padding:10px 15px; font-size:13px; color:#fff; overflow:hidden; box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3);}
.notiFooter input {display:inline-block; width:16px; height:16px; vertical-align:middle; margin-right:5px;}
		
/* 메인 내정보변경 팝업 */
.profilePop {display:none; Z-INDEX: 201; POSITION: fixed; left:633px; top:112px; box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3); width:400px; height:580px;}
.profilePopWrap {overflow:hidden; background:#fff; width:100%; height:100%;}
.profilePopTit {background:#44a5cd; color:#fff; height:36px; line-height:36px; padding:0 15px; font-weight:bold; font-size:14px;}
.profilePopCon {color:#555; height:calc(100% - 86px); padding:10px 15px; overflow-y:auto;}
		
.profilePopFooter {text-align:right; padding:0 10px; background:#5a626a; height:30px; line-height:30px; font-size:13px; color:#fff; overflow:hidden; box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3);}
		
		
		
		
		