@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); /* 나눔고딕 */
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css); /* 나눔명조 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /* 본고딕 */
@import "component.css";
@import "space.css";

/*
 * Project		:	헬로컴퍼니 2017
 * File			:	common.css
 * Author		:	youngjae lee
 * Date			:	Aug 2016.
 * Description	:	문서 초기화,웹폰트,글로벌 클래스 네임,레이아웃
 */

/******** web reset ************************************************************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button {font-family:'Noto Sans KR', '본고딕', sans-serif;font-size:12px;overflow-x:hidden;color:#414141;} /* color값은 디자인가이드에 맞게사용 */
a {color:inherit;text-decoration:none;cursor:pointer;}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
iframe{border:none;width:100%;height:100%}
table {border-spacing:0;border-collapse:collapse;}
/* body {background:#fff;} */
caption {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}


/******** 본문바로가기 style ************************************************************************************************/
div#skipMenu>a{width:100%;	padding:10px 0;	text-align:center; background:#3290c4; position:absolute; top:-100px; left:0; display:inline-block; color:#eaeaea; font-size:14px; font-weight:bold;}
div#skipMenu>a:focus{top:0; z-index:9999;}

/******** font style **********************************************************************************************/
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

/******** Global Classname *******************************************************************************************/
/* 텍스트 제공 타입 */
.ir-pm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa{display:block; overflow:hidden; position:relative; z-index:-10; width:100%; height:100%;} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out{overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.cancel{text-decoration:line-through; color:#cccccc;}
.ellipsis01{height:18px;display:-webkit-box !important;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical;word-wrap:break-word;} /* 한줄 말 줄임 */
strong:after {content:'*';display:inline-block;margin-left:5px;color:#3494f3;font-weight:bold;font-size:14px;}
.cancel {text-decoration:line-through;color:#ccc;}
.bold {font-weight:bold;}
.ps {font-weight:bold;}
.ps:before {content:'*';display:inline-block;margin-left:5px;color:#3494f3;font-weight:bold;font-size:14px;}
.txt-red {color:red;}
.txt-green {color:#1fb5ac;}
.txt-blue {color:#5689cc;}

input:-webkit-autofill {-webkit-box-shadow:0 0 0px 1000px #fff inset; -webkit-text-fill-color:#555d65 !important;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#989898;font-size:12px;}
::-moz-placeholder { /* Firefox 19+ */ color:#989898;font-size:12px;}
:-ms-input-placeholder { /* IE 10+ */ color:#989898;font-size:12px;}
:-moz-placeholder { /* Firefox 18- */ color:#989898;font-size:12px;}

/* useful */
.skip{width:1px; height:1px; font-size:0; line-height:0; position:absolute; left:-999px; overflow:hidden; visibility:hidden;}
.dimm{position:fixed; top:0; left:0; bottom:0; right:0; z-index:95; background:#000000 !important;opacity:0.5; filter:alpha(opacity=50);}
.cl-b{width:0; height:0; font-size:0; line-height:0; clear:both}
.show{display:block}
.hide{display:none}
.clear-g{display:block; overflow:visible; width:auto; clear:both; *zoom:1;}
.clear-g:after{display:block; visibility:hidden; height:0; font-size:0; clear:both; content:'';}
.t-l{text-align:left !important;}
.t-r{text-align:right !important;}
.overflow{overflow:hidden;}

/* 위치 속성 공통 클래스 */
.f-l{float:left}
.f-r{float:right}
.rel{position:relative;}
.ab{position:absolute; z-index:1;}
.ab-l{position:absolute; top:0; left:0;}
.ab-r{position:absolute; top:0; right:0;}
.center{position:absolute; left:50%;}
.middle{position:absolute; top:50%;}
.btn-r {position:absolute;top:0px;right:1px;}
.ab-n {position:inherit;}

/* loading bar */
#loading {position:fixed;_position:absolute;top:0px;left:0px;width: 00%;height:100%;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.loading {background-color:transparent;z-index:199;}
#loading_img{position:absolute;top:50%;left:50%;height:35px;margin-top:-75px;margin-left:-75px;z-index:200;}

/******** layout / common style ************************************************************************************************/

/* webkit-scroll bar custom (safari) */
.nav::-webkit-scrollbar {width:0px}
.nav::-webkit-scrollbar-track {background:transparent;}
.nav::-webkit-scrollbar-thumb {-webkit-border-radius:0px;border-radius:0px;background:#ccc}
.nav::-webkit-scrollbar-thumb:window-inactive {background:#ccc}

.section::-webkit-scrollbar {width:0px}
.section::-webkit-scrollbar-track {background:#f2f2f2;}
.section::-webkit-scrollbar-thumb {-webkit-border-radius:0px;border-radius:0px;background:#f2f2f2}
.section::-webkit-scrollbar-thumb:window-inactive {background:#f2f2f2}

/* whole layout */
#wrapper{width:100%; height:100%; overflow:hidden;}
#header{min-width:980px; max-width:100%; height:58px; background:#37aad9;}
#main {position:absolute;top:58px;bottom:0;right:0;left:0;overflow:hidden;}
#aside {position:fixed;z-index:1;left:0;width:200px;overflow:hidden;transition:0.3s;background:#71b1d1;}
#section {transition:margin-left .3s;overflow:hidden;background:#fff;}
#nav-list {transition:0.1s;}
#container {float:left;overflow-y:hidden;overflow-x:hidden;width:100%; background:#fff;
				-webkit-box-shadow: inset 0px 3px 6px 0px rgba(113,116,119,1);
				-moz-box-shadow: inset 0px 3px 6px 0px rgba(113,116,119,1);
				box-shadow: inset 0px 3px 6px 0px rgba(113,116,119,1);}
#container .cont-inner {position:relative;height:100%;}
#container .cont-inner.scl {overflow:hidden;overflow-y:auto !important;}
#contents {padding:15px; height:100%;}

/* GNB */
#header .left-toggle{position:fixed; top:14px; left:18px; width:20px; height:17px; background:url(/images/com/web/left_close.png) no-repeat; display:block; cursor:pointer;}
#header .left-open{background:url(/images/com/web/left_open.png) no-repeat;}

#header .ci{float:left; width:205px; padding-top:7px; text-align:center; background:url(/images/com/new_eAcc/line_2.png) no-repeat right center; cursor:pointer;}

.gnb-list{float:left; margin-left:25px;}
ul#gnb{position:relative; z-index:100;}
/* Root Menu */
ul#gnb a{padding:16px 22px; text-align:center; float:left; display:block; color:#ffffff; font-size:16px;}
ul#gnb li.selected a {color:#71b1d1;}
/* Root Menu Hover Persistence */
ul#gnb a:hover,ul#gnb li:hover a,ul#gnb li.iehover a{background:#fff; color:#37aad9;}
ul#gnb > li > a:hover,ul#gnb > li:hover > a,ul#gnb > li.iehover > a{padding:18px 21px; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
/* 2depth */
ul#gnb ul{display: none; position:absolute; top:100%; left: 0;}
/* 3depth, 4depth */
ul#gnb ul ul,ul#gnb ul ul ul{top:0; left:100%; }
ul#gnb li{float:left; display:inline; position:relative;}
ul#gnb ul li{width:100%; display:block;}

/* 2nd Menu */
ul#gnb li ul{box-sizing:border-box; -moz-box-sizing:border-box; border:1px solid #d1d1d1; border-top:none;}
ul#gnb li ul a{padding:0; width:132px; padding:10px 0 5px 8px;}
ul#gnb li:hover li a, ul#gnb li.iehover li a{float:none; background:#ffffff; color:#519bbd; font-size:13px; text-align:left;}
/* 2nd Menu Hover Persistence */
ul#gnb li:hover li a:hover,ul#gnb li:hover li:hover a,ul#gnb li.iehover li a:hover,ul#gnb li.iehover li.iehover a{background:#f3f3f3;}
/* 3rd Menu */
ul#gnb li:hover li:hover li a,ul#gnb li.iehover li.iehover li a{background:#ffffff;}
/* 3rd Menu Hover Persistence */
ul#gnb li:hover li:hover li a:hover,ul#gnb li:hover li:hover li:hover a,ul#gnb li.iehover li.iehover li a:hover,ul#gnb li.iehover li.iehover li.iehover a{background:#f3f3f3;}
/* 4th Menu */
ul#gnb li:hover li:hover li:hover li a,ul#gnb li.iehover li.iehover li.iehover li a{background:#ffffff;}
/* 4th Menu Hover */
ul#gnb li:hover li:hover li:hover li a:hover,ul#gnb li.iehover li.iehover li.iehover li a:hover{background:#ffffff;}
/* Hover Function - Do Not Move */
ul#gnb li:hover ul ul,ul#gnb li:hover ul ul ul,ul#gnb li.iehover ul ul,ul#gnb li.iehover ul ul ul{display: none;}
ul#gnb li:hover ul,ul#gnb ul li:hover ul,ul#gnb ul ul li:hover ul,ul#gnb li.iehover ul,ul#gnb ul li.iehover ul,ul#gnb ul ul li.iehover ul{display: block;}

.gnb-side{float:right;}
.gnb-side ul li{float:left; padding:0 15px; color:#fff; background:url(/images/com/new_eAcc/line_2.png) 0 center repeat-y; height:58px; line-height:58px; cursor:pointer;}
.gnb-side ul li:first-child{background-image:none;}

.gnb-side .lang-sel select{background: transparent; border:none; color:#fff; outline:none; font-size:12px; margin-top:-3px;}
.gnb-side .lang-sel select option{color:#414141;}
.gnb-side img{margin:-2px 0 0 10px; display:inline-block; width:35px; height:auto; vertical-align:middle;}

/*  LNB,SNB : navigation
 * 디자인 리뉴얼시 사이드 네비게이션 스타일은 클래스 nav부터 html 구조는 그대로 사용 가능,스타일은 디자인에 맞게 하단에서 수정 
 */
#nav{overflow-y:auto;overflow-x:hidden;margin-right:-17px;background:#71b1d1;height:100%; z-index:1;}/* 네비게이션 영역 / margin과 padding값은 스크롤바를 영역 밖으로 안보이도록 하기 위함(스크롤바 17px,chrome,IE) */
.jquery-accordion-menu ul li{width:100%; display:block; float:left; position:relative;cursor:pointer;}
/* .jquery-accordion-menu ul li.on a {border-left-color:#3e84a4} */
.jquery-accordion-menu ul li a{width:100%; padding:14px 22px; float: left; color: #f0f0f0; font-size:15px; background:#414956; white-space:nowrap; position:relative; overflow:hidden;
							-o-transition: color .2s linear,background .2s linear; -moz-transition: color .2s linear,background .2s linear; -webkit-transition: color .2s linear,background .2s linear; transition: color .2s linear,background .2s linear}
.jquery-accordion-menu>ul>li.active>a, .jquery-accordion-menu>ul>li:hover>a{color:#fff;	background:#3b424d}			
.jquery-accordion-menu .submenu-indicator{display:inline-block; position:absolute; top:center; right:80px; line-height: 19px; font-size:20px ; -o-transition: transform .3s linear;
										-moz-transition: transform .3s linear; -webkit-transition: transform .3s linear; -ms-transition: transform .3s linear}
.jquery-accordion-menu #nav-list .submenu .submenu-indicator{position:absolute; top:center; right:95px;}
.jquery-accordion-menu ul ul.submenu .submenu-indicator{line-height:16px}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{-ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg)}
.jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu{width:100%; display:none;}
.jquery-accordion-menu ul ul.submenu li{clear:both; width: 100%}
.jquery-accordion-menu ul ul.submenu li a{width:100%; float:left; font-size:13px; background:#3c454f; border-top:none; position:relative; border-left:solid 6px transparent;
										-o-transition: border .2s linear; -moz-transition: border .2s linear; -webkit-transition: border .2s linear;	transition: border .2s linear}
.jquery-accordion-menu ul ul.submenu li:hover>a {border-left-color:#414956}
.jquery-accordion-menu ul ul.submenu>li.pg-move.active>a{border-left-color:#71b1d1; color:#71b1d1;}

.jquery-accordion-menu ul ul.submenu>li>a{padding-left:30px;}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{padding-left:45px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{padding-left:60px}
.jquery-accordion-menu ul ul.submenu.open{display:block;}
/* .jquery-accordion-menu ul ul.submenu.open li a {border-left-color:#3e84a4} */

/* 클릭시 메뉴 반짝 거리는 효과 */
.ink{display:block; position:absolute; background:rgba(255,255,255,.3);	border-radius:100%;
	-webkit-transform:scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0)}
.animate-ink{	-webkit-animation: ripple .5s linear; -moz-animation: ripple .5s linear; -ms-animation: ripple .5s linear; -o-animation: ripple .5s linear; animation: ripple .5s linear}
@-webkit-keyframes ripple{100%{opacity:0; -webkit-transform: scale(2.5)}}
@-moz-keyframes ripple{100%{opacity:0; -moz-transform: scale(2.5)}}
@-o-keyframes ripple{100%{opacity:0; -o-transform:scale(2.5)}}
@keyframes ripple{100%{opacity:0; transform:scale(2.5)}}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a{
	background:#519bbd
}
.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a{
	background:#3e84a4
}

.blue.jquery-accordion-menu ul ul.submenu li:hover>a{
	border-left-color:#3e84a4
}

/******** jquery plugin style / calendar ************************************************************************************************/
.yearText:after{content:'년'}
.gldp-flatwhite{position:absolute;padding:6px 0 6px 6px;background-color:#f2f2f2;font-size:12px;
box-shadow:0px 0px 5px rgba(0,0,0,0.5);
-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
   -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	-ms-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	 -o-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.gldp-flatwhite .core{float:left;position:relative;background-color:#ffffff;text-align:center;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}
.gldp-flatwhite .monyear,
.gldp-flatwhite .monyear select{margin-top:6px;background-color:#ffffff;color:#4c4c4c}
.gldp-flatwhite .monyear span{margin:0 5px}
.gldp-flatwhite .prev-arrow,
.gldp-flatwhite .next-arrow{text-shadow:1px 1px 0 rgba(255, 255, 255, 0.75);}
.gldp-flatwhite .prev-arrow:hover,
.gldp-flatwhite .prev-arrow:focus,
.gldp-flatwhite .prev-arrow:active,
.gldp-flatwhite .next-arrow:hover,
.gldp-flatwhite .next-arrow:focus,
.gldp-flatwhite .next-arrow:active{color:#fb6e52}
.gldp-flatwhite .prev-arrow-off,
.gldp-flatwhite .next-arrow-off{color:#cfcfcf}
.gldp-flatwhite .dow{background-color:#f2f2f2;cursor:default}
.gldp-flatwhite .sat{color:blue}
.gldp-flatwhite .sun{color:red}
.gldp-flatwhite .outday{color:#cfcfcf !important}
.gldp-flatwhite .mon,
.gldp-flatwhite .tue,
.gldp-flatwhite .wed,
.gldp-flatwhite .thu,
.gldp-flatwhite .fri,
.gldp-flatwhite .sat,
.gldp-flatwhite .sun,
.gldp-flatwhite .selected{
border:2px solid #ffffff;
-webkit-border:2px solid #ffffff;
   -moz-border:2px solid #ffffff;
    -ms-border:2px solid #ffffff;
     -o-border:2px solid #ffffff;
}
.gldp-flatwhite .mon:hover,
.gldp-flatwhite .tue:hover,
.gldp-flatwhite .wed:hover,
.gldp-flatwhite .thu:hover,
.gldp-flatwhite .fri:hover,
.gldp-flatwhite .sat:hover,
.gldp-flatwhite .sun:hover{background-color:#eeeeee}
.gldp-flatwhite .noday{color:#f9f9f9;cursor:wait !important}
.gldp-flatwhite .selected{border:2px solid #fb6e52;background:#fb6e52 !important;color:#ffffff;font-weight:bold}
.gldp-flatwhite .today{border:2px solid #fb6e52;color:#fb6e52;font-weight:bold}

/******** jquery plugin style / file download ************************************************************************************************/
.attachFile{display:block;height:22px;margin-bottom:5px}
.jquery-filestyle {display:inline-block;padding:4px 20px;background:#fff;border:1px solid #3494f3;color:#3494f3 !important;font-size:12px;cursor:pointer}}
.jquery-filestyle label{padding:0 20px}
.jquery-filestyle *{color:inherit !important;vertical-align:top;cursor:pointer}
.fileDownLst .btnType01{margin-left:5px}
.fileDownLst > .MultiFile-label{margin-top:5px}
.fileDownLst > .MultiFile-label:first-child{margin-top:0}
.MultiFile-label{font-size:12px}
.MultiFile-remove{float:left;display:inline-block;margin:1px 3px 0 0;}
.icn_fileDel{display:inline-block;height:8px;line-height:1.0;padding:0px 3px 8px 3px;background:#3494f3;}
.icn_fileDel img{width:8px;height:8px}
.MultiFile-export{display:inline-block;width:15px;padding:0 5px;border:1px solid #4b97bd;text-align:right;vertical-align:top;background:#4b97bd; color:white;}
.MultiFile-export input{width:100%;padding-top:2px;line-height:1em;background:none;color:#4f525a;font-size:12px;font-weight:normal;text-align:right;outline:none}
.MultiFile-title {display:inline-block;margin-top:3px;}

.fileLst02 > li{margin-top:3px}
.fileLst02 > li:first-child{margin-top:0}
.fileLstDown{display:inline-block;padding-left:12px;background:url(/images/com/web/icon_file_list.png) left 5px no-repeat;vertical-align:top}
.fileLstDown:hover,
.fileLstDown:focus{color:#fb6e52;text-decoration:underline}
.btnAdd{position:absolute;top:15px;right:20px}

.imgFile, .docFile {position:relative;}
.imgFile .attach-i, .docFile .attach-i {position:absolute;left:90px;top:4px;color:#2872bb;}
.fileWrap {padding:3px 0 0;}
.fileWrap.type-inline {position:relative;width:100%;height:30px;padding:0;}
.fileWrap.type-inline .attachFile {position:absolute;top:6px;margin:0;display:inline-block;}
.fileWrap.type-inline .fileList {position:absolute;left:90px;top:5px;margin:0;padding:0;display:inline-block;border:none;}
.fileList, .imgFileList, .docFileList {box-sizing:border-box;padding:5px;margin-top:10px;overflow-y:auto;border:1px solid #e0e0e0;}
.fileList {border:none;}

.btnFile{display:inline-block;position:relative;vertical-align:top}
.btnFile a{display:inline-block;height:12px;line-height:12px;padding:4px 20px;border:1px solid #41515d;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#41515d !important;font-size:12px;vertical-align:top;z-index:10}
.btnFile input{overflow:hidden;position:absolute;top:2px;left:2px;width:0;height:0;border:none;background:none}
.btnAdd{position:absolute;top:15px;right:20px}

/******** 프린트 설정 ************************************************************************************************/
@media print {
    .price_match_no_print {
        display:none !important;
    }
}
@page a4sheet{size:21.0cm 29.7cm}
.a4{page:a4sheet; page-break-after;always}
.expnSignLst .expnApprSts{float:left;width:40%;margin-top:7px;margin-left: 5px;}
.apprTitType{padding-bottom:5px;padding-left:7px;color:#4c4c4c;font-size:16px;font-weight:bold;text-indent:-7px}
.apprTitType:before{content:'| ';color:#fb6e52}
.estmtLst > li{margin-top:20px}
.estmtLst > li:first-child{margin-top:0}
.estmtPrsn{position:absolute;z-index:999;top:0px;left:24px;}
.estmtPrsn.admin{position:absolute;z-index:999;top:10px;left:24px;}
.estmtPrsn:after{content:'';display:block;overflow:hidden;line-height:0;clear:both}
.estmtPrsn > *{float:left}

.prsnAddArea{min-height:0 !important;height:20px;line-height:19px;}
.estmtPrsn02{position:absolute;z-index:999;top:10px;left:24px;}
.estmtPrsn02:after{content:'';display:block;overflow:hidden;line-height:0;clear:both}
.estmtPrsn02 > *{float:left}
.estmtPrsn02 > .tit-inq{margin-right:10px}
                    
                    
/******** WINDOW POPUP ************************************************************************************************/
.pop-header {position:fixed !important;background:#3c454f !important;border:none !important;letter-spacing:1px;}
.pop-header h3 {margin:10px 15px;color:#fff;font-weight:bold;font-size:16px;}
/* .pop-body {position:absolute;top:45px;left:0;overflow-y:auto;} */
.pop-bottom {position:fixed;bottom:0;left:0;box-sizing:border-box;padding-top:8px;width:100%;height:45px;border-top:1px solid #e0e0e0;text-align:center;}

/******** LAYER POPUP ************************************************************************************************/
.popArea{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100}
.popDimm{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:#000000;opacity:0;z-index:110}
.popWrap{position:fixed;top:50%;left:50%;width:280px;margin-left:-140px;z-index:120;
perspective:600px;
-webkit-perspective:600px;
   -moz-perspective:600px;
	-ms-perspective:600px;
	 -o-perspective:600px;
}
.popWrap.type02{width:230px;margin-left:-115px;}
.popFront,
.popBack{position:absolute;top:0;left:0;right:0;bottom:0;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;opacity:0;
transform-style:preserve-3d;
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	 -o-transform-style:preserve-3d;
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	 -o-backface-visibility:hidden;
}
.popFront{background-color:#ffffff;opacity:0}
.popBack{background-color:#fb6e52}
.popArea.on{display:block}
.popArea.on .popDimm{
animation:popDimm 0.4s forwards;
-webkit-animation:popDimm 0.4s forwards;
   -moz-animation:popDimm 0.4s forwards;
	-ms-animation:popDimm 0.4s forwards;
	 -o-animation:popDimm 0.4s forwards;
}
.popArea.on .popFront{
animation:popFront 1.2s ease-in-out forwards;
-webkit-animation:popFront 1.2s ease-in-out forwards;
   -moz-animation:popFront 1.2s ease-in-out forwards;
	-ms-animation:popFront 1.2s ease-in-out forwards;
	 -o-animation:popFront 1.2s ease-in-out forwards;
}
.popArea.on .popBack{
animation:popBack 1.2s ease-in-out forwards;
-webkit-animation:popBack 1.2s ease-in-out forwards;
   -moz-animation:popBack 1.2s ease-in-out forwards;
	-ms-animation:popBack 1.2s ease-in-out forwards;
	 -o-animation:popBack 1.2s ease-in-out forwards;
}
.popArea.close{opacity:0}
.popTit{position:absolute;top:0;left:0;right:0;padding:8px 15px;border-bottom:1px solid #e6e6ee;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;background-color:#ffffff;color:#fb6e52;font-size:0.750rem;font-weight:bold;z-index:10}
.popInner{overflow:hidden;position:relative;padding:48px 10px 12px}
.popInner.type02{padding-top:64px}
.popInner.type03{padding:25px;}
.popArea .btnWrap{margin-top:20px}
.popArea .btnWrap.type02{margin-top:30px;}
.popArea .btnWrap.type02 a{margin:0 2px}
.popCfm .txtCfm{text-align:center;font-size:20px;}
.popCfm .accent{color:#fb6e52 !important}
.popCfm .btnType01{display:inline-block;padding:0 50px;margin-left:52px !important;}

.popArea.type02 .popFront,
.popArea.type02 .popBack{
animation:popOpen 0.4s forwards;
-webkit-animation:popOpen 0.4s forwards;
   -moz-animation:popOpen 0.4s forwards;
	-ms-animation:popOpen 0.4s forwards;
	 -o-animation:popOpen 0.4s forwards;
transform-style:initial;
-webkit-transform-style:initial;
   -moz-transform-style:initial;
	-ms-transform-style:initial;
	 -o-transform-style:initial;
backface-visibility:initial;
-webkit-backface-visibility:initial;
   -moz-backface-visibility:initial;
	-ms-backface-visibility:initial;
	 -o-backface-visibility:initial;

}


@-webkit-keyframes popDimm{
	0%{opacity:0}
	100%{opacity:0.5}
}
@-webkit-keyframes popOpen{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes popFront{
	0%{color:#ffffff;z-index:900;opacity:0;
	-webkit-transform:rotateY(180deg) translate(0);
	   -moz-transform:rotateY(180deg) translate(0)}
	30%{opacity:0;
	-webkit-transform:rotateY(180deg) translate(0);
	   -moz-transform:rotateY(180deg) translate(0)}
	70%{opacity:0;}
	100%{opacity:1;z-index:1000;
	-webkit-transform:rotateX(0deg) rotateY(0deg);
	   -moz-transform:rotateX(0deg) rotateY(0deg)}
}
@-webkit-keyframes popBack{
	0%{z-index:1000;opacity:0;
	-webkit-transform:rotateX(0deg) rotateY(0deg) translate(-80px);
	   -moz-transform:rotateX(0deg) rotateY(0deg) translate(-80px)}
	30%{opacity:1;
	-webkit-transform:rotateY(0deg) translate(0);
	   -moz-transform:rotateY(0deg) translate(0)}
	100%{opacity:1;z-index:900;
	-webkit-transform:rotateY(-180deg);
	   -moz-transform:rotateY(-180deg)}
}

/* 팝업  관련 CSS CLASS 추가  2016-10-06 */
.print-container{padding: 10px 10px;margin-bottom: 20px;}
.print-frm{padding: 5px;}
.head-wrap{width: 100%;text-align: center;}
.head-tit{display: inline-block;height: 25px;line-height: 25px;width:150px;border-radius: 10px;padding: 10px 10px;font-weight: bold;font-size: 25px;border:1px solid;font-family: '맑은 고딕',verdana,arial,helvetica,sans-serif;}
.memo-cont{padding: 25px;font-size: 16px !important;font-family: '맑은 고딕',verdana,arial,helvetica,sans-serif;}

/* 해상도 낮을 때 상단 깨지는 부분 관련 CSS추가 2016-10-26 */
@media all and (max-width:1224px){
	
	.user-info>span{padding-left:0; background:none;}
	.logout>a{padding-left:0; background:none;}
	
}






