@charset "utf-8";

/*
 * Project		:	설비관리 시스템
 * File			:	page.css
 * Author		:	YoungJae Lee
 * Date			:	Oct. 2018.
 * Description	:	QR코드 페이지 인쇄
 */

/* --------------------------------
	.printQrWrap : 8분할 
	.printQrWrap.quarterSt : 1/4 스타일
	.printQrWrap.halfSt : 1/2 스타일
------------------------------------ */

.printQrNoti {color: #2e4e96; font-size: 12px; font-weight: bold; padding-bottom: 20px; text-align: center;}
.printQrNoti span {display: inline-block; width: 20px; height: 20px; background: #f9ab65; border-radius: 50%; color: #fff; margin-right: 3px; font-weight: bold;}

.printQrWrap {overflow:hidden; height:1200px; width:70%; margin: 0 auto; margin-bottom: 0.5cm; box-shadow: 0 0 0.2cm rgba(0,0,0,0.5); background:#fff;}
.printQrWrap.horizonSt {width:100%; height:752px;}
.printQrWrap * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* 8분할 */
.printQrLst {float:left; width:50%; height:280px; background:#fff; margin:10px 0;}
.printQrLstIn {border:1px solid #383a39; height:100%; margin:0 10px;}
.printQrTit {font-size:18px; font-weight:bold; height:40px; line-height:40px; background:#fafafa; text-align:center;}
.printQrTit img {display:inline-block; margin-right:5px; width:auto; height:30px; margin-left:-25px;}

.printQrCon {width:100%; height:198px; border-top: 1px solid #ddd; overflow:hidden;}
.printQrCon .printQr {float:left; width:40%; height:100%; position:relative; text-align:center;}
.printQrCon .printQr img {width:100%; height:auto; margin-top:20px;}
.printQrCon .printQrInfo {float:left; width:60%; height:100%;}
.printQrCon .printQrInfo .printQrInfoLst {width:100%; text-align:left;}
.printQrCon .printQrInfo .printQrInfoLst > div {padding:8px 10px; font-size: 16px; font-weight: bold;}
.printQrCon .printQrInfo .printQrInfoLst > div p {font-size: 13px; color: #2e4e96;}
.printQrCon .printQrInfo .printQrInfoLst:first-child > div {margin-top:37px;}

.printQrLogo {border-top:1px solid #ddd; background:#fafafa; height:40px; line-height:40px; text-align:center;}
.printQrLogo img {margin-top:12px; width:auto; height:15px;}

/* 4분할 - .printQrWrap.quarterSt */
.printQrWrap.quarterSt .printQrLst {height:356px;}
.printQrWrap.quarterSt .printQrTit {height:50px; line-height:50px;}
.printQrWrap.quarterSt .printQrTit img {height:40px;}

.printQrWrap.quarterSt .printQrCon {height:254px;}
.printQrWrap.quarterSt .printQrCon .printQr img {margin-top:18px;}
.printQrWrap.quarterSt .printQrCon .printQrInfo .printQrInfoLst > div {padding:13px 10px; font-size:18px;}
.printQrWrap.quarterSt .printQrCon .printQrInfo .printQrInfoLst > div p {font-size: 15px;}
.printQrWrap.quarterSt .printQrCon .printQrInfo .printQrInfoLst:first-child > div {margin-top:50px;}

.printQrWrap.quarterSt .printQrLogo {height:50px; line-height:50px;}
.printQrWrap.quarterSt .printQrLogo img {margin-top:14px; height:20px;}

/* 2분할 - .printQrWrap.halfSt */
.printQrWrap.halfSt .printQrLst {float:none; width:100%; height:585px;}
.printQrWrap.halfSt .printQrTit {font-size:22px; height:70px; line-height:70px;}
.printQrWrap.halfSt .printQrTit img {height:50px;}

.printQrWrap.halfSt .printQrCon {height:443px;}
.printQrWrap.halfSt .printQrCon .printQr {width:45%;}
.printQrWrap.halfSt .printQrCon .printQr img {margin-top:45px;}
.printQrWrap.halfSt .printQrCon .printQrInfo {width:55%}
.printQrWrap.halfSt .printQrCon .printQrInfo .printQrInfoLst > div {padding:20px 10px; font-size: 26px;}
.printQrWrap.halfSt .printQrCon .printQrInfo .printQrInfoLst > div p {font-size: 18px;}
.printQrWrap.halfSt .printQrCon .printQrInfo .printQrInfoLst:first-child > div {margin-top:95px;}

.printQrWrap.halfSt .printQrLogo {height:70px; line-height:70px;}
.printQrWrap.halfSt .printQrLogo img {margin-top:20px; height:30px;}


.breakBefore { page-break-before: always; page-break-inside: avoid;}




/* 인쇄 */
@media screen {
	#printSection {
		display: none;
	}
}

@media print {
	html, body {margin:0 !important; padding:0 !important; width:100%; height:100%; overflow:visible !important;}
	.modal-open > *:not(#printSection) {
		display: none;
	}
	#printSection, #printSection * {
		visibility: visible;
	}
	#printSection {
		position:absolute;
		left:0;
		top:0;
	}
	.modal-dialog{
		display: none;
	}
	
	/* background image print */
	* {-webkit-print-color-adjust:exact; color-adjust: exact !important;} /* Chrome, Safari, Firefox */
	
	.printQrNoti,
	.printQrNoti span {display:none;}
	.printQrWrap {width:100%; height:auto; margin-bottom:0; box-shadow:none;}
	.printQrWrap.horizonSt {width:100%; height:auto;}
	
	/* 8분할 - .printQrWrap */
	.printQrWrap .printQrLst {height:240px;}
	.printQrWrap .printQrCon {height:158px;}
	.printQrWrap .printQrCon .printQr img {margin-top:10px;}
	.printQrWrap .printQrCon .printQrInfo .printQrInfoLst:first-child > div {margin-top:15px;}
	
	/* 4분할 - .printQrWrap.quarterSt */
	.printQrWrap.quarterSt .printQrLst {height:320px;}
	.printQrWrap.quarterSt .printQrCon {height:218px;}
	.printQrWrap.quarterSt .printQrCon .printQr img {margin-top:8px;}
	.printQrWrap.quarterSt .printQrCon .printQrInfo .printQrInfoLst:first-child > div {margin-top:27px;}
	
	/* 2분할 - .printQrWrap.halfSt */
	.printQrWrap.halfSt {width:21cm; height:29cm;}
	.printQrWrap.halfSt .printQrLst {height:510px;}
	.printQrWrap.halfSt .printQrCon {height:368px;}
	.printQrWrap.halfSt .printQrCon .printQr img {margin-top:10px;}
	.printQrWrap.halfSt .printQrCon .printQrInfo .printQrInfoLst:first-child > div {margin-top:70px;}
	
}
